Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

set ToO
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Properly store partner splits
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Round hoursMinutes timespans to nearest minute
  model-tests/shared/src/test/scala/explore/model/syntax/SyntaxSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs, Label model-tests PRs

Round hoursMinutes timespans to nearest minute (#3877)
  model-tests/shared/src/test/scala/explore/model/syntax/SyntaxSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs, Label model-tests PRs

migrate common code to lucuma-ui
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Replace NewType class
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/package.scala
  project/Versions.scala
Due: Label explore PRs

Create TimeSpanView
  common/src/main/scala/explore/components/TimeSpanView.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label common PRs, Label explore PRs

Replace with lucuma-ui timespan view
  common/src/main/scala/explore/components/TimeSpanView.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  model-tests/shared/src/test/scala/explore/model/syntax/SyntaxSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Use lucuma-ui timespan utils (#3881)
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  model-tests/shared/src/test/scala/explore/model/syntax/SyntaxSuite.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Restore time controllers
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

UI adjustments
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
Due: Label common PRs, Label explore PRs, Label model-testkit PRs, Label model-tests PRs

Remove some printlns
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Constraint selector should obey read only setting
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Obey readOnly on the proposal investigators tile
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

migrate visualization tooltips to primereact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTooltip.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

show dataset links, if valid
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Due: Label explore PRs

Show the partner flag on the investigators' list
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Due: Label explore PRs, Label model PRs

A few UI touches
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label common PRs, Label explore PRs

Fix links to external sites on help
  explore/src/main/scala/explore/HelpBody.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label explore PRs

Make sequence table columns resizable
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

Show a message when there are no observations in the proposal
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

fix rebase
  .vscode/settings.json
  explore/src/main/scala/explore/HelpBody.scala
Due: Label explore PRs

reformat settings.json
  .vscode/settings.json
Due: none

explicit httpClient
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Due: Label explore PRs

small simplification
  explore/src/main/scala/explore/HelpBody.scala
Due: Label explore PRs

fix
  explore/src/main/scala/explore/HelpBody.scala
Due: Label explore PRs

Update schema - delete CallForProposalType (moved to core)
  explore/src/main/scala/explore/common/ProposalQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Initial observation validations
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Support opening programs without a pi
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs

update resizer, enable in sequence
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label explore PRs

Add Observation Validations Table
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
Due: Label common PRs, Label explore PRs

avoid ObsSummaryTable remount
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

avoid ObsAttachmentsTable remount
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Due: Label explore PRs

fix aladin container with new resizer
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

remove comment
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

avoid remounts in FinderChartLinker
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
Due: Label explore PRs

avoid remounts in ProgramTable
  explore/src/main/scala/explore/programs/ProgramTable.scala
Due: Label explore PRs

avoid remounts in TimingWindowsPanel, in-cell errors
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Due: Label explore PRs

avoid remouns in ProgramUsersTable
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
Due: Label explore PRs

fix ObsSummaryTable regression
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
