Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

add test
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Support flip angle mode and fixes some edge cases
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Reset selection when coordinates change
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

remove group children from subscription
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

scaladoc
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
Due: Label model PRs

Use the correct format for autoComplete
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
Due: Label explore PRs

finishing touches
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

insert new obs in tree immediately
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

fix compilation
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Setup honeycomb telemetry
  common/src/main/public/environments.conf.json
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/model/TracingConfig.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/model/AppContext.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

rerender itc graph when basic config overriden
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Improvements to the buttons on configuration selection
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Run prettier
  common/src/main/public/environments.conf.json
Due: Label common PRs

undroppable fixed
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label common PRs, Label explore PRs

bump deps, remove workaround for droppable
  package-lock.json
  package.json
Due: none

show calibrations at the bottom of obs tree
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

discriminate updates to system groups
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

Enable local tracing
  common/src/main/public/environments.conf.json
Due: Label common PRs

Show science bands and allow setting/changing them.
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ScienceBandPopupMenu.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  model/shared/src/main/scala/explore/optics/all.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

simplify itc graph invocation
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

discriminate errors in sequence
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
Due: Label explore PRs

display errors when querying itc graphs
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

version
  project/Versions.scala
Due: none

new visits query, better errors
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

remove unused import
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
Due: Label explore PRs

remove telemetry log
  explore/src/main/scala/explore/Telemetry.scala
Due: Label explore PRs

Change SASS deprecated color function
  common/src/main/webapp/sass/datepicker/datepicker.scss
Due: Label common PRs

fix getting current time
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
Due: Label explore PRs

migrate to pragmatic-drag-and-drop
  package-lock.json
  package.json
  project/Versions.scala
Due: none

Update lucuma-catalog to fix target search
  common/src/main/scala/explore/common/SimbadSearch.scala
  project/Versions.scala
Due: Label common PRs

remove debug logging
  common/src/main/scala/explore/common/SimbadSearch.scala
Due: Label common PRs

start rearranging tiles
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs, Label model PRs

refactor to plot multiple targets
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

disable submission/retraction when program has a CfP that is due
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs, Label model PRs

rearrange plot parameters
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

plots use their set date/semester instead of obs time
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
Due: Label explore PRs, Label model PRs

Hide the message for empty trees in the obs list
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

temporary fix to use sbt in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

rearrange plot parameters
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
