Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Move reusability instance to common trait
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
Due: Label explore PRs, Label model PRs

back to lucuma-ui ColumnSelector, fix callbacks
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label explore PRs

UI Improvements
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Confirmation dialog to delete multiple targets
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSummaryActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs

Do local and remote delete
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common-queries PRs, Label explore PRs

Restore multiselction with shift/ctrl keys
  explore/src/main/scala/explore/targets/TargetSummaryActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Setup UI for importing a csv file with targets
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Use the catalog parser
  build.sbt
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label explore PRs

Create dialog box to show the import progress
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Better error handling
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Linting fix
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Due: Label common PRs, Label explore PRs

Small ui touches
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Migrate to latest lucuma-react and lucuma-ui
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/HelpIcon.scala
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/UnderConstruction.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

rebase
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Due: Label explore PRs

test
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Remove resizable tree area
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoResizablePanels.scala
  model/shared/src/main/scala/explore/model/enums/ResizableSection.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Migrate user prefs db
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1666889169090_drop_resizable_alea/down.sql
  hasura/user-prefs/migrations/default/1666889169090_drop_resizable_alea/up.sql
Due: Label common-graphql PRs

Bug fixes
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Css rework
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoResizablePanels.scala
Due: Label common PRs, Label explore PRs

Improvements to grid layout query and fix [sc-1749]
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridLayoutId.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1666972759430_rework_lucuma_grid_layout/down.sql
  hasura/user-prefs/migrations/default/1666972759430_rework_lucuma_grid_layout/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Refactorig of the panel state
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  model/shared/src/main/scala/explore/model/enums/SelectedPanel.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Remove react-resizable
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  package-lock.json
  package.json
  project/Settings.scala
Due: Label explore PRs

Convert Programs Popup to use primereact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Remove debugging line
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Make the target summary table virtualized
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Small ui improvements
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Switch to auto height table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Allow sorting by mag regardless of units
  explore/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Switch to prime Checkbox
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Move aladin to use sass
  common/src/main/webapp/sass/aladin.scss
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Saturation control
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Brightness control
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Improved logic
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/SliderView.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Store saturation/brightness on the user db
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/SliderView.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1667152250813_saturation_brightness/down.sql
  hasura/user-prefs/migrations/default/1667152250813_saturation_brightness/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Show errors per row imported
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label common PRs, Label explore PRs

Remove empty lines, tha table is not shown if empty
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Due: Label explore PRs

PR comments
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Show guide speed across the whole field
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

precompute itc exposure result
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

make spectroscopy matrix row ids unique
  model/js/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label model PRs
