Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Fix some compilation errors
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

update
  project/Versions.scala
Due: none

avoid remount on obs time change
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

show acquisitions when sequence is idle
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

prettier
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Remove partner field on user invitations
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
Due: Label explore PRs

fix 1 hour offset in datetimepicker
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

Don't show the tiles with attachment controls for guest users
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label common PRs, Label explore PRs

avoid blinks when selecting in target summary
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add hasura-cli to flake.nix
  flake.nix
Due: none

add Now button to obs time
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label common PRs, Label explore PRs

address pr comments
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
Due: Label common PRs, Label explore PRs

enable trage logging
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/TopBar.scala
Due: Label common PRs, Label explore PRs

Fix tile layouts for target summary table
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

remove from trees, add target button
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

tree working
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  flake.nix
  project/Versions.scala
Due: Label common PRs, Label explore PRs

badges
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

disable group editor
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Due: Label explore PRs

groups
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

disable obs editor
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model-tests/shared/src/test/scala/explore/model/ObservationSuite.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

prettier
  .vscode/settings.json
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Use the real duration to calculate the average PA
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Change allocations from Partners to TimeAccountingCategories
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/AllocationSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Allow changing S/N at in the advanced conf panel
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
Due: Label common PRs, Label explore PRs

Remove unnecessary extends
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

fix now botton
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

fix flicker on viz time change
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label common PRs, Label explore PRs

select new target always
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

program table max height
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label common PRs, Label explore PRs

scroll to end on program add
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label common PRs, Label explore PRs

Reset error message when changing cfp
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Switch to useLayoutEffect
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Make explore work with the latest schema
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Fix query
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
Due: Label explore PRs

new sass
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Show the deadline if a proposal can be retracted
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CfpCache.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label explore PRs, Label model PRs
