Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

TimeDisplay to enum
  model/shared/src/main/scala/explore/model/enum/TimeDisplay.scala
Due: Label model PRs

TileSizeState to enum
  model/shared/src/main/scala/explore/model/enum/TileSizeState.scala
Due: Label model PRs

ResizableSection to tag
  model/shared/src/main/scala/explore/model/enum/ResizableSection.scala
  model/shared/src/main/scala/explore/model/enum/TargetType.scala
Due: Label model PRs

PosAngleOptions to enum
  model/shared/src/main/scala/explore/model/enum/PosAngleOptions.scala
Due: Label model PRs

Port the rest of the enums
  common/src/main/scala/explore/model/RoutingInfo.scala
  model/shared/src/main/scala/explore/model/enum/AppTab.scala
  model/shared/src/main/scala/explore/model/enum/ImagingCapabilities.scala
  model/shared/src/main/scala/explore/model/enum/PlotRange.scala
Due: Label common PRs, Label model PRs

Move the enums to a enums dir
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  model/shared/src/main/scala/explore/model/enums/ConfigurationMode.scala
  model/shared/src/main/scala/explore/model/enums/ExecutionEnvironment.scala
  model/shared/src/main/scala/explore/model/enums/ImagingCapabilities.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/PosAngleOptions.scala
  model/shared/src/main/scala/explore/model/enums/ResizableSection.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
Due: Label model PRs

Fix small bug with the environment enum
  model/shared/src/main/scala/explore/model/enums/ExecutionEnvironment.scala
Due: Label model PRs

Library updates
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/react/CircularProgressbar/CircularProgressbar.scala
  common/src/main/scala/react/moon/MoonPhase.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Fix problem of exposure time override not updating ODB
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Remove commented code.
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Update exposure mode override properly
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Chart ui improvements
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Show more values from the CCDs
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label workers PRs

Show ADU
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Cleanup
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Fix peak pixel display and a message if there is not enough data to get the ITC graph
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
Due: Label explore PRs

Reformat
  explore/src/main/scala/explore/highcharts.scala
Due: Label explore PRs

Better handling of itc remote call errors
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Display the ITC S/N chart
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label workers PRs

Make the details toggeable
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
Due: Label common PRs, Label explore PRs

Show the S/N chart
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix styles
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Update lucuma-core
  common/src/main/scala/explore/model/GridLayoutSection.scala
  common/src/main/scala/explore/model/enums/Theme.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update some libs
  project/Settings.scala
Due: none

Add horizontal label
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Increase robustness of indexedb handling
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label workers PRs

Smallish Graph UI improvements, line colors, etc
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Reformat
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
Due: Label explore PRs

Improvements to resolution and tooltips
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Linted css
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Update libs. Wokrer init wait.
  common/src/main/scala/explore/model/GridLayoutSection.scala
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/explore/model/enums/Theme.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/react/reflex/ReflexContainer.scala
  common/src/main/scala/react/toastify/package.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  project/Settings.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Update versions. Async worker init.
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Minor fixes
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/boopickle/BoopickleSuite.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Fix redrawing of charts upon resizing
  common/src/main/scala/explore/components/ResponsiveComponent.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ResizingChart.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label common PRs, Label explore PRs

Double sync for workers.
  common/src/main/scala/workers/WorkerClient.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label model PRs, Label workers PRs

wip
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label workers PRs

wup
  workers/src/main/scala/lucuma/tc.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label workers PRs

Cache workers
  HEROKU.md
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CachingWorkerServer.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label workers PRs

Only get exposure times from ITC for the brightest target
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Cosmetic improvements
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
Due: Label explore PRs
