Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Restore fixCssRoot PostCss plugin lost during rebase.
  vite.config.mjs
Due: none

Move some less to sass
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

Include primereact variables in stylelint checks. Fix stylelint errors.
  .stylelintrc.json
  common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

Run `lucumaCss` in linting job
  .github/workflows/ci.yml
  build.sbt
Due: none

Run linting for PRs
  .github/workflows/ci.yml
  build.sbt
Due: none

Use unique names :)
  build.sbt
Due: none

Bump sbt-lucuma versions
  project/plugins.sbt
Due: none

Disable light theme linting for pull requests
  .github/workflows/ci.yml
  build.sbt
Due: none

add lucuma-css folder to .stylelintignore
  .stylelintignore
Due: none

Fix advanced config grid
  common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

new table
  explore/src/main/scala/explore/config/SequenceTable.scala
  project/Settings.scala
Due: Label explore PRs

tables
  build.sbt
  common/src/main/scala/reactST/reactTable/SUITable.scala
  common/src/main/scala/reactST/reactTable/SUITableVirtuoso.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
Due: Label common PRs, Label explore PRs

sequence table styling
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SequenceTable.scala
Due: Label common PRs, Label explore PRs

Store the hasura migrations locally
  USERPREFS.md
  hasura/user-prefs/config.yaml
  hasura/user-prefs/metadata/actions.graphql
  hasura/user-prefs/metadata/actions.yaml
  hasura/user-prefs/metadata/allow_list.yaml
  hasura/user-prefs/metadata/cron_triggers.yaml
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_explore_resizable_width.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_grid_layout_positions.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_elevation_plot_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_itc_plot_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_observation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_user.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_user_preferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/metadata/query_collections.yaml
  hasura/user-prefs/metadata/remote_schemas.yaml
  hasura/user-prefs/metadata/rest_endpoints.yaml
  hasura/user-prefs/metadata/version.yaml
  hasura/user-prefs/migrations/default/1664379876162_init/up.sql
  hasura/user-prefs/migrations/default/1664395303839_lucuma_target_preferences_nullable/down.sql
  hasura/user-prefs/migrations/default/1664395303839_lucuma_target_preferences_nullable/up.sql
Due: none

Make some of the target prefs optional
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  fetchUserPreferencesSchema.sh
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

PR comments
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

tables
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SequenceTable.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Add button to clone an observation
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  model/shared/src/main/scala/explore/undo/IndexedCollMod.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

preliminary undo doc
  UNDO.md
Due: none

Select the first available target for the elevation plot if there is no focused target
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Better responsivness for the itc title bar
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
Due: Label common PRs, Label explore PRs

advances
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  project/Settings.scala
Due: Label common PRs

settings
  project/Settings.scala
Due: none

Show a line for the wavelength used to calculate S/N
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

sequence table done
  explore/src/main/scala/explore/config/SequenceTable.scala
Due: Label explore PRs

sequence table done
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/ManualSequenceTables.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Make elevation plot settings global
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucuma_target.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1664571442205_elevation_plot_global/down.sql
  hasura/user-prefs/migrations/default/1664571442205_elevation_plot_global/up.sql
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Don't store the selected site
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/migrations/default/1664631769354_elevation_plot_global/down.sql
  hasura/user-prefs/migrations/default/1664631769354_elevation_plot_global/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Show the obs id in all badge cases
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

checkpoint
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Due: Label common PRs, Label explore PRs

Default to erg/s/cm2/A unit for emission lines
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Make the default units more explicit
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label common PRs, Label explore PRs

Better display on the ITC tile when it is calculating or missing info
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/package.scala
Due: Label common PRs, Label explore PRs

wip
  common/src/main/scala/explore/model/enums/SEDType.scala
Due: Label common PRs

Use new api to get the max wavelength
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common-graphql PRs, Label explore PRs, Label model PRs, Label workers PRs

default units
  common/src/main/scala/explore/model/enums/SEDType.scala
Due: Label common PRs

Improved selection of emission line default units
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label common PRs, Label explore PRs

Avoid renderings for small fov chages
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/visualization/package.scala
Due: Label common PRs, Label explore PRs

Reduce the amount of aladin renderings via Reusability
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label explore PRs
