Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label explore-clue PRs:
  label:
    add:
    - explore-clue
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

scalafix
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/extensions.scala
Due: Label explore PRs, Label model PRs

Allow adding ToOs to asterisms and creating empty ToOs
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Make the SiderealTargetEditor a TargetEditor
  explore/src/main/scala/explore/tabs/TargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/TargetEditor.scala
Due: Label explore PRs

Add word counter to notes tile
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
Due: Label common PRs, Label explore PRs

Update lucuma-ui to fix alading panning
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  project/Versions.scala
Due: Label explore PRs

bumps
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  project/Versions.scala
Due: Label explore PRs

fix ui version
  project/Versions.scala
  promote.sh
Due: none

remove unused fragment
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
Due: Label explore PRs

promotion script just deploys latest docker
  promote.sh
Due: none

Show itc ccd warnings on the plot description
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
Due: Label common PRs, Label explore PRs

Show itc ccd warnings on the modes table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Use formatters from lucuma-ui
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Use format functions from lucuma-ui
  common/src/main/scala/explore/render.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/SemesterPlot.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Send explore version with traces
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
  package-lock.json
  package.json
Due: Label explore PRs

Improve metrics sending to honeycomb
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/Telemetry.scala
Due: Label common PRs, Label explore PRs

Remove reference to lucuma sso version
  project/Dependencies.scala
  project/Versions.scala
Due: none

reformat
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
Due: Label common PRs, Label explore PRs

new promotion script logic
  .github/workflows/ci.yml
  build.sbt
  promote.sh
Due: none

all systems
  promote.sh
Due: none

fix backups and informing of explore promotion in promotion script
  promote.sh
Due: none

Fix Obs Summary and Target Summary tables for ToOs
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/extensions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Revert "Fix Obs Summary and Target Summary tables for ToOs"
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/extensions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Avoid ITC chart redraws
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Update core and friends
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/plots/SemesterPlot.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
Due: Label explore PRs

Update scala 3.7.3, sbt-lucuma 0.14.3
  build.sbt
  project/Versions.scala
  vite.config.mts
Due: none

Update workflows.
  .github/workflows/ci.yml
Due: none

Region Editor for ToOs
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/RegionEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetEditor.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

don't requery itc graph if query props didn't change
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
Due: Label explore PRs

only query itc for imaging if query props change
  explore/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
Due: Label explore PRs

Fix issue of observations stuck on "Awaiting new data from server".
  build.sbt
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/package.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/SemesterPlot.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Added tests
  model-tests/shared/src/test/scala/explore/model/ProgramSummariesSuite.scala
Due: Label model-tests PRs

One more test
  model-tests/shared/src/test/scala/explore/model/ProgramSummariesSuite.scala
Due: Label model-tests PRs

Update coulomb
  build.sbt
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

migrate table
  explore/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
  project/Versions.scala
Due: Label explore PRs

Update libs - fixes sc-6528
  project/Versions.scala
Due: none

Handle 'Customized" icon for readonly and calibration observations
  explore/src/main/scala/explore/components/CustomizableEnumGroupedMultiSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/src/main/scala/explore/components/CustomizableInputText.scala
  explore/src/main/scala/explore/components/CustomizableInputTextOptional.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/OffsetsControl.scala
Due: Label explore PRs

Do not allow editing group parameters for submitted proposals
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

adapt promote script with unified itc into odb
  promote.sh
Due: none

Path conditions:
  Label common PRs: any of: ^common/
  Label explore PRs: any of: ^explore/
  Label explore-clue PRs: any of: ^explore-clue/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
