Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Show target coordinates on small screens and CSS fixes
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Remove comment.
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Update lucuma-ui and make changes for ViewLike and convert some controls
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Remove defaults on the queries
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
Due: Label common-graphql PRs

Remove commented out SCSS
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Some UI improvements to display a nicer message when a table is empty
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Fix for ExploreModelValidators test
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label model PRs, Label model-tests PRs

Pointer to the regex description
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label model PRs

Don't show guide speed until a mode is selected
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Always do previews with 1 arcmin FOV
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

versions
  project/Settings.scala
Due: none

Move utility methods to lucuma-ui
  common/src/main/scala/explore/givens.scala
  explore/src/main/scala/explore/Routing.scala
Due: Label common PRs, Label explore PRs

Migrate to latest lucuma-ui
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  project/Settings.scala
Due: Label explore PRs

Remove Target Library on Targets Tab
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
Due: Label explore PRs

Remove react reflex
  common/src/main/scala/react/reflex/ReflexContainer.scala
  common/src/main/scala/react/reflex/ReflexElement.scala
  common/src/main/scala/react/reflex/ReflexHandle.scala
  common/src/main/scala/react/reflex/ReflexSplitter.scala
  common/src/main/scala/react/reflex/ReflexWithHandle.scala
  common/src/main/scala/react/reflex/types.scala
  package.json
Due: Label common PRs

Fix undo/redo for observation drag/drop
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
Due: Label explore PRs

Move insert target to target summary, undo/redo for delete targets
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Remove leftover logging
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Remove react-reflex CSS
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/less/vendor/react-reflex.less
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Improvements to overlay calculations
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Add undo/redo for pasting observations into targets
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteActions.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs

Move Add Target back to the tree from the summary table
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Remove commented code
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Allow observation creation on target tab
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteActions.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs

Don't draw probe outline
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Update lucuma-core and make SED optional
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Fix creation of optics
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label model PRs

Use new css device units
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Switch to dynamic units
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Copy/paste of targets into observations
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/TargetWithObs.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Only paste targets not already in asterism
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

visits
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/givens.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/display.scala
  package-lock.json
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label workers PRs

lint scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

organize imports
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
Due: Label common PRs, Label explore PRs

external svg brackets
  common/src/main/public/bracket.svg
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  vite.config.mjs
Due: Label common PRs, Label explore PRs

Support importing target brightnesses
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  project/Settings.scala
Due: Label explore PRs

Collapsible brightness table
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label common PRs, Label explore PRs

remove accordion header link style
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

remove commented code
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label explore PRs

Avoid scrollbars on target tab.
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs
