Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

move ProgramSummaries into model
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/TODO.md
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/CloneListView.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model/shared/src/main/scala/explore/model/ConstraintGroup.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

remove unused code
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/optics/all.scala
Due: Label explore PRs, Label model PRs

Revert "Switch to fewest modules linking in dev."
  build.sbt
Due: none

Small fixes for the empty messages on tables
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Update ITC and ODB schemas
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  project/Settings.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

adopt sbt-clue
  .scalafix.conf
  build.sbt
  common-queries/src/clue/resources/ITC.graphql
  common-queries/src/clue/resources/SSO.graphql
  common-queries/src/clue/resources/UserPreferencesDB.graphql
  common-queries/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ManualSequenceGQL.scala
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/SSOQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/TargetQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/TimingWindowsGQL.scala
  common-queries/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/VisitsSQL.scala
  common-queries/src/clue/scala/queries/schemas/ITC.scala
  common-queries/src/clue/scala/queries/schemas/SSO.scala
  common-queries/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/ObservationSummarySubquery.scala
  common/src/main/scala/explore/TODO.md
  project/Settings.scala
  project/plugins.sbt
Due: Label common PRs, Label common-queries PRs

regenerate workflows
  .mergify.yml
Due: none

fix imports
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common-queries PRs

reinstate target auto-selection on asterism show
  common/src/main/scala/explore/TODO.md
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label common PRs, Label explore PRs

simpler types in clue
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/TargetQueries.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  project/Settings.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label workers PRs

Fixes to big refactor.
  common/src/main/scala/explore/TODO.md
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label explore PRs, Label model PRs

ProgramSummaries in state instead of context
  common/src/main/scala/explore/TODO.md
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label explore PRs, Label model PRs

address PR comments, cache reuse not required now
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label common PRs, Label explore PRs

auto-expanding of groups reinstated
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

reinstate group selection
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
Due: Label explore PRs

logic for local dev configurations
  .gitignore
  vite.config.mjs
Due: none

update TODO list
  common/src/main/scala/explore/TODO.md
Due: Label common PRs

Show the intersection of patrols fields at each offset
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Fix sorting by exposure time on the modes table
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  project/Settings.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Remove human-format
  package.json
Due: none

Small touches to the patrol field display
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Use the intersection patrol field for ags calculations
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label workers PRs

share versions with meta-build, update clue
  .gitignore
  build.sbt
  project/Dependencies.scala
  project/Settings.scala
  project/Versions.scala
  project/plugins.sbt
  project/project/Versions.scala
Due: none

unindent
  project/Dependencies.scala
Due: none

Update ags logic and add a default 0 offset for ags calculations
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label workers PRs

Add .orEmpty to configurationSummary
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Allow using SmallestModulesFor
  build.sbt
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/model/userVault.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Use the new ITC api
  common-queries/src/clue/resources/ITC.graphql
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Use traverse
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Core update
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  project/Versions.scala
Due: Label model PRs

Update lucuma-sso
  project/Versions.scala
Due: none

Use lucuma-itc client
  build.sbt
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common/src/main/public/development.conf.json
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Use lucuma-ic for the graph calls
  common-queries/src/clue/resources/ITC.graphql
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/clue/scala/queries/schemas/ITC.scala
  common-queries/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

PR suggestions
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common/src/main/public/development.conf.json
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label workers PRs

Use graphQL enums without creating them in scala.
  common-queries/src/clue/scala/queries/common/EnumQueriesGQL.scala
  common/src/main/scala/explore/Enums.scala
  common/src/main/scala/explore/EnumsContext.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  model/shared/src/main/scala/explore/model/enums/ObsAttachmentTypeMeta.scala
  project/Versions.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

do not depend on schema enum
  common-queries/src/clue/scala/queries/common/EnumQueriesGQL.scala
  common/src/main/scala/explore/Enums.scala
  model/shared/src/main/scala/explore/model/enums/ObsAttachmentType.scala
  model/shared/src/main/scala/explore/model/enums/ObsAttachmentTypeMeta.scala
Due: Label common PRs, Label common-queries PRs, Label model PRs

Improvements to the PWA setup
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  heroku/static.json
  package-lock.json
  package.json
  project/Versions.scala
  vite.config.mjs
Due: Label common PRs, Label explore PRs

Update lucuma-itc
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Do only one query for the itc chart data
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
