Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Multiple lib upddates
  project/Versions.scala
Due: none

Update workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update sass and migrate some stylesheets
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/datepicker/mixins.scss
  package-lock.json
  package.json
Due: Label common PRs

Support displaying the elevation plot in a 24h range
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/ObjectPlotOptions.scala
  hasura/user-prefs/migrations/default/1737752971928_insert_into_public_explorePlotRange/down.sql
  hasura/user-prefs/migrations/default/1737752971928_insert_into_public_explorePlotRange/up.sql
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
Due: Label explore PRs, Label model PRs

Unify program name/description and proposal title/abstract.
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramInfo.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/User.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Update lucuma-schemas to real version.
  project/Versions.scala
Due: none

scalafixAll
  model/shared/src/main/scala/explore/model/ProgramInfo.scala
Due: Label model PRs

Update pragmatic drag-n-drop, floating-ui and honeycomb
  package-lock.json
  package.json
Due: none

Add overview tile for edit program description for non-science programs.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Allow readonly CoIs to edit their own information
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Allow for changing between readonly and full access for CoIs.
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/AddReadonlyCoiButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
Due: Label explore PRs, Label model PRs

Remove commented line
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Add `New Science Data` notification checkbox to Program tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Limit editing of COI access level to PI and staff
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Allow scrolling on Overview tab
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label explore PRs

Remove commented code
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Changes to proposal submission
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

Update explore for the new exposure time mode api
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/ExposureTimeModeType.scala
  project/Versions.scala
Due: Label explore PRs

Last minute fixes
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Fix bad requirements query
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
Due: Label explore PRs

Decode ExposureTimeMode correctly
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label explore PRs, Label model PRs

Prevent proposal submission with undefined observations
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Add help icon to investigator tile
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Monadic hooks
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Fix missing Program tab
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Review comments, switch to ReactFnComponent
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
Due: Label explore PRs

Show CfP parameters on proposal details editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Review comments
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Monadic hooks in SequenceTile
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Update sequence on ExecutionEventAdded events
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

custom hook
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

working
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  project/Versions.scala
Due: Label explore PRs

ensure visit and seq queried on all signals, only step ended
  .gitignore
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  project/Versions.scala
Due: Label explore PRs

indicate whether sequence is being refreshed
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

refactor
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

throttle visits and sequence refreshes independently
  common/src/main/scala/explore/utils/extensions.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/utils/extensions.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

style changes
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

avoid double subscriptions
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

bump scalajs-react
  project/Versions.scala
Due: none

code cleanup
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  project/Versions.scala
Due: Label explore PRs
