Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Remove GroupList type alias
  explore/src/main/scala/explore/cache/ProgramCache.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

Formatting
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label common PRs, Label explore PRs

Add Order import
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
Due: Label model PRs

Use .refined
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

Scalafix imports
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

Remove index and parentId from GroupTree node data (#3692)
  common/src/main/scala/explore/model/ObsNode.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-tests/shared/src/test/scala/explore/undo/ListModSpec.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/undo/KIListMod.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

unify sequence table logic with observe
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

scalafmt
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

rebase
  package-lock.json
Due: none

Fix ReactMarkdown properties
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/HelpBody.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Remove commented code
  explore/src/main/scala/explore/HelpBody.scala
Due: Label explore PRs

Fix configuration filtering and slit width format
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Convert formats to wedges and revert filtering logic
  build.sbt
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Implement several changes and tests suggested on the PR review
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Filter out deleted observations in GroupTree
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

Add key prop to group edit tile
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Due: Label explore PRs

Filter out deleted observations in GroupTree (#3700)
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

Handle edge case on arcseconds wedge
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label model PRs, Label model-tests PRs

Add scala-steward config to update vite.config.mts
  .scala-steward.conf
  vite.config.mts
Due: none

githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

Add key prop to group edit tile (#3702)
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Due: Label explore PRs

Fix error showing user preferences
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Adjust width of layouts when we hit a breakpoint
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
Due: Label common PRs, Label explore PRs

Don't save timingwindows if some are invalid
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix observations not appearing in groups on first render
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Fix observations not appearing in groups on first render (#3720)
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Update to API with new proposal mutations.
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Versions.scala
Due: Label explore PRs

Set max/min values for the allowed values
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

Add button to create an invitation
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramTimeSubquery.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Complete UI to send an invite
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Some retouches
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimeSubquery.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Implemented PR suggestions
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
Due: Label explore PRs

Add parameter to visits query for the subquery
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  project/Versions.scala
Due: Label explore PRs

Support revoking invites
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/components/package.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Keep a local copy of the invitation to make the UI reflect the operations
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
Due: Label explore PRs, Label model PRs

Cleanup moving code to core
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/clue/scala/queries/schemas/SSO.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ApiKey.scala
  model/shared/src/main/scala/explore/model/CoIInvitation.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/RoleType.scala
  model/shared/src/main/scala/explore/model/formats.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Disable the delete button while active
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  project/Versions.scala
Due: Label explore PRs

Invalidate client cache
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

show stepid
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

Hide the proposal tab for non-Science program types
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs
