Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Create simulated offset entries
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label explore PRs

Add a toolitp to the offsets
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Add user preference to show the science offsets
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  hasura/user-prefs/migrations/default/1677515714074_offset_preferences/down.sql
  hasura/user-prefs/migrations/default/1677515714074_offset_preferences/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Small ui touches
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label common PRs, Label explore PRs

Use realistic offsets
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Use the offsets on AGS
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label common PRs, Label explore PRs

Fix linting errors
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Set the viz time from the db
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/webapp/sass/datepicker.scss
Due: Label common PRs

Small ui fixes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramTable.scala
Due: Label common PRs, Label explore PRs

Quick fix for the ODB change to the itc query
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common-graphql PRs, Label common-queries PRs

Prevent reload when clicking on the constraints summary
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label explore PRs

Update explore for the itc/sequence changes in the odb
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  project/Settings.scala
Due: Label common-graphql PRs, Label explore PRs

Add CatalogInfo fields to target tables
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  project/Settings.scala
Due: Label explore PRs

Better handling of repeated timing windows
  model/shared/src/main/scala/explore/model/TimingWindow.scala
Due: Label model PRs

Support deleting a key
  common-graphql/src/main/scala/queries/common/SSOQueriesGQL.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Add UI to create and delete api keys
  common-graphql/src/main/resources/graphql/schemas/SSO.graphql
  common-graphql/src/main/scala/queries/common/SSOQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/SSO.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/ui/FomanticStyles.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ApiKey.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/RoleType.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Cleanup
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Request confirmation on delete
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Remove some unused styles
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/ui/FomanticStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Observation Summary Table
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Add UI to create and delete api keys
  common-graphql/src/main/resources/graphql/schemas/SSO.graphql
  common-graphql/src/main/scala/queries/common/SSOQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/SSO.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/ExploreCopy.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ApiKey.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/RoleType.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Implement PR suggestions
  common-graphql/src/main/scala/queries/schema/SSO.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Organize import
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Add links to constraints in table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Remove unused prop
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Read the offsets from the generated sequence
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Add observation_summary to tableIds
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  hasura/user-prefs/migrations/default/1678192196158_insert_obs_summary_into_public_lucumaTableIds/down.sql
  hasura/user-prefs/migrations/default/1678192196158_insert_obs_summary_into_public_lucumaTableIds/up.sql
Due: Label explore PRs

remove unnecessary code
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/package.scala
Due: Label common PRs

fix imports
  common/src/test/scala/explore/undo/TestUndoable.scala
Due: Label common PRs

Refactoring of ObsConfiguration
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/SSOClient.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Remove legacy data
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

PR comments
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common-graphql PRs, Label explore PRs

Show acquisition offsets on aladin
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Add control to select whether to show acq offsets
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
Due: Label explore PRs

Reuse SequenceType enum
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label explore PRs

formatting
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsListActions.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

remove testing code
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common-queries PRs

Small query cleanup
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
Due: Label common-graphql PRs

Fix for partially working ObsEditQuery
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common-graphql PRs, Label explore PRs
