Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

render actual guiding in sequence
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
Due: Label explore PRs

Some PR comments
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Use macos on GHA
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Fix linting error
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

alternate sort
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Explicitly set tooltip background colors
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Fix linting error
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Support itc errors with multiple lines
  common/src/main/webapp/sass/tooltips.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label common PRs, Label explore PRs

fix sequence query for gmos south
  common-queries/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
Due: Label common-queries PRs

Revert "Use macos on GHA"
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Test firebase
  .firebaserc
  .github/workflows/ci.yml
  build.sbt
  firebase.json
Due: none

Test self-hosted-runner
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Try Cirrus CI
  .cirrus.yml
Due: none

Fixing
  .cirrus.yml
Due: none

Add Dockerfile
  .cirrus/Dockerfile
Due: none

Fix dockerfile
  .cirrus/Dockerfile
Due: none

Try to install newer node
  .cirrus/Dockerfile
Due: none

Try to get newer Node.js
  .cirrus/Dockerfile
Due: none

No sudo
  .cirrus/Dockerfile
Due: none

Try using nvm
  .cirrus/Dockerfile
Due: none

Trying
  .cirrus/Dockerfile
Due: none

Still trying
  .cirrus/Dockerfile
Due: none

Trying again
  .cirrus/Dockerfile
Due: none

trying
  .cirrus/Dockerfile
Due: none

Try using node base image
  .cirrus/Dockerfile
Due: none

try fixing sbt
  .cirrus.yml
  .cirrus/Dockerfile
Due: none

trying
  .cirrus.yml
  .cirrus/Dockerfile
Due: none

trying
  .cirrus.yml
Due: none

Try using macos
  .cirrus.yml
Due: none

fix
  .cirrus.yml
Due: none

Read the configuration location dynamically
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  vite.config.mjs
  workers/src/main/scala/workers/ItcServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Split some files
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label explore PRs

Add the ability to add/remove finder charts from the tile
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  heroku/static.json
  model/shared/src/main/scala/explore/model/AppConfig.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Switch to single config file
  common/src/main/public/README.txt
  common/src/main/public/conf.json
  common/src/main/public/development.conf.json
  common/src/main/public/environments.conf.json
  common/src/main/public/production.conf.json
  model/shared/src/main/scala/explore/model/AppConfig.scala
Due: Label common PRs, Label model PRs

remove queries project
  .scalafix.conf
  build.sbt
  common/src/clue/resources/SSO.graphql
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  common/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  common/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  common/src/clue/scala/queries/common/SSOQueriesGQL.scala
  common/src/clue/scala/queries/common/TargetQueriesGQL.scala
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/clue/scala/queries/common/VisitsSQL.scala
  common/src/clue/scala/queries/schemas/SSO.scala
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label common PRs, Label model PRs

regenerate workflows
  .mergify.yml
Due: none

adjust scalafix dependencies
  build.sbt
Due: none

Show the list of attachments
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
Due: Label common PRs, Label explore PRs
