Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

fixes after rebase
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

rearrange plot parameters
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

there's an error
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
Due: Label explore PRs

multi target plot almost working
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotSeries.scala
  explore/src/main/scala/explore/targeteditor/plots/MoonCalc.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SeriesType.scala
  explore/src/main/scala/explore/targeteditor/plots/SkyCalc.scala
Due: Label common PRs, Label explore PRs

remove comments
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs, Label model PRs

a few renames, reorganize
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SeriesType.scala
Due: Label explore PRs

working
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Due: Label explore PRs

remove labels of unplotted brightness series
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Due: Label explore PRs

multi-target plot working
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Due: Label common PRs, Label explore PRs

unify code
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
Due: Label explore PRs

show target editor if single target selected on summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

hide plot selectors that don't apply
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
Due: Label explore PRs

prettier
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

PR suggestions
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
Due: Label explore PRs

show dashed lines for targets not assigned to current site
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
Due: Label common PRs, Label explore PRs

show airmass in target plots
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Due: Label explore PRs

Restore displaying added calibrations
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

Workaround for twilight sequence
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  project/Versions.scala
Due: Label explore PRs

remove unused parameters, change selected target logic
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

target selection logic working, obs plot broken
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

asterism plot fix
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
Due: Label explore PRs

target selection logic working
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

keep plot always visible in target tab
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
Due: Label explore PRs

better fix for asterism plots
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

syntax
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

make scalafix happy
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

reinstante actions over focused target
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

obs row selection contemplates targets
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

multi select in obs summary table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
  project/Versions.scala
Due: Label explore PRs

multiobs selection working
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
  project/Versions.scala
Due: Label explore PRs

start refactor for obs summary title
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummary.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

some simplifications in tile state with tables
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/constraints/ConstraintSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummary.scala
Due: Label explore PRs

title with row selectors in obs summary
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

actions working in obs tab, kinda
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Library updates
  project/Versions.scala
Due: none

separate ObsActions into its own object
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
Due: Label explore PRs

multi select in obs summary table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

obs row selection contemplates targets
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label common PRs, Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
