Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Fix Advanced Config buttons.
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Cleanup
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  model/shared/src/main/scala/explore/model/TableColumnPref.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Properly set the fpu for ags calculations
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/syntax/ScienceModesSyntax.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Wipe the ags cache
  workers/src/main/scala/workers/AgsServer.scala
Due: Label workers PRs

Create custom hooks to store/restore table preferences
  common/src/main/scala/explore/utils/TableHooks.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label common PRs, Label explore PRs

Port asterisms table
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Rename target summary enum
  hasura/user-prefs/migrations/default/1666117507319_rename_target_summary/down.sql
  hasura/user-prefs/migrations/default/1666117507319_rename_target_summary/up.sql
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label model PRs

Port target summary table
  common/src/main/scala/explore/utils/TableHooks.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Wrap the hook params in a case class for better readability
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common/src/main/scala/explore/utils/TableHooks.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Store the sorting selection of the modes table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label explore PRs, Label model PRs

Explicitly set ordering for Grating/Filter/FPU
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Fix grating sorting on the configurations table
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Show urls on target summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Update crystal, lucuma-ui, lucuma-react, aladin
  project/Settings.scala
Due: none

Alternative table state persistence.
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  hasura/user-prefs/metadata/api_limits.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/graphql_schema_introspection.yaml
  hasura/user-prefs/metadata/inherited_roles.yaml
  hasura/user-prefs/metadata/network.yaml
  hasura/user-prefs/migrations/default/1666182540944_table_options_add_sorting_order/down.sql
  hasura/user-prefs/migrations/default/1666182540944_table_options_add_sorting_order/up.sql
  model/shared/src/main/scala/explore/model/TableColumnPref.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

address pr review suggestions
  common/src/main/scala/explore/utils/TableHooks.scala
  explore/src/main/scala/ColumnSelector.scala
Due: Label common PRs, Label explore PRs

organize imports
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label explore PRs

Update to Cats Effect 3.4.0-RC2
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Use primereact for View Sequence dialog
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
Due: Label common PRs, Label explore PRs

Support target table multiple selection
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/react/hotkeys/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Use NewType for IsOpen state
  explore/src/main/scala/explore/config/SequenceEditorPopup.scala
Due: Label explore PRs

Library updates
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Settings.scala
  vite.config.mjs
Due: none

Reformat
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Fix behavior to shift select when the table is sorted
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Lint css
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Improvements to manually changed coordinates
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs

Color code the guide speeds
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

migrate table facade
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/utils/TableHooks.scala
  common/src/main/scala/explore/utils/TableStateStore.scala
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

remove commented code
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

unify constraint summary table's ids
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label explore PRs

remove unused import
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
Due: Label explore PRs

Improvements to guide star visualization
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Remove toastify
  common/src/main/scala/react/toastify/package.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

PWA toast
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/webapp/main.jsx
  model/js/src/main/scala/explore/events/package.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs, Label model PRs

Switch to prime react toasts
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Restore skipping in local
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

More robust communication with the service worker for updates
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/webapp/main.jsx
  model/js/src/main/scala/explore/events/package.scala
Due: Label explore PRs, Label model PRs

Add ags color code to light mode
  common/src/main/webapp/less/variables-light.less
Due: Label common PRs

Select the focused target on the target table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

No back button on tablets
  common/src/main/webapp/less/style.less
Due: Label common PRs
