Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Correctly handle if getElementById returns null (#3124)
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Add control to switch between roles
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/SSOClient.scala
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Improve saving/restoring of tile layouts in user preferences
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/test/scala/explore/model/LayoutSuite.scala
  project/Versions.scala
Due: Label common PRs

Add empty programs tab
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  hasura/user-prefs/migrations/default/1689609477616_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1689609477616_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix overflow on mobile tabs
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/SideTabs.scala
Due: Label common PRs, Label explore PRs

Setup lint checking with prettier
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintrc.json
  .vscode/settings.json
  build.sbt
  package-lock.json
  package.json
Due: none

Add 'Format with prettier' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

move sso state classes to lucuma-ui
  build.sbt
  common/src/main/scala/explore/common/SSOClient.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/components/state/LogoutTracker.scala
  common/src/main/scala/explore/components/state/SSOManager.scala
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/test/scala/explore/model/arb/ArbRootModel.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUserVault.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model/js/src/main/scala/explore/events/package.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/RetryHelpers.scala
  workers/src/main/scala/workers/StaticData.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Save overview tab layout in user prefs
  USERPREFS.md
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  hasura/user-prefs/migrations/default/1689781106830_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1689781106830_insert_into_public_lucumaGridLayoutId/up.sql
Due: Label common PRs, Label explore PRs

Remove `Pot.fromOption(userVault)` in overview tab
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label explore PRs

Move global user preferences to the cache
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Implement PR suggestions
  .prettierignore
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1690041490480_alter_table_public_lucumaUserPreferences_alter_column_aladinMouseScroll/down.sql
  hasura/user-prefs/migrations/default/1690041490480_alter_table_public_lucumaUserPreferences_alter_column_aladinMouseScroll/up.sql
  hasura/user-prefs/migrations/default/1690041580523_alter_table_public_lucumaUserPreferences_alter_column_fullScreen/down.sql
  hasura/user-prefs/migrations/default/1690041580523_alter_table_public_lucumaUserPreferences_alter_column_fullScreen/up.sql
  hasura/user-prefs/migrations/default/1690041599273_alter_table_public_lucumaUserPreferences_alter_column_acquisitionOffsets/down.sql
  hasura/user-prefs/migrations/default/1690041599273_alter_table_public_lucumaUserPreferences_alter_column_acquisitionOffsets/up.sql
  hasura/user-prefs/migrations/default/1690041612673_alter_table_public_lucumaUserPreferences_alter_column_scienceOffsets/down.sql
  hasura/user-prefs/migrations/default/1690041612673_alter_table_public_lucumaUserPreferences_alter_column_scienceOffsets/up.sql
  hasura/user-prefs/migrations/default/1690041628306_alter_table_public_lucumaUserPreferences_alter_column_agsOverlay/down.sql
  hasura/user-prefs/migrations/default/1690041628306_alter_table_public_lucumaUserPreferences_alter_column_agsOverlay/up.sql
  hasura/user-prefs/migrations/default/1690041641902_alter_table_public_lucumaUserPreferences_alter_column_showCatalog/down.sql
  hasura/user-prefs/migrations/default/1690041641902_alter_table_public_lucumaUserPreferences_alter_column_showCatalog/up.sql
  hasura/user-prefs/migrations/default/1690041732907_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotRange/down.sql
  hasura/user-prefs/migrations/default/1690041732907_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotRange/up.sql
  hasura/user-prefs/migrations/default/1690041757694_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotTime/down.sql
  hasura/user-prefs/migrations/default/1690041757694_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotTime/up.sql
  hasura/user-prefs/migrations/default/1690041757694_global_preferences/down.sql
  hasura/user-prefs/migrations/default/1690041757694_global_preferences/up.sql
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Remove some squashed files
  hasura/user-prefs/migrations/default/1690041490480_alter_table_public_lucumaUserPreferences_alter_column_aladinMouseScroll/down.sql
  hasura/user-prefs/migrations/default/1690041490480_alter_table_public_lucumaUserPreferences_alter_column_aladinMouseScroll/up.sql
  hasura/user-prefs/migrations/default/1690041580523_alter_table_public_lucumaUserPreferences_alter_column_fullScreen/down.sql
  hasura/user-prefs/migrations/default/1690041580523_alter_table_public_lucumaUserPreferences_alter_column_fullScreen/up.sql
  hasura/user-prefs/migrations/default/1690041599273_alter_table_public_lucumaUserPreferences_alter_column_acquisitionOffsets/down.sql
  hasura/user-prefs/migrations/default/1690041599273_alter_table_public_lucumaUserPreferences_alter_column_acquisitionOffsets/up.sql
  hasura/user-prefs/migrations/default/1690041612673_alter_table_public_lucumaUserPreferences_alter_column_scienceOffsets/down.sql
  hasura/user-prefs/migrations/default/1690041612673_alter_table_public_lucumaUserPreferences_alter_column_scienceOffsets/up.sql
  hasura/user-prefs/migrations/default/1690041628306_alter_table_public_lucumaUserPreferences_alter_column_agsOverlay/down.sql
  hasura/user-prefs/migrations/default/1690041628306_alter_table_public_lucumaUserPreferences_alter_column_agsOverlay/up.sql
  hasura/user-prefs/migrations/default/1690041641902_alter_table_public_lucumaUserPreferences_alter_column_showCatalog/down.sql
  hasura/user-prefs/migrations/default/1690041641902_alter_table_public_lucumaUserPreferences_alter_column_showCatalog/up.sql
  hasura/user-prefs/migrations/default/1690041732907_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotRange/down.sql
  hasura/user-prefs/migrations/default/1690041732907_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotRange/up.sql
  hasura/user-prefs/migrations/default/1690041757694_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotTime/down.sql
  hasura/user-prefs/migrations/default/1690041757694_alter_table_public_lucumaUserPreferences_alter_column_elevationPlotTime/up.sql
Due: none

extract styles
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  project/Versions.scala
Due: Label common PRs

bump lucuma-ui, external login message
  explore/src/main/scala/explore/ExploreLayout.scala
  project/Versions.scala
Due: Label explore PRs

Update lucuma-catalog to 0.42.0
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label workers PRs

Try to deploy to dev
  .cirrus.yml
  .firebaserc
Due: none

Fix `firebase.json`
  firebase.json
Due: none

Updates dependencies and updates for the changes to the sequence in ODB
  common/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Persist showing scheduling on the elevation plot
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/migrations/default/1690905130468_alter_table_public_lucumaUserPreferences_add_column_elevationPlotScheduling/down.sql
  hasura/user-prefs/migrations/default/1690905130468_alter_table_public_lucumaUserPreferences_add_column_elevationPlotScheduling/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label common PRs, Label explore PRs, Label model PRs

migrate to new lucuma-schema
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Update vite
  build.mjs
  package-lock.json
  package.json
  vite.config.mjs
Due: none

Partial fix for changed to plannedTime API
  common/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix broken tests
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
Due: Label explore PRs, Label model-testkit PRs

Improve look when there are no scheduling windows
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Fix a bug when calculating the link on the targets tab
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Pass roi/binning/readmode to the ITC
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Remove debugging line
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
Due: Label explore PRs

Refactor the aladin menu to a separate component
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

Make ITC plot preferences global
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/default/tables/public_ItcChartType.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1691442561841_global_itc_preferences/down.sql
  hasura/user-prefs/migrations/default/1691442561841_global_itc_preferences/up.sql
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add support for hidden tiles
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Add a sequences tile
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update lucuma-core to 0.84.0 for ObjectTracking changes.
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Show a nicer error message if no sequence is available
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Deal with effectful time
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label explore PRs, Label model PRs

Move `IO.now()` to explore.model.syntax.all
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  workers/src/main/scala/workers/package.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Show the brightness table in FF
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
