Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label explore-clue PRs:
  label:
    add:
    - explore-clue
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Adjust to new schema
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Adopt explore to use the new schema
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label explore PRs, Label model PRs

Adopt explore to use the new schema
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

move showEnvironment to ui
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

scalafix
  explore/src/main/scala/explore/Explore.scala
Due: Label explore PRs

Update to the lastest schema version
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Validate proposal for submission and show errors in a tile.
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallForProposalsSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalErrorsTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Fix Observation Decoder
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label model PRs

For observations with no requirements mode, default to spectroscopy
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label explore PRs, Label model PRs

Connect imaging mode editing with the ODB.
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Make ScienceRequirements.scienceMode non-optional in Explore
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Switch prefs url for staging
  common/src/main/public/environments.conf.json
Due: Label common PRs

Update github worklows
  .github/workflows/ci.yml
Due: none

Update odb
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

Add additional proposal validation
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
Due: Label explore PRs, Label model PRs

Use production libs
  project/Versions.scala
Due: none

Move the program dialog a bit down
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label common PRs, Label explore PRs

bump versions
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  project/Versions.scala
Due: Label explore PRs

catalog timeout increase
  model/shared/src/main/scala/explore/model/syntax/package.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label model PRs, Label workers PRs

revert named tuple change
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs

Better error messages if catalog is not available
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
Due: Label explore PRs, Label model PRs

Use CalculatedValue[ExecutionDigest] from ODB
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/clue/scala/queries/common/CalculatedDigestSubquery.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/PerishablePot.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Fix exposure time mode editing in the advanced config panels
  explore/src/main/scala/explore/config/ConfigurationTile.scala
Due: Label explore PRs

fix it
  build.sbt
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  project/Versions.scala
  project/plugins.sbt
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

switch to GaiaClient
  common/src/main/scala/explore/common/SimbadSearch.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label common PRs, Label workers PRs

show solar system while loading program
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label common PRs, Label explore PRs

Use calculatedWorkflow
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/clue/scala/queries/common/CalculatedObservationWorkflowSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Remove PI affiliation from Fast Turnaround proposals
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalOdbExtensions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Use subscription to get offsets
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs, Label model PRs

implement missing part of global error handling
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
Due: Label common PRs, Label explore PRs

Rename pipe
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Add Fast turnaround reviewer and mentor.
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUser.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUserInvitation.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Fix refreshing of RequestedConfiguration table
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestJustificationViewer.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/ConfigurationRequestWithObsIds.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Update libs and show visualization of gmos imaging modes
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

migrate clue
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/OdbVisitApiImpl.scala
Due: Label explore PRs

update npm deps
  package-lock.json
  package.json
Due: none

Remove double planets
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Remove partial promotion scripts
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none

Path conditions:
  Label common PRs: any of: ^common/
  Label explore PRs: any of: ^explore/
  Label explore-clue PRs: any of: ^explore-clue/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
