Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

wip
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Disable dynamic loading for help
  common/src/main/scala/explore/components/HelpIcon.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/Routing.scala
Due: Label common PRs, Label explore PRs

Add a few more Eq derivations
  model/shared/src/main/scala/explore/model/AppConfig.scala
  model/shared/src/main/scala/explore/model/ConstraintGroup.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/Help.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
Due: Label model PRs

Accept graph request responses
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcGraphBody.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label workers PRs

Update schema
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphBody.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  model/shared/src/main/scala/explore/events/EventPicklers.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  model/shared/src/main/scala/explore/model/ScienceModeBasic.scala
  model/shared/src/main/scala/explore/model/UserVault.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Setup an ITC tile
  common/src/main/public/development.conf.json
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Send data request
  explore/src/main/scala/explore/itc/ItcGraphBody.scala
  model/shared/src/main/scala/explore/events/WorkerMessage.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Cleanup
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Updates with PR comments
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  workers/src/main/scala/workers/CacheIDBWorker.scala
Due: Label explore PRs, Label workers PRs

Basic version of plotting for testing
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Use the chart type as an enum
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/schema/ITC.scala
  model/shared/src/main/scala/explore/model/enum/ItcSeriesDataType.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common-graphql PRs, Label model PRs

Don't use Enumerated.of
  model/shared/src/main/scala/explore/model/enum/ItcSeriesDataType.scala
Due: Label model PRs

Address PR comments
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/webapp/agsworker.js
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/project/build.properties
  vite.config.js
Due: Label common PRs, Label explore PRs

Load less data and expand the series locally
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common-graphql PRs, Label common-queries PRs, Label model PRs, Label workers PRs

Better set the Y axis
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common-graphql PRs, Label explore PRs, Label model PRs

Show an indicator when itc is being recalculated
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
Due: Label common PRs, Label explore PRs

Refactoring after merge
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Due: Label common PRs, Label explore PRs

Test inlining some code
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

More fluid semester plot.
  common/src/main/scala/explore/implicits.scala
  common/src/main/scala/explore/model/WorkerClients.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/scala/workers/WorkerClientBuilder.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/webapp/plotworker.js
  model/shared/src/main/scala/explore/events/PlotMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  package-lock.json
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Don't use IOApp in worker.
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label workers PRs

Remove logging
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
Due: Label explore PRs

Update highcharts and the accessibility module
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/highcharts.scala
  package-lock.json
  package.json
Due: Label explore PRs

Comment the highcharts module loading code
  explore/src/main/scala/explore/Explore.scala
Due: Label explore PRs

Fix a bug when restoring the layouts from the db
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Fix imports
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
Due: Label common PRs

Enable zooming on the itc chart
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
Due: Label common PRs, Label explore PRs

Remove duplicate lucuma-react-datepicker dependency
  package-lock.json
  project/Settings.scala
Due: none

Sort lucuma-react dependencies alphabetically
  project/Settings.scala
Due: none

Rework the ITC graph to use the real exposure time
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/ITC.scala
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common-queries/src/main/scala/queries/schemas/odb/implicits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  package-lock.json
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Better syntax for Overriden exposure time field
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Avoid rendering markers when zooming out
  explore/src/main/scala/explore/targeteditor/ItcSpectroscopyPlot.scala
Due: Label explore PRs

Simplify some of the extensions
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common-queries PRs, Label explore PRs

Convert ags-test to enum
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
Due: Label model PRs

Switch to derived Eq
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
Due: Label model PRs

Revert derivation
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
Due: Label model PRs

Port ConfigurationMode
  model/shared/src/main/scala/explore/model/enum/ConfigurationMode.scala
Due: Label model PRs

Port ExecutionEnvironment
  model/shared/src/main/scala/explore/model/enum/ExecutionEnvironment.scala
Due: Label model PRs

Use Eq for AgsState
  model/shared/src/main/scala/explore/model/enum/AgsState.scala
Due: Label model PRs

Visible to enum
  model/shared/src/main/scala/explore/model/enum/Visible.scala
Due: Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
