Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Go to obs url on attachment table
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Due: Label explore PRs

Try to deploy to firebase
  .cirrus.yml
  .cirrus/Dockerfile
Due: none

Vite build improvements (#3049)
  build.mjs
  build.sbt
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/main.jsx
  explore/src/main/webapp/plotworker.js
  package.json
  vite.config.mjs
Due: Label explore PRs

Only deploy staging
  .cirrus.yml
Due: none

Don't pass token explicitly
  .cirrus.yml
Due: none

Show a tooltip at each candidate star
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label common PRs, Label explore PRs

migrate methods away
  common/src/main/scala/explore/givens.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

wip
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SolarProgress.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Move the attachment selector to the toolbar
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SolarProgress.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Improve tile parameters
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
Due: Label common PRs, Label explore PRs

Remove some facades moved to lucuma-react
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  common/src/main/scala/react/markdown/ReactMarkdown.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label common PRs

extract sequence query, update sbt-lucuma
  common/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

workflows
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
Due: none

remove unnecesary flags
  build.sbt
Due: none

imports
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
Due: Label explore PRs

Add control to link attachments
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
Due: Label common PRs, Label explore PRs

Add bundlemon
  .cirrus.yml
Due: none

Add extra envs
  .cirrus.yml
Due: none

Small ui fix to the chart selector
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
Due: Label explore PRs

Update ags and fix a bug that produced too many unusable results
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Show a warning if we don't have enough information to run AGS
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Show the finder chart selector even when the tile is closed
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Put the back button on the first tile always
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Require signal to noise at to call ITC
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Implement cache for user preferences
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/cache/PreferencesCache.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Close chart linking when clicking outside
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
Due: Label common PRs, Label explore PRs

Replace react-moon
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/moon.scss
  common/src/main/webapp/sass/solar-system.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Dependencies.scala
Due: Label common PRs, Label explore PRs

Add extension method for 2 values
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Use getOrEmpty extension methods
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Fix configuration input selection not sticking during input changes
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Use effect for scrolling to newly created obs instead of callback
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Use effect for scrolling to newly created obs instead of callback (#3120)
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Fix configuration input selection not sticking during input changes (#3119)
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Make MoonPhase its own component
  common/src/main/scala/explore/components/MoonPhase.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label common PRs, Label explore PRs

Switch to the moon component in lucuma-ui
  common/src/main/scala/explore/components/MoonPhase.scala
  common/src/main/webapp/sass/moon.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/webapp/main.jsx
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Correctly handle if getElementById returns null
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Switch to sso-dev
  common/src/main/public/environments.conf.json
Due: Label common PRs

Simplify callback usage
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Remove unused styles
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label common PRs
