Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

a bit more
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/instances.scala
Due: Label explore PRs

complete react hooks
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/crystal.scala
  explore/src/main/scala/explore/monadicHooks/instances.scala
  explore/src/main/scala/explore/monadicHooks/react17.scala
  explore/src/main/scala/explore/monadicHooks/react18.scala
Due: Label explore PRs

migrate ObsTree to monadic hooks
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

migrate ObsTree to monadic hooks
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/crystal.scala
  explore/src/main/scala/explore/monadicHooks/react17.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

fix page urls
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

stuck
  explore/src/main/scala/explore/monadicHooks/crystal.scala
Due: Label explore PRs

more crystal hooks
  explore/src/main/scala/explore/monadicHooks/crystal.scala
Due: Label explore PRs

monadic hooks in scalajs-react and crystal
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/crystal.scala
  explore/src/main/scala/explore/monadicHooks/react17.scala
  explore/src/main/scala/explore/monadicHooks/react18.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
Due: Label explore PRs

Forbid submitting a proposal with targets outside the allowed windows
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/SiteCoordinatesLimitsSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Use githubWorkflowJobSetup instead of manual setup steps
  .github/workflows/ci.yml
  build.sbt
Due: none

correctly estimate row heights in sequence table
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  package-lock.json
  package.json
Due: Label explore PRs

fix header height
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

row heights in lucuma-ui
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Due: Label explore PRs

don't show executing step in visit, show all nextAtom
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

style rows for completed steps
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Use a ref for TargetName input instead of direct dom lookup
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Add a word counter for abstract and indicate if the abstract is too long
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

avoid calling average PA with duration 0
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Address review comment - use `delayMs`
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Handle target cloning on target replacement better.
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

Update scala to 3.6.2
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/plots/SeriesType.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  project/Versions.scala
Due: Label explore PRs

Fix vite.config
  vite.config.mts
Due: none

allow accessing menu when selecting program
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

better identification of new programs
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

fix submitted proposal banner
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

wip
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDbKey.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/KeyCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ObjectStoreDef.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ValueCodec.scala
Due: Label workers PRs

internalize japgolly indexeddb
  project/Versions.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData_PlatformSpecific.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryFormat.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryJs.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/BinaryFormatExt.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/PicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePickler.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/general/ErrorMsg.scala
  workers/src/main/scala/japgolly/webapputil/general/Version.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDbKey.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ObjectStoreDef.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/Txn.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnDsl.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnMode.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnStep.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ValueCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/package.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
Due: Label workers PRs

formatting
  workers/src/main/scala/japgolly/webapputil/binary/BinaryJs.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/KeyCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnDsl.scala
Due: Label workers PRs

scalafix
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryData_PlatformSpecific.scala
  workers/src/main/scala/japgolly/webapputil/binary/BinaryJs.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/BinaryFormatExt.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/PicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePickler.scala
  workers/src/main/scala/japgolly/webapputil/boopickle/SafePicklerUtil.scala
  workers/src/main/scala/japgolly/webapputil/general/Version.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/IndexedDb.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/KeyCodec.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ObjectStoreDef.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/Txn.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnDsl.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/TxnStep.scala
  workers/src/main/scala/japgolly/webapputil/indexeddb/ValueCodec.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
Due: Label workers PRs

monadic hooks
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/crystal.scala
  explore/src/main/scala/explore/monadicHooks/react17.scala
  explore/src/main/scala/explore/monadicHooks/react18.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label explore PRs

monadic hooks in crystal and lucuma-react
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/crystal.scala
  explore/src/main/scala/explore/monadicHooks/react17.scala
  explore/src/main/scala/explore/monadicHooks/react18.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  project/Versions.scala
Due: Label explore PRs

bump fontawesome
  package.json
Due: none

package lock
  package-lock.json
Due: none

Update lucuma-ui to v0.128.0
  project/Versions.scala
Due: none

Add separate layouts for calibrations
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1735245368319_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1735245368319_insert_into_public_lucumaGridLayoutId/up.sql
  hasura/user-prefs/migrations/default/1735245383258_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1735245383258_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Squash migrations
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/migrations/default/1735245368319_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1735245368319_insert_into_public_lucumaGridLayoutId/up.sql
  hasura/user-prefs/migrations/default/1735245383258_calibration_layouts/down.sql
  hasura/user-prefs/migrations/default/1735245383258_calibration_layouts/up.sql
  hasura/user-prefs/migrations/default/1735245383258_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1735245383258_insert_into_public_lucumaGridLayoutId/up.sql
Due: Label common PRs, Label explore PRs

Revert "Hide unnecessary tiles in calibration observations"
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/databases.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1730765051390_new_table_ids/down.sql
  hasura/user-prefs/migrations/default/1730765051390_new_table_ids/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Show the badge for duplicating at the start of clonning
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
Due: Label common PRs, Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
