Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Adds strict mode around the main panel.
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Add migration
  hasura/user-prefs/migrations/default/1715807560285_user_prefs_times/down.sql
  hasura/user-prefs/migrations/default/1715807560285_user_prefs_times/up.sql
Due: none

Temporary fix until the CfP changes in the API can be integrated.
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
Due: Label explore PRs

filter out last atom record if running
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Due: Label explore PRs

Support deleting groups
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Better guard against groups that don't exist
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Minor update
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs, Label model-testkit PRs

Support deleting groups (#3833)
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Changes for updates to prime-react and highcharts
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Fix transparent sticky header issue.
  common/src/main/webapp/less/style.less
Due: Label common PRs

avoid duplicate steps when seq is executing
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Due: Label explore PRs

Remove existence checks from allGroupElements query (#3821)
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

Fix crash when double clicking on the target table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Set unused var to _
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

A fix and a preemptive fix
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Keep minimized target tiles from persisting.
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
Due: Label common PRs, Label explore PRs

Update other munit libs'
  project/Dependencies.scala
  project/Versions.scala
Due: none

Use new name
  common/src/test/scala/explore/undo/UndoContextSpec.scala
Due: Label common PRs

Add model for proposals
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/enums/ScienceSubtype.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Update UI
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Support selecting subtype
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ScienceSubtype.scala
Due: Label explore PRs, Label model PRs

Support creating a proposal from scratch
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Support setting the call for proposal
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/clue/scala/queries/common/package.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs, Label model PRs

Add control for toOActivation
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Support changing the science subtype
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  project/build.properties
Due: Label explore PRs, Label model PRs

Update multiple libraries
  common/src/main/scala/explore/components/ui/PartnerFlags.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbPartnerSplit.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

General cleanup
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Update to the new clue syntax
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Remove old comment
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
Due: Label explore PRs

Final (hopefully) fix for minimized tile bug on target tab
  common/src/main/scala/explore/model/layout.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Support switching CfP
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Add partner to invite form
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
Due: Label common PRs, Label explore PRs

Add partner to invite form (#3873)
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
Due: Label common PRs, Label explore PRs

Replace lint-action
  .github/workflows/ci.yml
  .prettierignore
  build.sbt
Due: none

Somewhat working cfp switch
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Replace lint-action (#3874)
  .github/workflows/ci.yml
  .prettierignore
  build.sbt
Due: none

Set the proposal type when setting the CfP
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/package.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label explore PRs, Label model PRs

Restore partners editor
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Restore parner percentage display
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Cleanup and reformat
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposalType.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/ProposalType.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs
