Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Limit asterism table height (with scrollbars).
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Work on enabling flip PA mode
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
Due: Label explore PRs, Label model PRs

Share AGS state
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Cleaning refactor
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Change PA in case flip finds a better GS
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Improve logic to flip an angle
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Fix double underscore
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Port the pos angle editor to prime-react
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Don't use SUI on the overlay buttons
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
Due: Label common PRs, Label explore PRs

Small improvements to the overlay
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
Due: Label common PRs, Label explore PRs

Convert ObsBadge and UndoButtons to PrimeReact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Remove SUI Loader
  common/src/main/scala/explore/components/HelpIcon.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Convert aladin buttons to prime react
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Convert some SUI code on the itc plots
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
Due: Label common PRs, Label explore PRs

keep target summary visible when editing target
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

remove optional fadeIn
  common/src/main/scala/explore/components/Tile.scala
Due: Label common PRs

remove commented code
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

implement PR review suggestions
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

small code improvement
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Target popup from target editor
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
Due: Label common PRs, Label explore PRs

Improve the AGS flip mode with a new algorithm and allow manual selection across angles
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

fix typo
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Convert TopBar and main menu to primereact
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Fix item vertical centering in TopBar
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

enforce SED always present when importing
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Port elevation plot controls to prime
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SelectButtonEnumView.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/ItcSeriesType.scala
  model/shared/src/main/scala/explore/model/enums/PlotRange.scala
  model/shared/src/main/scala/explore/model/enums/TimeDisplay.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Use the InputTextView units and clearable features from new lucuma-ui
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Fix loading bug and ags sorting
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SelectButtonEnumView.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

target save error handling and global toastRef
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

remove commented code
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Port basic spectroscopy and imaging configuration panels to prime react
  common/src/main/scala/explore/components/InputWithUnits.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

More prime ports
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label common PRs, Label explore PRs

More items ported
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label common PRs, Label explore PRs

Better handling of ags flip mode
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

more prime
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

more prime and other fixes
  build.sbt
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Accordion -> Panel for brightness
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label common PRs, Label explore PRs

PR suggestion
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

organize imports
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
