Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

rebase
  common/src/main/scala/explore/model/AppContext.scala
Due: Label common PRs

private reusability
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Change user db to use camelCase
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/conversions.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreResizableWidth.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_gridLayoutPositions.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridLayoutPositions.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaResizableWidth.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUser.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1664910949748_switch_to_camel_case/down.sql
  hasura/user-prefs/migrations/default/1664910949748_switch_to_camel_case/up.sql
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs

Support querying ITC with a signal to noise at wavelength param
  USERPREFS.md
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Remove unused param
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

separate toInput extensions again
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SequenceEditor.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label workers PRs

Switch facade for hotkeys and setup some shortcuts
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

Reformat
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

Switch to hasura graphql naming convention
  USERPREFS.md
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label common PRs, Label common-graphql PRs

Trying out clue jit decoder
  .scalafix.conf
  project/Settings.scala
Due: none

Global hotkeys hook
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/package.scala
Due: Label common PRs, Label explore PRs

hotkeys refactor a bit
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
Due: Label common PRs

Cleanup
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

compiling
  common/src/main/scala/react/hotkeys/hooks.scala
  common/src/main/scala/react/hotkeys/package.scala
Due: Label common PRs

bump clue
  project/Settings.scala
Due: none

Disable firebase task
  .github/workflows/ci.yml
  build.sbt
Due: none

Copy paste observations
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs

Support cloning observations
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/newtypes.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/scala/react/toastify/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Add help to list the valid shortcuts
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  flake.nix
Due: Label explore PRs

Fix center target feature
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

new, prime, tables
  build.sbt
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/react/reflex/types.scala
  common/src/main/scala/react/toastify/package.scala
  common/src/main/scala/reactST/reactTable/SUITable.scala
  common/src/main/scala/reactST/reactTable/SUITableVirtuoso.scala
  common/src/main/scala/workers/WorkerClient.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/config/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
Due: Label common PRs, Label explore PRs

stylelint exception
  common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

Small touches to tables
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  package-lock.json
Due: Label common PRs, Label explore PRs

Bump lucuma-react, et. al.
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
Due: Label explore PRs

start again
  .scalafix.conf
  project/Settings.scala
Due: none

clue jit
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common-graphql PRs, Label workers PRs

revert lucuma-schemas version
  project/Settings.scala
Due: none

Add support to copy observations directly on the targets tab
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs

Do a local clone to speed up the response on the UI
  common/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Derive Semigroups manually
  model/shared/src/main/scala/explore/model/AsterismGroup.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Due: Label model PRs

Fix extra logging
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Syntax changes
  common/src/main/scala/explore/syntax/ui/package.scala
Due: Label common PRs

Logger method
  common/src/main/scala/explore/syntax/ui/package.scala
Due: Label common PRs

Add method to use pprint with Logger
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/pprinter.scala
Due: Label common PRs

Use published snapshot
  project/Settings.scala
Due: none

Adapt constraints table to use stored preferences
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/ColumnSelector.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaSortDirection.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1666014670202_alter_table_public_lucumaTableColumnPreferences_add_column_created_at/down.sql
  hasura/user-prefs/migrations/default/1666014670202_alter_table_public_lucumaTableColumnPreferences_add_column_created_at/up.sql
  hasura/user-prefs/migrations/default/1666014682517_alter_table_public_lucumaTableColumnPreferences_add_column_updated_at/down.sql
  hasura/user-prefs/migrations/default/1666014682517_alter_table_public_lucumaTableColumnPreferences_add_column_updated_at/up.sql
  hasura/user-prefs/migrations/default/1666021574441_create_table_public_lucumaSortDirection/down.sql
  hasura/user-prefs/migrations/default/1666021574441_create_table_public_lucumaSortDirection/up.sql
  hasura/user-prefs/migrations/default/1666021612300_insert_into_public_lucumaSortDirection/down.sql
  hasura/user-prefs/migrations/default/1666021612300_insert_into_public_lucumaSortDirection/up.sql
  hasura/user-prefs/migrations/default/1666021631407_insert_into_public_lucumaSortDirection/down.sql
  hasura/user-prefs/migrations/default/1666021631407_insert_into_public_lucumaSortDirection/up.sql
  hasura/user-prefs/migrations/default/1666021663798_alter_table_public_lucumaSortDirection_alter_column_id/down.sql
  hasura/user-prefs/migrations/default/1666021663798_alter_table_public_lucumaSortDirection_alter_column_id/up.sql
  hasura/user-prefs/migrations/default/1666021695158_alter_table_public_lucumaTableColumnPreferences_alter_column_sorting/down.sql
  hasura/user-prefs/migrations/default/1666021695158_alter_table_public_lucumaTableColumnPreferences_alter_column_sorting/up.sql
  hasura/user-prefs/migrations/default/1666021765564_set_fk_public_lucumaTableColumnPreferences_sorting/down.sql
  hasura/user-prefs/migrations/default/1666021765564_set_fk_public_lucumaTableColumnPreferences_sorting/up.sql
  model/shared/src/main/scala/explore/model/TableColumnPref.scala
  model/shared/src/main/scala/explore/model/enums/SortDirection.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
