Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Replace some implicits
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label common PRs, Label explore PRs

Port the side tabs to prime
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/scala/explore/VerticalSection.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

PR suggestions
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/SideTabs.scala
Due: Label common PRs, Label explore PRs

Change the default target visual options
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Due: Label model PRs

Fix height of the help box
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Migrate proposal editor to prime.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/explore-grid.less
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

More prime migration
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
Due: Label common PRs, Label explore PRs

Minor cleanup items for recent PRs.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Convert Aladin settings menu to prime
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Support unconstrained and parallactic override modes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

PR suggestion
  common/src/main/scala/explore/model/PAProperties.scala
Due: Label common PRs

Set the selected tab depending on the route
  explore/src/main/scala/explore/SideTabs.scala
Due: Label explore PRs

Remove methods on lucuma-catalog
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Dont have padding on the brightness table
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Fixes a bug refreshing the coordinates
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Update libraries
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  project/Settings.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Convert some types to newtype
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
Due: Label model PRs

Increase ags/catalog cache version
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label workers PRs

Replace last SUI component and remove lucuma-react-semantic-ui
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorPopup.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

More SUI cleanup
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Small fixes for safari
  common/src/main/webapp/less/vendor/react-resizable.less
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Launcher improvemnts and better detection of ctrl key
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Remove disposal of the runtime
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

Rework the way shortcuts are built
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/shortcuts.scala
Due: Label common PRs, Label explore PRs

Remove shortcuts with ctrl
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Show a toast on pasting
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Update headers
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common-queries PRs

Some refactorings
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Support pasting/duplicating observations on the obs tab
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Cleanup
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListActions.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

Simplification due to PR comments
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

Some missing copyright fixes
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common-queries PRs

Rebase onto master
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  project/Settings.scala
Due: Label explore PRs

new schema
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/public/development.conf.json
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

comment out observation title
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs

comment out plannedTime
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs

Update graphql queries for config, get spectrosc reqmnts working again
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/ScienceModeBasic.scala
  model/shared/src/main/scala/explore/model/ScienceModeInitial.scala
  model/shared/src/main/scala/explore/model/syntax/ScienceModesSyntax.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

compiles!
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
