Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

switch to sbt-clue
  build.sbt
  common-queries/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common-queries/src/clue/scala/queries/common/ITCQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ManualSequenceGQL.scala
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/SSOQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/TargetQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/TimingWindowsGQL.scala
  common-queries/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/VisitsSQL.scala
  common-queries/src/clue/scala/queries/schemas/ITC.scala
  common-queries/src/clue/scala/queries/schemas/SSO.scala
  common-queries/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label common-queries PRs

Switch SSO client to FetchJS
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

move "add headers" method to extension
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/IfLogged.scala
  common/src/main/scala/explore/model/userVault.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Avoid double scrollbars
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Show a message on the AGS overlay if no star is found [sc-2070]
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Always select a pa to overlay FPU [sc-2068]
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Due: Label common PRs, Label explore PRs

Show average parallactic angle even if there is no gs [sc-2063]
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Cleanup
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Formatting scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Stylelint formatting
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Fix missing magnitudes in case of more columns
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label common PRs, Label explore PRs

show toast when target is created
  common/src/main/scala/explore/common/TargetQueries.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
Due: Label common PRs, Label explore PRs

ToastCtx typeclass
  common/src/main/scala/explore/common/TargetQueries.scala
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

select new target in target view
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

scroll selected target into view
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

organize imports
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

small improvement
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Fix brightnesses row-start for empty target
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Display FPU in short configuration
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  model-tests/shared/src/test/scala/explore/model/ObsSummarySuite.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Formatting
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label model PRs

reenable-and-or-demo
  observationtree/src/main/scala/explore/observationtree/Test.scala
Due: none

adjust to new clue API
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/Explore.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Move some of the target user preferences to be global
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  hasura/user-prefs/migrations/default/1678926475745_target_to_global_preferences/down.sql
  hasura/user-prefs/migrations/default/1678926475745_target_to_global_preferences/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Alternative loading indicator
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/solar-system.scss
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Implement RA, Dec, SED and multi-target rows for obs summary table
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model/shared/src/main/scala/explore/model/TargetSummary.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Formatting
  model/shared/src/main/scala/explore/model/TargetSummary.scala
Due: Label model PRs

simplify sticky cols styles by using siblings
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Show different column set for Simbad results
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

move styling to scss
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

target summary table: scroll to selected on resize
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label explore PRs

Don't show toast for each target when importing
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Due: Label explore PRs

Small fixes on obs summary table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Formatting
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Fix target column anchor
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

empty lines
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

revert preferences DB URI
  common/src/main/public/development.conf.json
Due: Label common PRs

address PR comments
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

working, but not updating observations yet
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/cache/ProgramCache2.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

simplification
  common/src/main/scala/explore/cache/ModelCaches.scala
  model/shared/src/main/scala/explore/model/util/Cache.scala
Due: Label common PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
