Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

show step id on dev mode, remove pprinter
  build.sbt
  common/src/main/scala/explore/utils/pprinter.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Filter out gaia magnitudes when querying ITC
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label explore PRs, Label model PRs

No words
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
Due: Label common PRs

Add box to redeem invites
  common/src/main/scala/explore/Icons.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInvitation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Small UI retouches to the timing window editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Due: Label common PRs, Label explore PRs

Update catalog code and add cache busting parameter
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label workers PRs

Show how many scheduling windows are present on the tile's title
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Due: Label explore PRs

Hide S/N for calibrations and certain acq
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

Remove unused parameter
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
Due: Label explore PRs

Show planned times with the tile closed
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Show on the table S/N per exposure
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
Due: Label explore PRs, Label model PRs

Disable sky brightness and lunar elevation on the elevation plot
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Read the modes tables from the odb
  build.sbt
  common/src/main/public/instrument_spectroscopy_matrix.csv
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model-tests/jvm/src/test/resources/instrument_matrix.csv
  model-tests/jvm/src/test/resources/instrument_spectroscopy_matrix.csv
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model/js/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/js/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/StaticData.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs, Label workers PRs

Load modes on a separate cache
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ModesCache.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Hide/Show the correct series
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Remove some unused code
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label model PRs

Show the selected band for AGS
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs, Label workers PRs

Display the band as a subscript
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
Due: Label common PRs, Label explore PRs

Update black body default value
  common/src/main/scala/explore/model/enums/SEDType.scala
Due: Label common PRs

Run prettier
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Make some plot series hidden rather than gone and store selection on user prefs
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1712849109532_elevation_plot_series/down.sql
  hasura/user-prefs/migrations/default/1712849109532_elevation_plot_series/up.sql
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
Due: Label explore PRs, Label model PRs

Use pending duration to calculate average parallactic angle
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Create new targets with the name given on search
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

Subscribe to plot series selection
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
Due: Label explore PRs

Use the pending time for the elevation plot
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Simplify props
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Allow to open the panel after redeeming an invitation
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
Due: Label common PRs, Label explore PRs

Better error message if Gaia is down
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Show next to the average parallactic angle the duration and time used for evaluation
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/AveragePABasis.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Add info button for times
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
Due: Label explore PRs

Support restoring minimized tiles
  common/src/main/scala/explore/components/Tile.scala
Due: Label common PRs

Swap itc and sequence tile positions
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
Due: Label common PRs

Don't use the selected PA when showing average PA
  common/src/main/scala/explore/model/PAProperties.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Remove times from ProgramDetailsSubquery
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
Due: Label explore PRs

Support removing users
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

PR comments
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs

Show the available call for proposals
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/CallForProposal.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Remove unused import
  model/shared/src/main/scala/explore/model/GroupElement.scala
Due: Label model PRs

Add email status to the invitations table
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/CoIInvitation.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs

Set the semester from CfP and show submission errors on the screen
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/CallForProposal.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramReferenceSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs
