Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

extract sequence row model
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Due: Label explore PRs

imports change in new lucuma-ui
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Make it possible to add a target directly on the tile if empty
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

Change units to show exposure time
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
Due: Label common PRs, Label explore PRs

Rename duration method
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
Due: Label explore PRs

Check itc version and cleanup if data version changes
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCVersionsRequests.scala
Due: Label model PRs, Label workers PRs

Adjust positions when there is a gaussian profile and a simbad catalog profile
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Show 'None' when no grating/filter/fpu is defined for a step
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
Due: Label explore PRs

Add control to adjust a finder chart to the parallactic angle
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  model/shared/src/main/scala/explore/model/Transformation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Provide sensible roi and ccd to ITC queries
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

icons
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

imports
  common/src/main/scala/explore/Icons.scala
Due: Label common PRs

mergify
  .mergify.yml
Due: none

prettier
  build.mjs
  explore/src/main/webapp/index.html
  explore/src/main/webapp/main.jsx
  flake.lock
  vite.config.mjs
Due: Label explore PRs

address pr comments
  vite.config.mjs
Due: none

extract sequence columns definitions
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceColumns.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/webapp/main.jsx
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Use exported SideTabs component
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/verticalbuttons.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Cleanup
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label common PRs, Label explore PRs

RoutingInfo View
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SideTabs.scala
Due: Label common PRs, Label explore PRs

Fix pointer events on FF
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Recalculate the sequence when the target changes
  common/src/main/scala/explore/common/package.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Changes suggested in PR comments
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

Fix the way fields are updated or it could use a default value
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
Due: Label explore PRs

Show patrol field even if there are no offsets
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Due: Label explore PRs

Fix for pasting to asterisms
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
Due: Label explore PRs

Add control to add a new observation if none is present
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

upgrade lucuma-ui
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Due: Label explore PRs

system theme
  common/src/main/webapp/less/style.less
  project/Versions.scala
Due: Label common PRs

Add specific class for the add button
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label common PRs, Label explore PRs

Fix to handle pasting into multiple targets on the summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

new theme selector
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Fix plannedTime decoding error
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Update deprecation
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
Due: Label explore PRs

Update scala version in vite config
  vite.config.mjs
Due: none

Fix ObsAttachment upload
  common/src/main/scala/explore/utils/OdbRestClient.scala
Due: Label common PRs

Add acquisition offsets to the guidestar calculations.
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Upgrade dependencies - including codec move from schemas to odb-schemas
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Use methods in lucuma-core to determine the brightest target
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label explore PRs, Label model PRs

Include css on workbox assets
  vite.config.mjs
Due: none

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
