Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Change group min/max delay updating
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

unify odb and itc versions
  project/Dependencies.scala
  project/Versions.scala
Due: none

Make NotAccepted proposals readonly
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Don't show support user rows or affiliation column in data sharing table
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Showed unapproved observation warnings in the warnings table
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label model PRs

Show proposal status to readonly CoIs
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
Due: Label explore PRs

Allow pasting of any text into email input in program users table
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  project/Versions.scala
Due: Label explore PRs

new clue with validations
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  project/Versions.scala
Due: Label explore PRs

Don't request ITC for certain calibration, e.g. twilight
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Ignore empty warnings
  explore/src/main/scala/explore/config/ModesTableCommon.scala
Due: Label explore PRs

Update lucuma-ui v0.171.0
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  project/Versions.scala
Due: Label explore PRs

Make proposal itself readonly for NotAccepted proposals
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Update aladin to use the official npm lib
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  package-lock.json
  package.json
  project/Versions.scala
  vite.config.mts
Due: Label explore PRs

Remove unused cache configuration
  vite.config.mts
Due: none

Update lucuma-ui to allow mouse move when panning is not allowed
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Fully hide the dev menu items
  explore/src/main/scala/explore/TopBar.scala
Due: Label explore PRs
