Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

subqueries
  build.sbt
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/GeneratedSequenceSQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbConstraintsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/BasicConfiguration.scala
  model/shared/src/main/scala/explore/model/ConstraintGroup.scala
  model/shared/src/main/scala/explore/model/ConstraintsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/TargetWithObs.scala
  package-lock.json
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

finish rearranging tests + generators
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/ConstraintsSummarySuite.scala
  model-tests/shared/src/test/scala/explore/model/WithIdSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  project/Settings.scala
Due: Label model PRs, Label model-testkit PRs, Label model-tests PRs

fix imports
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/VisitsSQL.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label common-graphql PRs, Label model PRs

Update to Cats Effect v3.5.0-RC1
  project/Settings.scala
Due: none

organize imports
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label explore PRs

Update to lucuma-schemas 0.42.2
  project/Settings.scala
Due: none

Update lucuma-react/lucuma-ui
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Add `?` as alternative key for shortcuts help
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/shortcuts.scala
Due: Label explore PRs

Move "toInput" methods to lucuma-schemas
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  project/Settings.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs

Fix problem of ITC not being called for spectroscopy modes table.
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Remove debug statement
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Wait for ITC before allowing config creation. More messages.
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label explore PRs, Label model PRs

Fix scrolling issues with spectroscopy table when sorted.
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Add code comments
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Update scalajs-dom
  explore/src/main/scala/explore/TopBar.scala
  project/Settings.scala
Due: Label explore PRs

Update lucuma-ui and use table reusability from there
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Settings.scala
Due: Label explore PRs

PM correct the base target of asterisms
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs

painting observation time
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label common PRs, Label explore PRs

Fix scrollTo of spectroscopy modes table.
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

display catalog object info in target editor
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

Use custom zoom buttons on the search aladin control
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

contemplate object type for imported targets
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label explore PRs

In modes table, handle case of no brightnesses
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label model PRs

Add help icon for catalog info
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label explore PRs

fix brightness table in grid
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label common PRs, Label explore PRs

Add ItcQueryProblems.MissingBrightness
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label explore PRs, Label model PRs

Move average parallactic calculation to core
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Fix bug when deleting last target from asterism on target tab
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

semester picker
  common/src/main/scala/explore/components/FormStaticData.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/datepicker.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label common PRs, Label explore PRs, Label model PRs

show date in semester plot
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label common PRs, Label explore PRs

fix style
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

remove commented code
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

Use localStorage for copy/paste of targets/observations
  common/src/main/scala/explore/model/AppContext.scala
  common/src/main/scala/explore/model/ExploreClipboard.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TargetIdSet.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Handle errors from accessing localStorage
  common/src/main/scala/explore/model/ExploreClipboard.scala
Due: Label common PRs

Update to vite 4
  .bundlemonrc.json
  common/src/main/webapp/sass/explore.scss
  package-lock.json
  package.json
  vite.config.mjs
Due: Label common PRs

Properly pm correct for 1-arity asterisms
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

timing windows in plot
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
Due: Label common PRs, Label explore PRs, Label model PRs

fix imports
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
Due: Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
