Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

bump ui, remove http client from sequence
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  project/Versions.scala
Due: Label explore PRs

fix brightness table row height
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

bump versions
  project/Versions.scala
Due: none

first steps to implement custom sed editing
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label common PRs, Label explore PRs, Label model PRs

refactor sed components
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/IntegratedBrightnessEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/SurfaceBrightnessEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/package.scala
Due: Label explore PRs

remove unused imports
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/IntegratedBrightnessEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/SurfaceBrightnessEditor.scala
Due: Label common PRs, Label explore PRs

brighntesses editor refactor
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
Due: Label explore PRs

remove unused code
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
Due: Label explore PRs

split emission line editor
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/IntegratedEmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/SurfaceEmissionLineEditor.scala
Due: Label explore PRs

restore commented code
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label explore PRs

add id pickler
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
Due: Label model PRs

scalafix
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
Due: Label explore PRs, Label model PRs

select custom sed attachment
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

checkpoint in sed editor
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Due: Label common PRs, Label explore PRs

remove disabled, prepare local state
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Due: Label explore PRs

propagate custom sed attachments
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Due: Label explore PRs

remove commented code
  common/src/main/scala/explore/model/enums/SEDType.scala
Due: Label common PRs

Group warnings table
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  hasura/user-prefs/migrations/default/1741292981236_group_warnings_table/down.sql
  hasura/user-prefs/migrations/default/1741292981236_group_warnings_table/up.sql
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

better placement of upload button
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
Due: Label explore PRs

migrate to monadic hooks
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
Due: Label explore PRs

custom sed upload, propagat params, monadic hooks
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Due: Label explore PRs

fix update logic
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
Due: Label explore PRs

generalize upload button
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/components/FileUploadButton.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
Due: Label explore PRs

increase itc timeout
  workers/src/main/scala/workers/ItcServer.scala
Due: Label workers PRs

bump itc
  project/Versions.scala
Due: none

Update explorre for the new ITC model
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Update libs
  project/Versions.scala
Due: none

Fix duration used for parallactic angle calculation
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs, Label model PRs

Removing debugging println
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Always show observer notes for non-Science programs
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Update for AGS guide star selection changes.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/GuideStarSelection.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/GuideStarTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

For core update, remove use of `obsolete` from enums
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
Due: Label explore PRs, Label model PRs

Remove commented code
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

The UI is not showing the flipped angle if AGS decides to do a flip
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Revert "Bump prettier from 3.3.3 to 3.5.3"
  package-lock.json
  package.json
Due: none

Fix prettier error
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Regenerate actions
  .github/workflows/ci.yml
Due: none

Update endpoints
  common/src/main/public/environments.conf.json
Due: Label common PRs

Fix dev addresses
  common/src/main/public/environments.conf.json
Due: Label common PRs
