Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

bump
  project/Versions.scala
Due: none

Allow adding new finder charts when the tile is closed
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Use Monoid[VdomNode]
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

bump versions
  project/Versions.scala
Due: none

Always allow edits to a group instead of only when it has >1 elements
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

Always allow edits to a group instead of only when it has >1 elements (#3641)
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

vite warmup
  vite.config.mjs
Due: none

Revert to vite 4.5.0
  package-lock.json
  package.json
  project/Versions.scala
Due: none

Better looking loading of user preferences
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Select the last uploaded finder chart
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
Due: Label explore PRs

Update lucuma-schemas v0.76.0- remove program id from some Inputs
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
  project/Versions.scala
Due: Label explore PRs

Remove copy-to-clipboard
  package-lock.json
  package.json
  project/Versions.scala
Due: none

Remove unused file
  explore/src/main/webapp/instrument_matrix.csv
Due: Label explore PRs

Load group program times separately from main query
  build.mjs
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/webapp/index.html
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  vite.config.mts
Due: Label explore PRs, Label model PRs

move group reset to updateGroupsMappingForObsEdit
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

move config loading
  build.mjs
Due: none

formatting
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

move function down a bit
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

Use group query instead of program query
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  project/Versions.scala
Due: Label explore PRs

Load group program times separately from main query (#3658)
  build.mjs
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/webapp/index.html
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
  vite.config.mts
Due: Label explore PRs, Label model PRs

Fix issue of program times not updating on programEdit
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label explore PRs

Remove program time updates on `programEdit`
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label explore PRs

enable minify and new scalajs
  build.sbt
  project/Versions.scala
Due: none

Use ubuntu-latest
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Remove unused devDep
  package-lock.json
  package.json
Due: none

Update multiple libraries
  common/src/test/scala/explore/model/arb/ArbExploreLocalPreferences.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismVisualOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model-tests/shared/src/test/scala/explore/model/ObsIdSetSuite.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
Due: Label common PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Update sbt-lucuma and clue
  .scalafix-common.conf
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/common/RetryHelpers.scala
  common/src/main/scala/explore/common/package.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/main/scala/explore/undo/Action.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/scala/explore/undo/Undoer.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  explore/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/expandedIds.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/parsers.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/optics/GetAdjust.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/explore/undo/IndexedCollMod.scala
  project/Versions.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

lucumaScalafmtGenerate
  .scalafmt-common.conf
Due: none

Formatting
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
Due: Label explore PRs

Switch to esbuild (#1583)
  build.mjs
  build.sbt
  package-lock.json
  package.json
  vite.config.mts
Due: none

Use KeyedIndexedTree for groups in ProgramSummaries
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Move ObsNode to common and add tests to KeyedIndexedTreeSuite
  common/src/main/scala/explore/model/ObsNode.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Use KeyedIndexedTree for groups in ProgramSummaries (#3681)
  common/src/main/scala/explore/model/ObsNode.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-tests/shared/src/test/scala/explore/data/KeyedIndexedTreeSuite.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Allow spaces on the description
  explore/src/main/scala/explore/EditableLabel.scala
Due: Label explore PRs

Put an id to EditableLabel
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
Due: Label explore PRs

Switch to useId hook
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
Due: Label explore PRs

Move user details table to its own tile
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Remove index and parentId from GroupTree data
  common/src/main/scala/explore/model/ObsNode.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-tests/shared/src/test/scala/explore/undo/ListModSpec.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/undo/KIListMod.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
