Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

encapsulate rerender logic
  explore/src/main/scala/explore/proposal/CallDeadline.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs, Label model PRs

submitted message
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/SubmittedProposalMessage.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

separate reusability
  common/src/main/scala/explore/model/reusability.scala
Due: Label common PRs

separate X and Y binning
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label model PRs

Initial setup
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Support reseting the name remotely
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label explore PRs

Revert to store the gs analysis in PAProperties
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label explore PRs

Share guide star selection with the configuration panel
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label explore PRs

Add dev tool for AGS
  common/src/main/scala/explore/model/GuideStarSelection.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
Due: Label common PRs, Label explore PRs

Fix dithers validation
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label explore PRs, Label model PRs

Better reset selection if pa changes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label explore PRs

Cleanup
  common/src/main/scala/explore/model/GuideStarSelection.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label common PRs, Label explore PRs

Fixes an edge case that made it look like the target table was resizable
  common/src/main/scala/explore/components/Tile.scala
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

Stylelint
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Todd made me realize we don't need the name in ObsConfiguration
  common/src/main/scala/explore/model/GuideStarSelection.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Fix silly bug
  common/src/main/scala/explore/model/GuideStarSelection.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Update flake
  .prettierignore
  flake.lock
Due: none

PR suggestions
  common/src/main/scala/explore/model/GuideStarSelection.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Add link to download templates
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Consider central wavelength overrides to request ITC graph
  explore/src/main/scala/explore/itc/ItcProps.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Add help icon for the calibrations group
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
Due: Label common PRs, Label explore PRs

Display the help icon only on system groups
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
Due: Label explore PRs

Remove unneeded log
  explore/src/main/scala/explore/itc/ItcProps.scala
Due: Label explore PRs

just formatting
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

working-ish
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
Due: Label explore PRs, Label model PRs

attempt to put calibrations at the end
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label model PRs

update group times
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label explore PRs, Label model PRs

skip time queries for deleted obs and groups
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

working, except for root group
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

don't apply obs mods if deleted
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

fix dropping on root
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
Due: Label explore PRs, Label model PRs

fix new update algorithm in KeyedIndexedTree
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

only update obs group if in root
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

fix decoding of GroupUpdate
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
Due: Label explore PRs, Label model PRs

refactor group tree building
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

fixes for insers
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

intermediate checkpoint
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

simplify logic
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

fix obs cloning
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/package.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
