Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Request the itc data to use it when the mode has been selected
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs

Remove some type definitions
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
Due: Label common-queries PRs

populate cache beyond query limit
  common-queries/src/clue/scala/queries/common/AsterismQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label common PRs, Label common-queries PRs, Label model PRs

Fix encoding of signalToNoiseAt
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

release itc resource as soon as we have results
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
Due: Label common PRs, Label explore PRs

Fix constraints
  model/jvm/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
Due: Label model PRs

Display and/or groups
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  project/Versions.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Revert scss formatting
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Formatting
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
Due: Label explore PRs

Remove unused KeyedIndexedList.fromListMany
  explore/src/main/scala/explore/observationtree/ObsList.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
Due: Label explore PRs, Label model PRs

actually show timing windows, log other twilights
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Support accepting multiple target's graphs
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Review comments
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
Due: Label explore PRs

Organize imports
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
Due: Label explore PRs

Scss formatting
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Calculate the peak sn on the backend and accept sn @ wv for the graph
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Fix deprecation warning
  explore/src/main/scala/explore/itc/package.scala
  model/jvm/src/main/scala/explore/modes/ModesMatrixPlatform.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
Due: Label explore PRs, Label model PRs

Fix typo
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
Due: Label explore PRs

Better error if no mode is selected
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
Due: Label explore PRs

Handle a particular case when the geometry is calculated and there is no mode
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Due: Label explore PRs

Move program groups query to programCache
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsListTree.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Fix new observations not appearing
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
Due: Label common PRs, Label common-queries PRs, Label model PRs

Review comments
  common/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs

Improve sorting of the modes table
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/package.scala
Due: Label explore PRs, Label model PRs

Implement PR suggestion on TimeSpan order
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Suggested improvement from PR comments
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
Due: Label explore PRs

Show the brightness used to request the ITC graph
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label explore PRs, Label model PRs

Add Observation Attachments Table
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  common/src/main/public/development.conf.json
  common/src/main/public/production.conf.json
  common/src/main/public/staging.conf.json
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProposalAttachment.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  project/Versions.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Allow vertical scrolling on the obs tree
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

towards unified observation data
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label common-queries PRs, Label model PRs

arbs, cogens
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
Due: Label explore PRs, Label model-testkit PRs

working, but missing offsets
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/common/package.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

remove comments, reinstate offsets
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

remove comments
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

fix rebase issues
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label workers PRs

Update crystal to fix View bug
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  project/Versions.scala
Due: Label explore PRs

Keep group state when selecting observations (and between moving tabs)
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

Move group ids to expandedIds and use Set
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/expandedIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Use custom zoom
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Update typelevel libs
  common-queries/src/clue/scala/queries/common/GroupQueriesGQL.scala
  project/Versions.scala
Due: Label common-queries PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
