Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Display Time Accounting by Science Band
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Remove map syntax
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
Due: Label explore PRs

throttle all subscriptions
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Review comments
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
Due: Label explore PRs

throttle general updates
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Use Awarded Time in Time Allocation calculations instead of planned time
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  model/shared/src/main/scala/explore/model/allocations.scala
Due: Label explore PRs, Label model PRs

Filter calibrations out of constraints summary table
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
Due: Label explore PRs

Filter out calibrations from calculated groupings in ProgramSummaries
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Extract column definitions out of hooks
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
Due: Label explore PRs

refresh visits also when a step starts
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
Due: Label explore PRs

remove current step from future, not visits
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

monadic hooks
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

remove comment
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

Update lucuma-ui to 0.129.2
  project/Versions.scala
Due: none

Add Data Users table to program tab
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

monadic hooks
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label explore PRs

avoid duplicate steps when running
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
Due: Label explore PRs

refactor sequence component into smaller ones
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
Due: Label explore PRs

ObsBadge updates
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Data Users table updates
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

More changes to Data Sharing table
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Show obs reference index in obs summary table when available
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Due: Label common PRs, Label explore PRs

Monadic hooks for ObsSummaryTile
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Due: Label explore PRs

remove brackets, show thicker border between atoms
  common/src/main/public/bracket.svg
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
Due: Label common PRs, Label explore PRs

lint scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Move ObsSummaryRow and the obs summary column defs to separate files
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
Due: Label explore PRs

Fix data sharing counter
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label explore PRs

Add tooltip to ObsBadge when observation reference index is shown
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Use `withTooltip` instead of `Tooltip.Fragment`
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

scalafix
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

update ui, show ongoing label
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  project/Versions.scala
Due: Label explore PRs

scalafix
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
Due: Label explore PRs

Select new observation on creation
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

Do not allow proposal submission with zero defined observations.
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Update lucuma-ui to 0.130.1
  project/Versions.scala
Due: none

Show program active dates on the programs tab instead of CfP dates
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs

Show warnings for group violations
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/GroupBadge.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/enums/GroupWarning.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Limit group warning recursion level, remove printlns
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label model PRs

Update attachments endpoints for odb changes
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
Due: Label common PRs, Label explore PRs

update sequence on dataset change
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  project/Versions.scala
Due: Label explore PRs
