Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Formatting 🙄
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Remove unused import
  common/src/main/scala/explore/model/RootModel.scala
Due: Label common PRs

Update lucuma-react
  explore/src/main/scala/explore/observationtree/ObsList.scala
  project/Versions.scala
Due: Label explore PRs

Keep group state when selecting observations (and between moving tabs) (#2957)
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  model/shared/src/main/scala/explore/model/expandedIds.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Fix some interactions where the exposure times gets reset accidentally
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Show an extra decimal on the sn @ wv field
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Allow hiding/showing the obs tree
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
Due: Label common PRs, Label explore PRs

Remove println
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Update prime react and fixes a couple of regressions on the forms
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  package-lock.json
  package.json
Due: Label common PRs

small cosmetic changes, avoid default ZoneId
  .gitignore
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

revert to auto layout for sequence tables
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
Due: Label common PRs, Label explore PRs

Small last minute cosmetic changes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
Due: Label common PRs, Label explore PRs

Fix obs summary
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

fix incongruencies when deleting timing windows
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
Due: Label explore PRs

show/hide scheduling windows in plots
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Clip the target name if too long and few other small improvements
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label common PRs, Label explore PRs

Adjust the active switch
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Ability to download attachments
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

use _traverse
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Due: Label explore PRs

Address review comment
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Due: Label explore PRs

Allow filtering of cacheable items, e.g. to not cache errors
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Addressed PR comment
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Update attachments in ProgramCache on programEdit event
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs, Label common-queries PRs

Use new API to request the ITC chart
  common-queries/src/main/scala/queries/schemas/itc/syntax.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Update comment
  explore/src/main/scala/explore/itc/ItcProps.scala
Due: Label explore PRs

wip
  common/src/main/scala/react/visibility/IntersectionObserver.scala
  common/src/main/scala/react/visibility/IntersectionObserverEntry.scala
  common/src/main/scala/react/visibility/IntersectionObserverOptions.scala
  common/src/main/scala/react/visibility/hooks.scala
  common/src/main/webapp/sass/common.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

Compress data stored in indexed db via wasm-flate
  package-lock.json
  package.json
  vite.config.mjs
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/compression.scala
Due: Label workers PRs

Enable wasm on web workers
  package-lock.json
  vite.config.mjs
Due: none

Rebased onto master and update plugins
  package.json
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Missed package-lock.json
  package-lock.json
Due: none

update highcharts
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Display the correct single SN provided by the server
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Update lucuma-itc
  project/Versions.scala
Due: none

Support unsetting SED
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Updated with PR comments
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
Due: Label common PRs, Label explore PRs

Don't query ITC if SED is not defined
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Small graph ui improvements
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Don't calculate the brotli size
  build.mjs
Due: none

Calculate ITC even if obs mode is not set
  explore/src/main/scala/explore/itc/ItcProps.scala
Due: Label explore PRs

Revert wasm compression
  package-lock.json
  package.json
  vite.config.mjs
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/compression.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
