Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Setup finder charts tile
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/Resources.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/images/NGC1055.jpg
  common/src/main/webapp/images/NGC1055.png
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/package.scala
Due: Label common PRs, Label explore PRs

Support rotation in 90 deg steps
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

Add zoom in/out
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Add invert operation
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Add reset
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Add text controls for zoom and rotate
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Cleanup
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Separate flip operations from scale
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label explore PRs

Don't stretch the image when the tile gets too big
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Rename icon
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Update ags when the selected target changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Fix calculation of interval in advanced config
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

wip
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Remove proposal attachments tile from overview tab
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label explore PRs

Switch to creating attachment map locally, better temporary enum, etc.
  common-queries/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  common-queries/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Move attachment upload from table footer to tile title.
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
Due: Label common PRs, Label explore PRs

Add assigned obs ids to obs attachments table
  common-queries/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/package.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
Due: Label common-queries PRs, Label explore PRs, Label model PRs

small enhancements
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
Due: Label explore PRs

Fix issue with stale ObdRestClient
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

WWW
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Fix a subtle bug that makes the flip angles not to converge
  build.sbt
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Make resolution and interval not input fields
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Support scrolling on the obs summary table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

Follow PR recommendation
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Remove virtualizer as suggested
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Add support to clean the cache stores
  common/src/main/scala/explore/model/WorkerClients.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/events/PlotMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/CacheIDBStores.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/PlotServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Increase cache version numbers
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Put program list in the cache and validate the program id in the URL.
  common-queries/src/clue/scala/queries/common/ProgramInfoSubquery.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common/src/main/scala/explore/cache/ProgramCache.scala
  common/src/main/scala/explore/common/ProgramQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInfo.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Simplify stream merging in ProgramCache
  common/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs

Improve the way the time is sorted to ensure errors or not supported are always at the bottom of the list
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  package-lock.json
  package.json
Due: Label explore PRs

UI adjustments
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
Due: Label common PRs, Label explore PRs

migrate to new sequence model
  common-queries/src/clue/scala/queries/common/GeneratedSequenceSQL.scala
  common-queries/src/clue/scala/queries/common/ManualSequenceGQL.scala
  common-queries/src/clue/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/ManualSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditor.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  project/Versions.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

Properly assign shortcut
  explore/src/main/scala/explore/shortcuts.scala
Due: Label explore PRs

scheduling tab
  common-queries/src/clue/resources/UserPreferencesDB.graphql
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/SideTabs.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  fetchUserPreferencesSchema.sh
  hasura/user-prefs/migrations/default/1685470195671_scheduling_layout/down.sql
  hasura/user-prefs/migrations/default/1685470195671_scheduling_layout/up.sql
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/SchedulingGroup.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  model/shared/src/main/scala/explore/model/expandedIds.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs

tooltips
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
Due: Label explore PRs

scheduling tooltips, fix datepicker aria
  common/src/main/scala/explore/render.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

fix rebase errors
  explore/src/main/scala/explore/Routing.scala
Due: Label explore PRs

fix user pref schema
  common-queries/src/clue/resources/UserPreferencesDB.graphql
Due: Label common-queries PRs

fix more rebase errors
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

enable BEM-style class name
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs
