Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Support local.conf.json again.
  model/shared/src/main/scala/explore/model/AppConfig.scala
  vite.config.mjs
Due: Label model PRs

firebase promotion scripts
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none

permissions
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
  size.sh
Due: none

Select the attachment from the list
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/Resources.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/webapp/images/NGC1055.jpg
  common/src/main/webapp/images/NGC1055.png
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/AppConfig.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Build workers in same linking step as explore
  build.mjs
  build.sbt
  explore/src/main/webapp/agsworker.js
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/main.jsx
  explore/src/main/webapp/plotworker.js
  package.json
  vite.config.mjs
Due: Label explore PRs

Separate explore module
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

UI improvements
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/state/SolarProgress.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
Due: Label common PRs, Label explore PRs

Support adding and unlinking charts
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
Due: Label explore PRs

Fix selecting new observation resetting scroll position
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Scroll to new observations when added
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Fix selecting new observation resetting scroll position and scroll to new observations (#3057)
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Support unlinking a chart
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/findercharts/AttachmentsOverlay.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  heroku/static.json
  model/shared/src/main/scala/explore/model/AppConfig.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add `useBoolSwitch` bracket utility extension
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Refactor to `.switching` extension method and add a test
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Create new webapp module
  .mergify.yml
  build.sbt
  vite.config.mjs
  webapp/src/main/webapp/agsworker.js
  webapp/src/main/webapp/catalogworker.js
  webapp/src/main/webapp/index.html
  webapp/src/main/webapp/instrument_matrix.csv
  webapp/src/main/webapp/itcworker.js
  webapp/src/main/webapp/main.jsx
  webapp/src/main/webapp/plotworker.js
Due: none

Min-update
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  project/Versions.scala
Due: none

Simplify logic
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Update workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Generate scalafmt
  .scalafmt-common.conf
Due: none

Add `switching` View bracket utility extension (#3060)
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Update stylelint import location
  .stylelintrc.json
Due: none

update versions
  project/Versions.scala
  vite.config.mjs
Due: none

regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Remove custom user_prefs chart_type
  hasura/user-prefs/metadata/databases/default/tables/public_exploreChartType.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaItcPlotPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaTarget.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1687885000365_remove_chart_type/down.sql
  hasura/user-prefs/migrations/default/1687885000365_remove_chart_type/up.sql
Due: none

Remove custom user_prefs breakpoint_name_type
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaGridBreakpointName.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1687885692538_remove_breakpoint_name_type/down.sql
  hasura/user-prefs/migrations/default/1687885692538_remove_breakpoint_name_type/up.sql
Due: none

Migrate user prefs db
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  fetchUserPreferencesSchema.sh
Due: Label common PRs

Missing file
  model/shared/src/main/scala/explore/model/enums/GridBreakpointName.scala
Due: Label model PRs

Use JDK17 for linter ci job
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix compilation error
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

Store finder chart transformations on the user prefs
  common/src/clue/resources/UserPreferencesDB.graphql
  common/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1687899522596_finder_chart_preefs/down.sql
  hasura/user-prefs/migrations/default/1687899522596_finder_chart_preefs/up.sql
  model/shared/src/main/scala/explore/model/Transformation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

compiles
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/scala/explore/undo/Undoer.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

start merging undo stacks
  common/src/main/scala/explore/model/ModelUndoStacks.scala
Due: Label common PRs

merge undo stacks
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label common PRs, Label explore PRs

imports
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label common PRs, Label explore PRs

a whole lot of cleanup
  common/src/main/scala/explore/model/ModelUndoStacks.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

fix rebase
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Remove separate webapp
  .mergify.yml
  .stylelintrc.json
  build.sbt
  explore/src/main/webapp/agsworker.js
  explore/src/main/webapp/catalogworker.js
  explore/src/main/webapp/index.html
  explore/src/main/webapp/instrument_matrix.csv
  explore/src/main/webapp/itcworker.js
  explore/src/main/webapp/main.jsx
  explore/src/main/webapp/plotworker.js
  vite.config.mjs
Due: Label explore PRs
