Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Fix scale calculation bug
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
Due: Label explore PRs

Update node version to 20 in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

Setup firebase deploy
  .firebaserc
  .github/workflows/ci.yml
  build.sbt
  firebase.json
Due: none

`firebaseDeployStaging` -> `firebaseDeployDev`
  build.sbt
Due: none

Extend the staging banner to all non-production instances
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Explore.scala
Due: Label common PRs, Label explore PRs

Update odb itc schema
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Change staging hostName in environments.conf.json
  common/src/main/public/environments.conf.json
Due: Label common PRs

Dual staging environments.
  common/src/main/public/environments.conf.json
Due: Label common PRs

Remove deployment to Heroku
  .github/workflows/ci.yml
  build.sbt
  common/src/main/public/environments.conf.json
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

remove theme-related tasks
  package.json
Due: none

extract theme selector
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/TopBar.scala
Due: Label common PRs, Label explore PRs

rearrange deps
  project/Dependencies.scala
Due: none

extract layout styles
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RoleSwitch.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/webapp/main.jsx
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/enums/AppTab.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

remove theme expansion from CI linting action
  .github/workflows/ci.yml
  build.sbt
Due: none

further theming dependent linting removed
  .gitignore
  .stylelintignore
  .stylelintrc.json
  THEMING.md
  common/src/main/webapp/less/.stylelintignore
Due: Label common PRs

theme linting
  .stylelintrc.json
  project/Versions.scala
Due: none

remove css variable check
  .stylelintrc.json
  THEMING.md
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  project/Versions.scala
Due: Label common PRs

address PR comments
  THEMING.md
  package.json
Due: none

reinstate var checking
  .gitignore
  .stylelintignore
  .stylelintrc.json
  THEMING.md
  build.sbt
  package.json
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

Show S/N on the sequence table per observation class
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Remove common code
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
Due: Label explore PRs

Rearchitecture how to pass S/N to the sequence table
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceTables.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  project/Versions.scala
Due: Label explore PRs

Fix the way AllowFlip behaves and some cleanups
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label explore PRs

Convert def to val
  explore/src/main/scala/explore/targeteditor/package.scala
Due: Label explore PRs

Switch to esbuild
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vite.config.js
Due: none

Rebased onto master
  .github/workflows/ci.yml
Due: none

Rebase onto master
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vite.config.js
  vite.config.mjs
Due: none

Update requested node version
  .github/workflows/ci.yml
Due: none

Experiment using npm install rather than npm ci
  .github/workflows/ci.yml
  build.sbt
Due: none

Explicit swc dependencies
  package-lock.json
Due: none

Switch to build on macos
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  package-lock.json
Due: none

Use `macOS` for `full` job
  .github/workflows/ci.yml
  build.sbt
Due: none

Rebased onto master
  .github/workflows/ci.yml
  .mergify.yml
  package-lock.json
  vite.config.mjs
Due: none

Another rebase
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vite.config.mjs
Due: none

Use the extension field for itc errors
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Use common exposure time for all targets when calculating the itc chart
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Fix negative times
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Update floating-ui
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/SVGTooltip.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label explore PRs

Restore ability to hide the obs toolbar
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs
