Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

avoid remounts in TargetTable
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
Due: Label explore PRs

avoid remounts in BrightnessesEditor
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Due: Label explore PRs

avoid remounts in EmissionLineEditor
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label explore PRs

avoid remount on ProposalAttachmentsTable
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
Due: Label explore PRs

avoid remounts in ProgramUserInvitations
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
Due: Label explore PRs

avoid remounts in UserPreferencesPopup
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Use container queries instead of ResponsiveComponent
  common/src/main/scala/explore/components/ResponsiveComponent.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

UserPrefs UI improvement
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Remove old styles.less
  common/src/main/webapp/css/react-grid-layout.css
  common/src/main/webapp/css/react-resizable.css
  common/src/main/webapp/less/legacyvariables.less
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/webapp/main.jsx
  vite.config.mts
Due: Label common PRs, Label explore PRs

avoid table remounts in SpectroscopyModesTable
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  project/Versions.scala
Due: Label explore PRs

fix chart resize
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label common PRs, Label explore PRs

actually, div is ok
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

fix for night plot
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Better UI for tiny chart tiles
  common/src/main/webapp/css/react-grid-layout.css
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label common PRs, Label explore PRs

wip
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/datepicker/mixins.scss
  common/src/main/webapp/sass/datepicker/variables.scss
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs

Remove last less file
  common/src/main/webapp/sass/explore-grid.scss
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  vite.config.mts
Due: Label common PRs, Label explore PRs

Vite config simplifications
  explore/src/main/webapp/index.html
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  vite.config.mts
Due: Label explore PRs

Restore linting scripts
  package.json
Due: none

fix itc chart display on resize
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label common PRs, Label explore PRs

prettier
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

stylelint disable
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Fix decoding of program references
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label model PRs

Lib updates
  project/Versions.scala
Due: none

preliminary undo doc
  UNDO.md
Due: none

undo documentation
  UNDO.md
Due: none

prettier
  UNDO.md
Due: none

Better control of the itc tile for small sizes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
Due: Label common PRs, Label explore PRs

Update dependencies
  project/Versions.scala
Due: none

Restrict theme menu to the dev environment
  explore/src/main/scala/explore/TopBar.scala
Due: Label explore PRs

Allow editing proposal splits
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Show the proposal id on the read-only message
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Rename ref variable
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Fix deletion of magnitudes
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Due: Label explore PRs

Fix issue where targets cannot be deleted from an asterism
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

Update css for react-datepicker
  common/src/main/webapp/sass/datepicker/datepicker.scss
  common/src/main/webapp/sass/datepicker/mixins.scss
  common/src/main/webapp/sass/datepicker/variables.scss
Due: Label common PRs

disconnection issues
  common/src/main/public/conf.json
  common/src/main/public/environments.conf.json
  common/src/main/public/staging.conf.json
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

avoid captures and provide stable undo modders
  .scalafix.conf
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/scala/explore/utils/CloneListView.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

avoid captures and provide stable undo modders
  .scalafix.conf
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/undo/UndoContext.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/scala/explore/utils/CloneListView.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/undo/TestUndoable.scala
  common/src/test/scala/explore/undo/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Don't allow targets for executed observations to be edited
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
  model/shared/src/main/scala/explore/model/TargetEditObsInfo.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

review comments
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
