Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

start rearranging tiles
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs, Label model PRs

fixes after rebase
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

refactor to plot multiple targets
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
Due: Label explore PRs

Reformat
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label explore PRs, Label workers PRs

Fix errant paren in !(!())
  explore/src/main/scala/explore/ExplorePWA.scala
Due: Label explore PRs

Use setup sbt
  .github/workflows/ci.yml
  build.sbt
Due: none

compiling
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
  explore/src/main/scala/explore/targeteditor/TargetPlotData.scala
Due: Label explore PRs

Add braces to workaround scalafix bug
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
Due: Label explore PRs

series
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Revert "temporary fix to use sbt in CI"
  .github/workflows/ci.yml
  build.sbt
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

Minimal changes to handle BandedTimes for timeCharge
  explore/src/clue/scala/queries/common/BandedProgramTimeSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimeSubquery.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  model/shared/src/main/scala/explore/model/BandedProgramTime.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

tooltips
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

scalafmtSbt
  build.sbt
Due: none

reinstate accidentally erased setupSbt
  .github/workflows/ci.yml
  build.sbt
Due: none

format sbt
  build.sbt
Due: none

checkpoint
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
Due: Label explore PRs

checkpoint
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
Due: Label explore PRs

compile again
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
Due: Label common PRs, Label explore PRs

there's an error
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSeries.scala
Due: Label explore PRs

Support displaying wavelength in nanometers or micrometers
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/WavelengthUnits.scala
Due: Label common PRs, Label explore PRs, Label model PRs

multi target plot almost working
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/ElevationPlotSeries.scala
  explore/src/main/scala/explore/targeteditor/plots/MoonCalc.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SeriesType.scala
  explore/src/main/scala/explore/targeteditor/plots/SkyCalc.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

a few renames, reorganize
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotData.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  explore/src/main/scala/explore/targeteditor/plots/SemesterPlot.scala
  explore/src/main/scala/explore/targeteditor/plots/SeriesType.scala
Due: Label explore PRs

working
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
Due: Label explore PRs

remove comments
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/plots/ObjectPlotSection.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label explore PRs, Label model PRs

Set the units on the user prefs db
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaWavelengthUnits.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1729116536856_wavelengthh_units/down.sql
  hasura/user-prefs/migrations/default/1729116536856_wavelengthh_units/up.sql
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/WavelengthUnits.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update react-grid-layout
  package-lock.json
  package.json
Due: none

remove labels of unplotted brightness series
  explore/src/main/scala/explore/targeteditor/plots/NightPlot.scala
  project/Versions.scala
Due: Label explore PRs

Implement PR suggestions
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label explore PRs

Don't show ITC warnings for twilight calibrations
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Initialize selected target even if the ITC tile is closed
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  project/Versions.scala
Due: Label explore PRs

Fix toast for observation duplication
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
