Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Use programTime instead of total summed time for execution
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label model PRs

Use program time instead of total summed time for execution.
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Execution.scala
Due: Label explore PRs, Label model PRs

Use programTime instead of total summed time for execution (#3588)
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label model PRs

minutes precision
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
Due: Label common PRs

Review comments in formtimespaninput
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
Due: Label common PRs

Use TimeSpanSubquery
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
Due: Label explore PRs

Move logic to lens
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

Update to lucumaUI 0.92
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Remove log calls
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
Due: Label explore PRs

Update import
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

Add Group edit tiles (#3585)
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

reinstate visits
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/clue/scala/queries/common/VisitsSQL.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

Update FormTimeSpanInput
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Due: Label explore PRs

Update FormTimeSpanInput (#3597)
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Due: Label explore PRs

Update format shown for sequence times
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Update format shown for sequence times (#3603)
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Upgrade to lucuma-react 0.49 and lucuma-ui 0.94
  common/src/main/scala/explore/HelpContext.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Upgrade to lucuma-react 0.49 and lucuma-ui 0.94 (#3602)
  common/src/main/scala/explore/HelpContext.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Use Apple Silicon in CI runners
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Versions.scala
Due: none

Use macOS for all jobs
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix job setup
  .github/workflows/ci.yml
  build.sbt
Due: none

Use a distinct cache prefix
  .github/workflows/ci.yml
  build.sbt
Due: none

Update explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
Due: Label explore PRs

Fix explore crash when selecting empty asterism on targets tab
  common/src/main/scala/explore/model/Focused.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
Due: Label common PRs, Label explore PRs

Delay loading of execution times in ProgramCache
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/PreferencesCache.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Address review comments.
  common/src/main/scala/explore/cache/CacheComponent.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs, Label explore PRs

Move Pot extension `orSpinner` to explore.syntax.ui and use more widely
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

alternate delayed cache initialization
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/PreferencesCache.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update common/src/test/scala/explore/utils/StreamSpec.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label common PRs

Update explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label explore PRs

address some of the PR comments
  common/src/test/scala/explore/utils/StreamSpec.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label common PRs, Label explore PRs

add comments
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

rebase
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

single program times updates pipeline
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label explore PRs

Don't add reusability to aladin components
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

wip
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
Due: Label explore PRs

Upgrade dependencies - changes to Semester
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ElevationPlotOptions.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Add finder chart to obs after upload
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  explore/src/main/scala/explore/observationtree/package.scala
  project/Versions.scala
Due: Label explore PRs

Update odb and lucuma-schemas - removes graphQL interfaces
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/VisitQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs
