Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Properly set the target on the ITC tile
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label explore PRs, Label model PRs

Don't show error message when the configuration is selected
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

action buttons for target tab
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ActionButtons.scala
  common/src/main/scala/explore/components/package.scala
  common/src/main/scala/explore/components/undo/UndoButtons.scala
  common/src/main/scala/explore/model/LocalClipboard.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common PRs, Label explore PRs

lint scss
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

stylelint
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

start obs refactor
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
Due: Label explore PRs

revert #4110, correct fix for sc-3434
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/scala/workers/WorkerClient.scala
  project/Versions.scala
Due: Label common PRs

copy obs
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label common PRs, Label explore PRs

obs paste
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

For targets with no obs, default coords to base coordinates
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

obs, group delete
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Better target tile
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
Due: Label common PRs, Label explore PRs

generalize actions, fix obs paste into targets
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

working on constraints
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Fix duplicate declaration
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

action buttons in scheduling tab
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Fix broken band label
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Adjust tooltip text
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Better handling of error cases on AGS calculations
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
Due: Label explore PRs, Label model PRs

Improvements
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/targeteditor/AgsOverlay.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Handle AGS differently for different types of calibrations
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

refactor
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

more refactor
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
Due: Label explore PRs

first steps towards support users table
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
Due: Label explore PRs

unify roles, invite any role, update deps
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramInvitationsSubquery.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  model/shared/src/main/scala/explore/model/enums/ProgramUserRole.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

scalafix, remove comments
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Due: Label explore PRs, Label model PRs

some more refactoring
  explore/src/main/scala/explore/proposal/CallDeadline.scala
  explore/src/main/scala/explore/proposal/InvestigatorUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/CreateInviteProcess.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
Due: Label explore PRs

support users tables
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

accept invitations for support users
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/InvestigatorUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/CreateInviteProcess.scala
  explore/src/main/scala/explore/users/CreateInviteStatus.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

all working, missing styles
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

support users styling
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/InvestigatorUsers.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label common PRs, Label explore PRs

prettier
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Don't try to do ITC if SED is missing
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Simplifications on the hooks to do AGS
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/enums/AgsState.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

copy observations into groups
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

format
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

invoke itc chart only once when IQ changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Delete obsExecutionPot when observation is deleted.
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

unify delete buttons in target tab
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryBody.scala
Due: Label explore PRs

disable submit/retract on deadline due
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/proposal/CallDeadline.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/Proposal.scala
Due: Label explore PRs, Label model PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
