Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Change path on vite
  vite.config.js
Due: none

Update to the latest lucuma-catalog
  common/src/main/scala/explore/common/SimbadSearch.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/events/AgsMessage.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogIDB.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Fix to markers with zoom the elevation plots [sc-1581]
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Add help icons to profile/sed [sc-1600]
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
Due: Label explore PRs

Fix a bug when going to the imaging modes panel
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Rename graph endpoint
  common-graphql/src/main/resources/graphql/schemas/ITC.graphql
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/public/development.conf.json
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label common-graphql PRs, Label workers PRs

Revert "Disable dynamic loading for help"
  common/src/main/scala/explore/components/HelpIcon.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/Routing.scala
Due: Label common PRs, Label explore PRs

Update to scala 3.2.1
  build.sbt
  flake.nix
  vite.config.js
Due: none

Regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Cleanup
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Use the center of coverage to calculate the exposure time
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Use CoverageCenterWavelength on the ITC graph request
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Cleanup
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label model PRs, Label workers PRs

Declare SpectroscopyModesTable private
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Better way to declare a given for the Pickler of newtype
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
Due: Label model PRs

Better name for pickler
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
Due: Label model PRs

Forgot to set the coverage center for plots
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  project/Settings.scala
Due: Label explore PRs

Fix an AGS bug and better handling for cases when there is no usable guidestar
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  project/Settings.scala
  workers/src/main/scala/workers/AgsServer.scala
Due: Label explore PRs, Label workers PRs

Move floatingui to lucuma-react
  common/src/main/scala/react/floatingui/Tooltip.scala
  common/src/main/scala/react/floatingui/hooks.scala
  common/src/main/scala/react/floatingui/package.scala
  common/src/main/scala/react/floatingui/syntax.scala
  project/Settings.scala
Due: Label common PRs

Switch to fewest modules linking in dev.
  build.sbt
Due: none

Use NewType from lucuma-core
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/itc/package.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/itc/preferences.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
  workers/src/main/scala/workers/Cache.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

TargetWithId refactoring
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/WithIdSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Progress
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Asterism toZipper
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model-tests/shared/src/test/scala/explore/model/WithIdSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Transform the aladin containers
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Refactoring
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs

Code cleanup
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
Due: Label explore PRs, Label model PRs

Fix target tab
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
Due: Label explore PRs

Added missing file
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
Due: Label model PRs

Better handling of coordinates for ITC
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common-queries PRs, Label explore PRs

Abstract the base position
  common-queries/src/main/scala/queries/schemas/itc/implicits.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label workers PRs

Compilig
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

Cleanup
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Cleanup
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/TargetWithId.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
Due: Label explore PRs, Label model PRs

Try to get base ccoords
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label model PRs

Rework of asterism model
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Aladin with an asterism
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs

Show the science targets on the targets overlay
  common/src/main/scala/explore/model/package.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/model/package.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Introduce tag for type of coordinates already PM corrected
  common/src/main/scala/explore/model/package.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label common PRs, Label explore PRs

Fix target selection on the target tab
  common/src/main/scala/explore/model/Focused.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
