Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Update browserslist configuration
  .vscode/extensions.json
  .vscode/settings.json
  package.json
Due: none

Fix package lock
  package-lock.json
Due: none

Use `fs2.dom.BroadcastChannel`
  build.sbt
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/model/AppContext.scala
  model/js/src/main/scala/explore/events/package.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Revert "Use `fs2.dom.BroadcastChannel`"
  build.sbt
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/model/AppContext.scala
  model/js/src/main/scala/explore/events/package.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Remove deprecated field on ObservationEditSubscription
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
Due: Label explore PRs

round twilight times in charts
  .gitignore
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  project/Versions.scala
Due: Label explore PRs

Switch to Unfonts
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  vite.config.mjs
Due: Label explore PRs

Use verbose for npm
  .github/workflows/ci.yml
  build.sbt
Due: none

Bump to FA 6.4.2
  package-lock.json
  package.json
Due: none

Update lucuma-core 0.86.1 with new GMOS Binning
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  vite.config.mjs
Due: Label model PRs

Fix binning calculations.
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label model PRs

Use `Gmos*Fpu.isIFU`
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label model PRs

Review comment changes
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
Due: Label explore PRs

Update lucuma-ui, more changes for fs2-dom BroadcastChannel
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ExplorePWA.scala
  package.json
  project/Versions.scala
Due: Label explore PRs

Update sequence table if the constraints change
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Setup custom cache step for `node_modules`
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix cache key
  .github/workflows/ci.yml
  build.sbt
Due: none

update libs: Adds duration to ave parallactic angle calculation
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Versions.scala
Due: Label explore PRs

Use `restore-keys` correctly
  .github/workflows/ci.yml
  build.sbt
Due: none

Formatting
  build.sbt
Due: none

Update focus selectors
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Allow logout from the Programs popup.
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

Remove unused import
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label explore PRs

Handle group update subscriptions
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/data/KeyedIndexedList.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Remove pprintln
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

handle errors @ ProgramCache and DynamicEnums init
  common/src/main/scala/explore/DynamicEnums.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs, Label explore PRs

Downgrade remark-gfm
  package-lock.json
  package.json
Due: none

Use toOptionView
  explore/src/main/scala/explore/Routing.scala
Due: Label explore PRs

migrate optics helpers to lucuma-ui
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/optics/OpticsSuite.scala
  model/shared/src/main/scala/explore/optics/all.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Implement drag'n'drop for observation list
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

Implement optimistic updates for group drag'n'drop
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/groups/GroupActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  package-lock.json
  package.json
Due: Label explore PRs

Add +Obs button and use Iso to map from (ObsList,GroupList) to tree nodes
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/groups/GroupActions.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Small updates
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
Due: Label explore PRs

Use iso for group.id->tree.id
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
Due: Label explore PRs

Add reduceWithin stream combinator and group subscription updates
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs, Label explore PRs

Add tests
  build.sbt
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
  project/Dependencies.scala
Due: Label common PRs

Update common/src/test/scala/explore/utils/StreamSpec.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label common PRs

Update comment and add test
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label common PRs

Add reduceWithin stream combinator and group subscription updates (#3386)
  build.sbt
  common/src/main/scala/explore/utils/package.scala
  common/src/test/scala/explore/syntax/ui/SwitchingSpec.scala
  common/src/test/scala/explore/utils/StreamSpec.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  project/Dependencies.scala
Due: Label common PRs, Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
