Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label explore-clue PRs:
  label:
    add:
    - explore-clue
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Last minute rename
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/display.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Revert use of new syntax
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Remove ObservingModeSummary
  .github/workflows/ci.yml
  build.sbt
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  vite.config.mts
Due: Label explore PRs, Label model PRs

Disable some scala files from autofmt
  .scalafmt.conf
Due: none

Workaround for warning
  build.sbt
Due: none

Revert named tuples
  .github/workflows/ci.yml
  .scalafmt.conf
  build.sbt
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  vite.config.mts
Due: Label explore PRs, Label model PRs

Small improvements to the slit tooltip for gmos
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Some simplifications
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Fix bad match
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs

Support calling ITC with flamingos 2
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Cleaning up
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

PR suggestion
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
Due: Label explore PRs

Show on the finder chart title how many charts are available
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Improve error messages
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

Fix conversion of wavelength <-> wavelengthdelta
  explore/src/main/scala/explore/config/package.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label explore PRs, Label model PRs

Improve loading of the service worker
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
Due: Label explore PRs

Fix typo
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

Update libraries and remove code move to core
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Add support to show F2 visualization and call AGS
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Restore gmos fpu view [sc-4372]
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Change the format of FinderCharts title
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
Due: Label common PRs, Label explore PRs

Fix rotation bug
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  project/Versions.scala
Due: Label explore PRs

Update scala.js
  project/Versions.scala
Due: none

Add overrides for F2
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
Due: Label model PRs

Don't include calibration targets on the side tree
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Make configuration `customizable` controls into fn components.
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/src/main/scala/explore/components/CustomizableInputText.scala
  explore/src/main/scala/explore/components/CustomizableInputTextOptional.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

F2 Longslit Configuration Panel
  explore/src/main/scala/explore/components/CustomizableEnumSelect.scala
  explore/src/main/scala/explore/components/CustomizableEnumSelectOptional.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/AdvancedConfigButtons.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Capitalize F2ReadMode Display.shortName
  model/shared/src/main/scala/explore/model/display.scala
Due: Label model PRs

Make separate, instrument specific, help folders for config values
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
Due: Label explore PRs

Support showing visualization of the mode before assignig it
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/ConfigurationForVisualization.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Revert where the configuration for visualization is built as suggested on the PR
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/ConfigurationForVisualization.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Rename AdvancedConfigurationPanel to GmosLongslitConfigPanel
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
Due: Label explore PRs

Extract configuration OffsetsControl
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/OffsetsControl.scala
Due: Label explore PRs

Select the survey depending on central wavelength
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

implicit odbApi
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
Due: Label explore PRs

more api extractions
  explore/src/main/scala/explore/common/TargetQueries.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
Due: Label explore PRs

more odbApi consolidation
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
Due: Label explore PRs

break up odbapi
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
Due: Label explore PRs

extract odb api
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Telemetry.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

move asterism queris to api layer
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbAsterismApi.scala
  explore/src/main/scala/explore/services/OdbAsterismApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/AsterismActions.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetPasteAction.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label explore PRs: any of: ^explore/
  Label explore-clue PRs: any of: ^explore-clue/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
