Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

add program queries to api layer
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbAsterismApi.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Workaround for removed field
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

move obs queries to api
  .firebaserc
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/actions/ObservationInsertAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
Due: Label explore PRs

update staging config and remove outdated things
  common/src/main/public/README.txt
  common/src/main/public/conf.json
  common/src/main/public/environments.conf.json
  common/src/main/public/staging.conf.json
  firebase.json
Due: Label common PRs

revert changes to firebaserc
  .firebaserc
Due: none

group api migration
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApi.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl copy.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
Due: Label explore PRs

sequences and visits migration to api
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/common/ProposalOdbExtensions.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/model/SequenceData.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/OdbVisitApi.scala
  explore/src/main/scala/explore/services/OdbVisitApiImpl.scala
Due: Label explore PRs

Show the survey in use
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Update libs and associated changes for gmos imaging and f2 sequences
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/LambdaAndIntervalFormValues.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Changes for the CalculatedValues for program and group times
  common/src/main/scala/explore/components/FormStaticData.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CalculatedBandedProgramTimeSubquery.scala
  explore/src/clue/scala/queries/common/CalculatedProgramTimeRangeSubquery.scala
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/Group.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

move almost all remaining odb calls to api layer
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/programs/ProgramNoteEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbApi.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbProposalApi.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
Due: Label explore PRs

OptionalEnumerated
  common/src/main/scala/explore/utils/OptionalEnumerated.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
Due: Label common PRs, Label explore PRs

Separate Enumerated and Display "derivations".
  common/src/main/scala/explore/utils/OptionalEnumerated.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/config/F2LongslitConfigPanel.scala
Due: Label common PRs, Label explore PRs

Disable editing of observations in an "Executed" state.
  explore/src/main/scala/explore/components/FileUploadButton.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
Due: Label explore PRs

Change the color for proper motion lines
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

move queries to API layer
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApi.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApi.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/package.scala
Due: Label explore PRs

Update libs and rename F2 references
  common/src/main/scala/explore/model/ConfigurationForVisualization.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

move obsCalc subscription to api
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
Due: Label explore PRs

Add queries to read spectroscopy and imaging modes
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/services/OdbConfigApi.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/InstrumentOverrides.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add imaging configuration panel
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/FiltersMultiSelect.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseInput.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/package.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Use integrated label for inputs
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseInput.scala
Due: Label explore PRs

error handling mechanism
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

show global errors in layout
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

tidy up
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

add missing import
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
Due: Label explore PRs

lint
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

process errors in mutations and queries
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
  explore/src/main/scala/explore/services/OdbAsterismApiImpl.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbProposalApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
  explore/src/main/scala/explore/services/package.scala
Due: Label explore PRs

process subscription errors, remove reset on some errors
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/services/OdbConfigApiImpl.scala
  explore/src/main/scala/explore/services/OdbGroupApiImpl.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/services/OdbTargetApiImpl.scala
Due: Label explore PRs

Add Imaging Modes Table - Step 1
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  hasura/user-prefs/migrateDev.sh
  hasura/user-prefs/migrations/default/1747426679451_imaging_modes_table/down.sql
  hasura/user-prefs/migrations/default/1747426679451_imaging_modes_table/up.sql
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/TableIds.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  promote.sh
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: Label explore PRs, Label model PRs

Remove the `2` from group and program time estimates
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

log errors
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  project/Versions.scala
Due: Label explore PRs

Search both simbad sites in case one is down
  common/src/main/scala/explore/common/SimbadSearch.scala
Due: Label common PRs

show f2 sequences
  explore/src/main/scala/explore/config/sequence/SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  project/Versions.scala
Due: Label explore PRs

scalafix
  explore/src/main/scala/explore/config/sequence/byInstrument/Flamingos2SequenceTable.scala
Due: Label explore PRs

remove unnecessary lazy
  explore/src/main/scala/explore/config/sequence/SequenceTableBuilder.scala
Due: Label explore PRs

Call ITC for the rows of the imaging modes table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

More work on the imaging requirements and modes table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/FiltersMultiSelect.scala
  explore/src/main/scala/explore/config/Flamingos2LongslitConfigPanel.scala
  explore/src/main/scala/explore/config/GmosLongslitConfigPanel.scala
  explore/src/main/scala/explore/config/ImagingConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Allow selecting multiple rows of same instrument in imaging modes table
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  model/shared/src/main/scala/explore/modes/ImagingModesMatrix.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add scrolling to the imaging modes table
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
Due: Label explore PRs, Label model PRs
