Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

add comment in settings.json, restore gitignore
  .gitignore
  .vscode/settings.json
Due: none

Downgrade primereact to 10.2.1
  package-lock.json
  package.json
Due: none

Add time accounting data for program and obs
  .vscode/settings.json
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model/shared/src/main/scala/explore/model/TimeCharge.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Switch to ~
  package-lock.json
  package.json
Due: none

Remove Program.Id from observation edit mutations
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  project/Versions.scala
Due: Label explore PRs

Minor review comments
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Add time accounting data for program and obs (#3526)
  .vscode/settings.json
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model/shared/src/main/scala/explore/model/TimeCharge.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Fix tile controller when `storeLayout` is false
  explore/src/main/scala/explore/components/TileController.scala
Due: Label explore PRs

wip
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Button for deleting grid layouts from user preferences
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Add toast
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

Use program time estimates instead of total
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label explore PRs

update StreamSpec timings
  common/src/test/scala/explore/utils/StreamSpec.scala
Due: Label common PRs

Use ubuntu-latest
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

react 18
  explore/src/main/scala/explore/Explore.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label explore PRs

Only pull down program time, not full categorized times
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimeRangeSubquery.scala
  explore/src/clue/scala/queries/common/ProgramTimeSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramTime.scala
  model/shared/src/main/scala/explore/model/ProgramTimeRange.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Review changes
  USERPREFS.md
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label common PRs, Label explore PRs

Add proposal status, plus...
  USERPREFS.md
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CategorizedTimeRangeSubquery.scala
  explore/src/clue/scala/queries/common/CategorizedTimeSubquery.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  hasura/user-prefs/migrations/default/1706108922028_proposal_layout/down.sql
  hasura/user-prefs/migrations/default/1706108922028_proposal_layout/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/TimeCharge.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Update build.sbt
  build.sbt
Due: none

Update
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix problem with explore not loading with invalid program id
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

bump libs
  explore/src/main/scala/explore/Explore.scala
  package-lock.json
  project/Versions.scala
Due: Label explore PRs

API changes
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  project/Versions.scala
Due: Label explore PRs

Make the entire program readonly for submitted proposals
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

Add group edit tiles
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/Focused.scala
  common/src/main/scala/explore/model/RoutingInfo.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/obsTree.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/Page.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add hasura migration
  hasura/user-prefs/config.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreFinderChart.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaObservation.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaUserPreferences.yaml
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1706201869044_insert_into_public_lucumaGridLayoutId/up.sql
Due: none

--wip-- [skip ci]
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

--wip-- [skip ci]
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Update TimeSpanInput
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Replace renderWithReuse
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs

update version
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  project/Versions.scala
Due: Label explore PRs

Rewrite to source 3.4
  common/src/main/scala/explore/common/AlignerF.scala
  common/src/main/scala/explore/common/package.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model-tests/shared/src/test/scala/explore/undo/ListModSpec.scala
  model/jvm/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
  model/shared/src/main/scala/explore/data/tree/KeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/TargetIdSet.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  vite.config.mjs
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

formatting
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/Focused.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  hasura/user-prefs/config.yaml
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Address review comments.
  common/src/main/scala/explore/cache/CacheComponent.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
Due: Label common PRs, Label explore PRs

Delay loading of execution times in ProgramCache
  common/src/main/scala/explore/cache/CacheComponent.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramTimesSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/PreferencesCache.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Move Pot extension `orSpinner` to explore.syntax.ui and use more widely
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label explore PRs

Add timeEstimate ranges
  common/src/main/scala/explore/components/FormTimeSpanInput.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

formatting
  model/shared/src/main/scala/explore/model/GroupElement.scala
Due: Label model PRs

Update breaking changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/config/sequence/VisitTable.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label common PRs, Label explore PRs

Remove test inc button
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
Due: Label explore PRs
