Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

change loading icon, program subscription workaround
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
Due: Label common PRs, Label common-graphql PRs

back to instant
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label workers PRs

Comment out targetEditSubscription - not available yet
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Work around bug in *Edit subscriptions
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
Due: Label common-graphql PRs

Multiple updates for the new ODB
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintGroupQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/PAProperties.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/ObservationInsertAction.scala
  explore/src/main/scala/explore/targets/ObservationPasteAction.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/TargetWithObs.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

First try at calculating the average parallactic angle for AGS
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Detect avg paralactic angle changes
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label explore PRs

Get basic configuration creation/editing working
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Actually update to lucuma-react 0.31.2
  project/Settings.scala
Due: none

Average should allow a 180 flip
  model/shared/src/main/scala/explore/model/AverageParallactic.scala
Due: Label model PRs

migration to timespan
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceRow.scala
  explore/src/main/scala/explore/config/sequence/VisitsViewer.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/proposal/ProposalClassType.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/model/parsers.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-tests PRs, Label workers PRs

timespan working (modulo scala.js mismatch)
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label model PRs, Label model-tests PRs

remove scala.js plugin
  project/plugins.sbt
Due: none

bump core
  project/Settings.scala
Due: none

Improve configuration editing workflow
  common/src/main/scala/explore/common/ScienceConversions.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigEditState.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Run scalafix to fix imports
  common/src/main/scala/explore/common/AsterismQueries.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsListActions.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Bump lucuma-sso to version 0.4.8
  project/Settings.scala
Due: none

Some fixes on when to display average parallactic changes
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

Changes to config workflow, itc graphs for modes table, fix broken tabs
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbBasicConfiguration.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/BasicConfiguration.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
  model/shared/src/main/scala/explore/model/ScienceModeInitial.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Set selected config when deleting configuration
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
Due: Label explore PRs

Updated scala to 3.2.2
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  vite.config.mjs
Due: none

update `link-action` CI action to 2.3.0
  .github/workflows/ci.yml
  build.sbt
Due: none

Restore TargetEdit Subscription
  common-graphql/src/main/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label common-graphql PRs, Label explore PRs

add debug info for moon brightness, fix (c) year
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  model-testkit/shared/src/main/scala/explore/boopickle/package.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterism.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbConstraintsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedList.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsIdSet.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceMode.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeAdvanced.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceModeBasic.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetSummary.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTree.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbUserVault.scala
  model-testkit/shared/src/main/scala/explore/model/arb/CogenUUID.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterLaws.scala
  model-testkit/shared/src/main/scala/explore/optics/AdjusterTests.scala
Due: Label explore PRs, Label model-testkit PRs

scalafix
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Sort the target tree by name
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

debug twilights for night chart
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  package-lock.json
Due: Label explore PRs

Make the asterism sort on target tab case-insensitive
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

BrightnessValue, WavelengthRange, BoundedInterval, etc.
  build.sbt
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/common/ScienceConversions.scala
  common/src/main/scala/explore/common/ScienceQueries.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/modes/ModesMatrix.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  project/Settings.scala
  workers/src/main/scala/workers/PlotServer.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-tests PRs, Label workers PRs

add missing import
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Due: Label model-tests PRs

remove commented code
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label model PRs

Improve dithers and offsets editing
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

fix test
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
Due: Label model-tests PRs

Temporary fix for the odb not accepting empty lists for partnerSplits
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
Due: Label common-queries PRs

Point staging to new postgres odb
  common/src/main/public/staging.conf.json
Due: Label common PRs

More configuration editing improvements
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Fix decimals in dithers control
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Fix `offsetQNelValidWedge`
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  project/Settings.scala
Due: Label model PRs

Newtypes
  common-queries/src/main/scala/queries/schemas/itc/ITCConversions.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  project/Settings.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs
