Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

final attempt
  .github/workflows/ci.yml
  .gitignore
  build.sbt
Due: none

another final attempt
  .github/workflows/ci.yml
  build.sbt
Due: none

maybe this is truly final
  .github/workflows/ci.yml
  build.sbt
Due: none

This time is really final
  .github/workflows/ci.yml
  build.sbt
Due: none

Updated promote script to send slack messages and better record deployments
  promote.sh
Due: none

Use the ProgramUser fallback profile as the preferred profile
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Show workflow state instead of calculated value state in obs warnings
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
Due: Label explore PRs

Update libs a adopt the new offsets for imaging
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  project/Versions.scala
Due: Label explore PRs

Update schema
  project/Versions.scala
Due: none

cleanup
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/src/main/scala/explore/config/offsets/package.scala
Due: Label explore PRs

Multiple UI adjustments to the offset editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/offset-editor.scss
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Offset editor for imaging
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/offset-editor.scss
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Improvements suggested on the PR comments
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
Due: Label explore PRs

Show why CfP deadline not displayed
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Setup sops to encode the secrets
  .envrc
  .githooks/pre-commit
  .gitignore
  .sopsrc
  README.md
  flake.lock
  flake.nix
  secrets.yaml
Due: none

Don't run prettier on secrets.yaml
  .prettierignore
Due: none

Follow the user preferred wavelength usits for emission lines
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/IntegratedEmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/SurfaceEmissionLineEditor.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label explore PRs, Label model PRs

Show an arrow indicating how the offsets go from one to the next
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
Due: Label common PRs, Label explore PRs

Add a read only mode
  common/src/main/scala/explore/Icons.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
Due: Label common PRs, Label explore PRs

Add links to manual and help desk
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
Due: Label common PRs, Label explore PRs

Properly select the selected pa
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
Due: Label explore PRs

Improve formatting of epoch
  common/src/main/webapp/sass/datepicker/datepicker.scss
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/model/EpochFormattingSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Multiple ui updates to elevation plots
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/plots/ObjectPlotOptions.scala
  explore/src/main/scala/explore/plots/SemesterPlot.scala
Due: Label common PRs, Label explore PRs

More adjustments to elevation plots
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/plots/NightPlot.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Allow staff to edit ongoing observations from the observation tab
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
  model/shared/src/main/scala/explore/model/TargetEditObsInfo.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Refactor of the ITC tiles to support an imaging tile
  explore/src/main/scala/explore/itc/ItcEmptyTile.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcImagingPlotControl.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/src/main/scala/explore/itc/ItcTileState.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label explore PRs, Label model PRs

Add content to the itc tile for imaging
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label common PRs, Label explore PRs, Label model PRs

move SequenceData class to lucuma-ui
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/model/SequenceData.scala
  explore/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  project/Versions.scala
Due: Label explore PRs

scalafix
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/services/OdbSequenceApi.scala
  explore/src/main/scala/explore/services/OdbSequenceApiImpl.scala
  project/Versions.scala
Due: Label explore PRs

Do queries to itc for the imaging tile
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcImagingPlotControl.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  explore/src/main/scala/explore/itc/ItcTileState.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/js/src/main/scala/explore/model/boopickle/BoopicklePlatform.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Temporarily hide the target selector
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/itc/ItcTileState.scala
Due: Label explore PRs

Minimal support for ToOs and workflow changes
  explore/src/clue/scala/queries/common/ConfigurationSubquery.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/extensions.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Use new react-datepicker facade.
  common/src/main/scala/explore/utils/extensions.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/components/DatePicker24HTime.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Update itc schema
  explore/src/main/scala/explore/itc/ItcSpectroscopyTile.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Support target selection for imaging ITC Tile
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/itc/ItcImagingQuerier.scala
  explore/src/main/scala/explore/itc/ItcImagingTile.scala
  explore/src/main/scala/explore/itc/ItcTileState.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

update promotion script
  promote.sh
Due: none

Restore ags removing check on ToO
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label model PRs

Show ToOs in all target tables
  common/src/main/scala/explore/Icons.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  model/shared/src/main/scala/explore/model/extensions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Enable ITC for ToOs
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label model PRs
