Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

simplify logic
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/js/src/main/scala/explore/modes/SpectroscopyModesMatrixPlatform.scala
Due: Label explore PRs, Label model PRs

Support pasting observations on the summary table
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label explore PRs

Remove SliderView
  explore/src/main/scala/SliderView.scala
  project/Settings.scala
Due: Label explore PRs

Sort by unit and value
  explore/src/main/scala/explore/targets/TargetColumns.scala
Due: Label explore PRs

lib updates
  project/Settings.scala
Due: none

Convert About and Login dialogs to primereact
  common/src/main/scala/explore/components/About.scala
  common/src/main/scala/explore/components/UserSelectionForm.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/TopBar.scala
  package-lock.json
  package.json
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Fix stylelint errors
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Switch to prime react sidebar
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/theme/modules/sidebar.variables
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
Due: Label common PRs, Label explore PRs

add missing style to emission line editor
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
Due: Label explore PRs

update lucuma-react, scalac
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  explore/src/main/scala/explore/config/SequenceTable.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  package.json
  project/Settings.scala
  vite.config.mjs
Due: Label explore PRs

update package-lock
  package-lock.json
Due: none

Convert PartnerSplitsEditor to PrimeReact and PrimeTable
  common/src/main/scala/explore/components/InputModal.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplit.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
Due: Label common PRs, Label explore PRs

Don't show import errors box unless there is an actual error
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/TargetImportPopup.scala
Due: Label common PRs, Label explore PRs

Disable "no-descending-specificity" stylelint rule
  .stylelintrc.json
Due: none

Replace TargetSelectionPopup with primereact Dialog and related changes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore-primereact.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Due: Label common PRs, Label explore PRs

Make search start on Enter
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label common PRs, Label explore PRs

Prototype UI for timing windows
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/ConstraintsQueries.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/package.scala
  hasura/user-prefs/metadata/databases/default/tables/public_tmpTimingWindows.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1667358655907_create_table_public_tmpTimingWindows/down.sql
  hasura/user-prefs/migrations/default/1667358655907_create_table_public_tmpTimingWindows/up.sql
  hasura/user-prefs/migrations/default/1667392159992_alter_table_public_tmpTimingWindows_alter_column_repatTimes/down.sql
  hasura/user-prefs/migrations/default/1667392159992_alter_table_public_tmpTimingWindows_alter_column_repatTimes/up.sql
  hasura/user-prefs/migrations/default/1667393568092_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1667393568092_insert_into_public_lucumaGridLayoutId/up.sql
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Detail editor support
  build.sbt
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbFiniteDuration.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Support repeat with a period of
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/shortcuts.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbFiniteDuration.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Support repeat period
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbFiniteDuration.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Refactor of the TimingWindow model
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/TileController.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Link timing windows to the db
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/TimingWindowEntry.scala
  project/plugins.sbt
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Integrated db
  common-graphql/src/main/scala/queries/common/TimingWindowsGQL.scala
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
Due: Label common-graphql PRs, Label explore PRs

Fix table redrawing and adds PM/epoch import [sc-1753]
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  project/Settings.scala
Due: Label explore PRs

Cleanup
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/scala/explore/common/TimingWindowQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  hasura/user-prefs/migrations/default/1667358655907_create_table_public_tmpTimingWindows/down.sql
  hasura/user-prefs/migrations/default/1667392159992_alter_table_public_tmpTimingWindows_alter_column_repatTimes/down.sql
  hasura/user-prefs/migrations/default/1667392159992_alter_table_public_tmpTimingWindows_alter_column_repatTimes/up.sql
  hasura/user-prefs/migrations/default/1667393568092_insert_into_public_lucumaGridLayoutId/down.sql
  hasura/user-prefs/migrations/default/1667393568092_insert_into_public_lucumaGridLayoutId/up.sql
  hasura/user-prefs/migrations/default/1667998202766_tmp_timing_windows/down.sql
  hasura/user-prefs/migrations/default/1667998202766_tmp_timing_windows/up.sql
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/TimingWindow.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Fixed PR comments
  common/src/main/webapp/less/vendor/react-grid-layout.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/TimingWindowsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
Due: Label common PRs, Label explore PRs

Do simbad lookups for empty imported targets
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  project/Settings.scala
Due: Label explore PRs

Update hotkeys and fix a bug when doing multi selects
  common/src/main/scala/react/hotkeys/package.scala
  explore/src/main/scala/explore/shortcuts.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs

Downgrade to 4.0.2
  package-lock.json
  package.json
Due: none

Migrate enums to native graphql enums
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  hasura/user-prefs/metadata/databases/default/tables/public_explorePlotRange.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_explorePlotTime.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1668196765964_switch_plot_enumsb/down.sql
  hasura/user-prefs/migrations/default/1668196765964_switch_plot_enumsb/up.sql
Due: Label common-graphql PRs

Restore Create Empty sidereal target feature
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

Fix a race condition on calculating ags on startup
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Quick fix for brightness units pulldown menu hidden
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Due: Label common PRs, Label explore PRs

Try fixing some dependencies
  build.sbt
Due: none

back to instant
  common-queries/src/main/scala/queries/schemas/odb/ObsQueries.scala
  common/src/main/scala/explore/model/ObsConfiguration.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/events/CatalogMessage.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  workers/src/main/scala/workers/CatalogCache.scala
Due: Label common PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label workers PRs

new schema
  common-graphql/src/main/scala/queries/common/AsterismQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ConstraintGroupQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ManualSequenceGQL.scala
  common-graphql/src/main/scala/queries/common/ObsQueriesGQL.scala
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common-queries/src/main/scala/queries/schemas/odb/ODBConversions.scala
  common/src/main/public/development.conf.json
  explore/src/main/scala/explore/config/SequenceEditor.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ScienceModeAdvanced.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Settings.scala
Due: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs

change loading icon, program subscription workaround
  common-graphql/src/main/scala/queries/common/ProgramQueriesGQL.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/state/ConnectionManager.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
Due: Label common PRs, Label common-graphql PRs

Update libs
  project/Settings.scala
Due: none

Convert SiderealTargetEditor to primereact
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
  explore/src/main/scala/explore/targeteditor/EmissionLineEditor.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SearchForm.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/SourceProfileEditor.scala
  explore/src/main/scala/explore/targeteditor/SpectralDefinitionEditor.scala
  project/Settings.scala
Due: Label common PRs, Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
