Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Add indicators of required fields on the proposals editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label common PRs, Label explore PRs

migrate under construction to lucuma-ui
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/UnderConstruction.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

scalafix
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  project/Versions.scala
Due: Label explore PRs

Fix change editor
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

oops
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

React to calibrations deleted on the backend
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

Update to use the new schema for users
  explore/src/clue/resources/SSO.graphql
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/clue/scala/queries/common/SSOQueriesGQL.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Tiny UI fix
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Remove notes tile for groups
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

don't show acquisition possibleFuture in sequence
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

change cache to useEffectStream
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  project/Versions.scala
Due: Label common PRs

handle errors in subscription stream
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  project/Versions.scala
Due: Label common PRs

pending
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

fix leak by using resource in cache controller
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
Due: Label common PRs

simplify cache controller logic
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
Due: Label common PRs

Update redeem invitation decoder for the new schema
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/ProgramInvitation.scala
Due: Label explore PRs, Label model PRs

Use central wavelength for AGS thus able to calculate guide star for calibrations
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Improve the text shown when no scheduling group is selected
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
Due: Label explore PRs

Include PR suggestion
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

More PR suggestions
  common/src/main/scala/explore/model/ObsConfiguration.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Fix class for BandedProgramTime to consider the band as optional
  model/shared/src/main/scala/explore/model/BandedProgramTime.scala
  model/shared/src/main/scala/explore/model/ProgramTimes.scala
Due: Label model PRs

Unify attachments
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/clue/scala/queries/common/AttachmentSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProposalAttachmentSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Attachment.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/ProposalAttachment.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Delete commented code.
  common/src/main/scala/explore/utils/OdbRestClient.scala
Due: Label common PRs

scalafmt
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
Due: Label explore PRs

explicit column sorting in tables
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  project/Versions.scala
Due: Label explore PRs

Use execution digest to get the offsets
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/ExecutionOffsets.scala
Due: Label explore PRs, Label model PRs

final leak fix + restore updates
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
Due: Label common PRs

Add support for readonly CoIs
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
Due: Label common PRs, Label explore PRs

Allow withdrawing a configuration request
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  project/Versions.scala
Due: Label explore PRs

resolve observation references
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/lucuma/react/router/FormatRoute.scala
  model/shared/src/main/scala/explore/model/Page.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

resolve program and proposal references
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/lucuma/react/router/FormatRoute.scala
  model/shared/src/main/scala/explore/model/Page.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

refactor
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/lucuma/react/router/FormatRoute.scala
  project/Versions.scala
Due: Label explore PRs

allow redirecting to program selector
  common/src/main/scala/explore/model/RoutingInfo.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/components/FocusedStatus.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/tabs/TwoPanels.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTableBody.scala
Due: Label common PRs, Label explore PRs

fix toasts when resolving references
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
Due: Label explore PRs

don't adapt seq generation errors
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
Due: Label explore PRs

Change the default aladin fov
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label model PRs

start with crystal hooks
  explore/src/main/scala/explore/monadicHooks/crystal.scala
Due: Label explore PRs

monadic hooks proof of concept
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/instances.scala
Due: Label explore PRs

nicer
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/instances.scala
Due: Label explore PRs

experimenting a bit more
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/monadicHooks/HookResult.scala
  explore/src/main/scala/explore/monadicHooks/instances.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
