Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Fix target selection on the table
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-tests/shared/src/test/scala/explore/model/AsterismSuite.scala
  model/shared/src/main/scala/explore/model/Asterism.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Mark the science targets in aladin
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Rename PMCoordinates
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/tabs/ConfigurationTile.scala
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

Flake update
  flake.lock
  flake.nix
Due: none

Add a tooltip to show the selected science target
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
Due: Label common PRs, Label explore PRs

Support full screen on the target library
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
Due: Label explore PRs

Small fix for bottom located tooltips
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
Due: Label explore PRs

Fixes elevation plot regression
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Better responsivness for the obs time editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/less/verticalbuttons.less
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/datepicker.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Fix tooltip at extreme zoom levels
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
Due: Label explore PRs

Update scala to 3.2.1-RC2, plus lucuma-react and other libs
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  package-lock.json
  package.json
  project/Settings.scala
  vite.config.js
Due: Label common PRs, Label explore PRs

Better responsivness for the aladin toolbar
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Move vite config to ES style and update vite-plugin-fonts
  .github/workflows/ci.yml
  build.mjs
  build.sbt
  package-lock.json
  package.json
  vite.config.mjs
Due: none

Prettify
  build.mjs
  vite.config.mjs
Due: none

Rename Create button
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/config/VizTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Due: Label common PRs, Label explore PRs

Layout improvements
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Due: Label common PRs, Label explore PRs

Better layout for small screens
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label common PRs, Label explore PRs

New layout for larger screens
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/vendor/aladin.less
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Due: Label common PRs, Label explore PRs

Disable coverage
  build.sbt
Due: none

Refactor common code and improve constraints on mobiles
  common/src/main/scala/explore/model/TwoPanelState.scala
  common/src/main/webapp/less/style.less
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/ConstraintSetTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/TwoResizablePanels.scala
Due: Label common PRs, Label explore PRs

Rewording of the add target dialog box
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
Due: Label explore PRs

Revert to development url
  common/src/main/public/development.conf.json
Due: Label common PRs

Store the aladin fov x/y independently
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/visualization/ScienceSVGTarget.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbTargetVisualOptions.scala
  model-tests/jvm/src/test/scala/explore/modes/ModesSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model/shared/src/main/scala/explore/model/TargetVisualOptions.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

Allow disabling mouse panning/zooming on aladin
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  model/shared/src/main/scala/explore/model/UserGlobalPreferences.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Add documentation to user preferences and new instance for production
  USERPREFS.md
  common/src/main/public/production.conf.json
  common/src/main/public/staging.conf.json
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label explore PRs

Switch NewTypes to use inline def
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

New NewType
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObjectTracking.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/workers/WorkerMessage.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Create a shared scss file for variables
  common/src/main/webapp/sass/common.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

actually bump lucuma-core
  project/Settings.scala
Due: none

Fix for saving fov on very small changes
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Update fov on resize [sc-1633]
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Change theme names to make it easier to switch themes in the future
  common/src/main/webapp/primereact/dark-theme.css
  common/src/main/webapp/primereact/light-theme.css
  common/src/main/webapp/sass/explore-primereact.scss
Due: Label common PRs

Keep up with primereact changes
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  project/plugins.sbt
Due: Label explore PRs

Add label to Form* variants of primereact controls
  common/src/main/scala/explore/components/primereact/EnumDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormEnumDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormEnumOptionalDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormInputText.scala
  common/src/main/scala/explore/components/primereact/FormInputTextView.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label common PRs, Label explore PRs

Fix rebasing mistake
  common/src/main/webapp/less/style.less
Due: Label common PRs

Update lucuma-react and lucuma-ui
  project/Settings.scala
Due: none

Style changes in lucuma-react and lucuma-ui
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Move components to lucuma-ui, use sbt-lucuma-cs
  build.sbt
  common/src/main/scala/explore/components/primereact/EnumDropdownView.scala
  common/src/main/scala/explore/components/primereact/EnumOptionalDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormEnumDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormEnumOptionalDropdownView.scala
  common/src/main/scala/explore/components/primereact/FormInputText.scala
  common/src/main/scala/explore/components/primereact/FormInputTextView.scala
  common/src/main/scala/explore/components/primereact/FormLabel.scala
  common/src/main/webapp/primereact/dark-theme.css
  common/src/main/webapp/primereact/light-theme.css
  common/src/main/webapp/sass/explore-primereact.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  project/plugins.sbt
  vite.config.mjs
Due: Label common PRs, Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
