Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Create observations/groups inside selected group
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

Add word break on long target names
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Add word break on long target names (#3793)
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Create observations/groups inside selected group (#3789)
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

update lucuma-ui
  .vscode/settings.json
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  project/Versions.scala
Due: Label explore PRs

revert settings.json
  .vscode/settings.json
Due: none

Fix problem of brightnesses table always cloning the target.
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

Tighten up brightness table to avoid horizontal scrolling
  explore/src/main/scala/explore/targeteditor/BrightnessesEditor.scala
Due: Label explore PRs

Remember configuration choice after revert
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Remove unlawful Order instances
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Filter out deleted observations
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Replace `sortable` with unlawful Sorting with `sortableBy`
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Address review comment
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Clear InviteUserPopup fields between uses. Update lucuma-react to 0.61.0
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  project/Versions.scala
Due: Label explore PRs

Update pwa plugin
  README.md
  explore/src/main/scala/explore/ExplorePWA.scala
  package-lock.json
  package.json
Due: Label explore PRs

Comment how to remove the service worker
  README.md
Due: none

Fix issue of broken Semester Plot
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Allow deleting observations from other tabs (scheduling, constraints, targets)
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
Due: Label explore PRs

Restore deleted line
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Improve reset layouts toast
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label explore PRs

migrate react-table facade and lucuma-ui
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTable.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/proposal/ProgramUserInvitations.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
  explore/src/main/scala/explore/targets/TargetSummaryTable.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsPanel.scala
  project/Versions.scala
Due: Label explore PRs

Add component to show focused state
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/FocusedStatus.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Better handling of obs deletion
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Due: Label explore PRs, Label model PRs

Keep expanded group on scheduling and constraints
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label common PRs, Label explore PRs

Some cleanups
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
Due: Label common PRs, Label explore PRs

rework charts
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Alternative fix to extra spaces between observations
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label model PRs

Update lucuma-schema to 0.84.0
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Due: Label explore PRs

Update lucuma-schema to 0.84.0 (#3826)
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  project/Versions.scala
Due: Label explore PRs

implicit ToastCtx
  common/src/main/scala/explore/utils/ToastCtx.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

Revert "--- (#3825)"
  package-lock.json
  package.json
Due: none

Revert "--- (#3825)" (#3827)
  package-lock.json
  package.json
Due: none

Inline focused state
  explore/src/main/scala/explore/components/FocusedStatus.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Remove existence checks
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  model/shared/src/main/scala/explore/model/GroupElement.scala
  model/shared/src/main/scala/explore/model/GroupTree.scala
Due: Label explore PRs, Label model PRs

Default vizTime to current time for `Align to PA` for finder chart
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Use angle from PosAngleConstraint for finder chart `Align to PA`
  explore/src/main/scala/explore/findercharts/ControlOverlay.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Improve `Align to PA`. Default vizTime to now for other tiles, as well.
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

use useEffectStream where possible
  common/src/main/scala/explore/cache/CacheComponent.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Remove logic to keep resizing state
  common/src/main/scala/explore/components/Tile.scala
  explore/src/main/scala/explore/components/TileController.scala
  model/shared/src/main/scala/explore/model/enums/TileSizeState.scala
Due: Label common PRs, Label explore PRs, Label model PRs
