Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label common-graphql PRs:
  label:
    add:
    - common-graphql
    remove: []

Label common-queries PRs:
  label:
    add:
    - common-queries
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Cleanup
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
Due: Label model PRs

Multiple targets for the ITC graph
  .gitignore
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Update flake
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  flake.lock
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Select the brightest star for the graph
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Switch to Tooltips using floating-ui
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/react/floatingui/Tooltip.scala
  common/src/main/scala/react/floatingui/hooks.scala
  common/src/main/scala/react/floatingui/package.scala
  common/src/main/webapp/less/variables-dark.less
  common/src/main/webapp/less/variables-light.less
  common/src/main/webapp/sass/tooltips.scss
  common/src/main/webapp/theme/semantic.less
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/webapp/main.jsx
  package-lock.json
  package.json
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label common PRs, Label explore PRs, Label workers PRs

PR comments
  common/src/main/scala/react/floatingui/Tooltip.scala
  common/src/main/scala/react/floatingui/hooks.scala
  common/src/main/webapp/theme/semantic.less
Due: Label common PRs

Show a title for the charts and a help icon
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
Due: Label common PRs, Label explore PRs

Generic cache for workers.
  HEROKU.md
  build.sbt
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  project/Settings.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/WorkerServer.scala
  workers/src/main/scala/workers/package.scala
Due: Label model PRs, Label workers PRs

remove unnecessary parameter
  workers/src/main/scala/workers/WorkerServer.scala
Due: Label workers PRs

Switch to react style naming
  common/src/main/scala/react/floatingui/Tooltip.scala
Due: Label common PRs

Evict IDB cache
  workers/src/main/scala/workers/Cache.scala
Due: Label workers PRs

Eviction
  workers/src/main/scala/workers/PlotServer.scala
Due: Label workers PRs

Move the target control and S/N info to the ITC tile title bar
  common-graphql/src/main/scala/queries/common/ITCQueriesGQL.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs

Use ResizingChart from upstream
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ResizingChart.scala
  project/Settings.scala
Due: Label explore PRs

Load accesibility module from lucuma-react
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/highcharts.scala
Due: Label explore PRs

Use Cache in ITC worker.
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/Progress.scala
  workers/src/main/scala/workers/Cache.scala
  workers/src/main/scala/workers/CatalogCache.scala
  workers/src/main/scala/workers/CatalogServer.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/PlotServer.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

alpha-value-notation
  common/src/main/webapp/sass/charts.scss
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

Remove empty line
  common/src/main/webapp/sass/charts.scss
Due: Label common PRs

Better error handling in cache
  workers/src/main/scala/workers/Cache.scala
Due: Label workers PRs

Cache ITC graphs
  build.sbt
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
Due: Label model PRs, Label workers PRs

Setup local cache for AGS calculations
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  workers/src/main/scala/workers/AgsServer.scala
  workers/src/main/scala/workers/package.scala
Due: Label model PRs, Label workers PRs

Enable zoom for elevation plots
  common/src/main/webapp/sass/charts.scss
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label common PRs, Label explore PRs

Sort imports
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Add some tooltips to the program popup
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
Due: Label explore PRs

Accelerate semester plots
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Migration to Scala 3 syntax
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Only evict on startup
  workers/src/main/scala/workers/AgsServer.scala
Due: Label workers PRs

Simplify ITC query code
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPanelProps.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
Due: Label explore PRs

Increase node memory
  .github/workflows/ci.yml
  build.sbt
Due: none

Simplify picklers
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
Due: Label model PRs

Fix PM and Parallax formatting.
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/ModelFormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/lucuma/package.scala
  model/shared/src/main/scala/lucuma/utils/package.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Add missing import
  explore/src/main/scala/explore/targeteditor/ElevationPlotSemester.scala
Due: Label explore PRs

Sync vizTime to the elevation plot
  explore/src/main/scala/explore/tabs/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  model/shared/src/main/scala/explore/model/ScienceMode.scala
Due: Label explore PRs, Label model PRs

Fix weird compilation error
  explore/src/main/scala/explore/targeteditor/ElevationPlotNight.scala
Due: Label explore PRs

Change syntax method names, expand usage of syntax.
  common/src/main/scala/explore/components/ConnectionsStatus.scala
  common/src/main/scala/react/floatingui/syntax.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
Due: Label common PRs, Label explore PRs

Add syntax for making tooltips easier to use.
  common/src/main/scala/react/floatingui/syntax.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
Due: Label common PRs, Label explore PRs

Store the ITC panel properties as user preferences
  common-graphql/src/main/resources/graphql/schemas/UserPreferencesDB.graphql
  common-graphql/src/main/scala/queries/common/UserPreferencesQueriesGQL.scala
  common-graphql/src/main/scala/queries/schema/UserPreferencesDB.scala
  common/src/main/public/development.conf.json
  common/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/ElevationPlotSection.scala
  fetchUserPreferencesSchema.sh
  model/shared/src/main/scala/explore/model/itc/preferences.scala
Due: Label common PRs, Label common-graphql PRs, Label explore PRs, Label model PRs

Scale back tooltip syntax functionality.
  common/src/main/scala/react/floatingui/syntax.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
Due: Label common PRs, Label explore PRs

Don't show the graph until prefs loaded
  explore/src/main/scala/explore/itc/ItcGraphPanel.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
Due: Label explore PRs

Update to scala 3.2.0
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  explore/src/main/scala/explore/config/SequenceTable.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label common-graphql PRs: any of: ^common-graphql/
  Label common-queries PRs: any of: ^common-queries/
  Label explore PRs: any of: ^explore/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
