Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Correct for PM on the target editor's elevation plot
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Revert extracted function
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

Remove unused imports
  .scalafix.conf
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/test/scala/explore/undo/UndoContextSpec.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/common/ProposalQueries.scala
  explore/src/main/scala/explore/components/ColumnSelectorInTitle.scala
  explore/src/main/scala/explore/components/package.scala
  explore/src/main/scala/explore/config/ConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/highcharts.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsListActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbKeyedIndexedTree.scala
  model/shared/src/main/scala/explore/model/ImagingConfigurationOptions.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Remove matrix from 'full' GH action
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove matrix from 'full' GH action (#4082)
  .github/workflows/ci.yml
  build.sbt
Due: none

Small UI fixes
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/timingwindows/TimingWindowsTile.scala
Due: Label common PRs, Label explore PRs

Support calibration observation deletion
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  project/Versions.scala
Due: Label explore PRs

Show the deadline for the selected partner
  common/src/main/scala/explore/model/RootModel.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/Proposal.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Adjust the non partner deadline as suggested in the PR
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Remove unnecessary filter
  model/shared/src/main/scala/explore/CallForProposal.scala
Due: Label model PRs

Remove old styles.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Allow shrinking tiles
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Fix styles
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

migrate to new ITC API with asterisms
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/itc/ItcPanelTile.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/explore/itc/ItcPlotControl.scala
  explore/src/main/scala/explore/itc/ItcProps.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ItcTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/BasicConfigAndItc.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
  workers/src/main/scala/workers/itc/ITCVersionsRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

cleanup
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceBody.scala
  explore/src/main/scala/explore/itc/ItcPanelTitle.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/OdbItcResult.scala
  model/shared/src/main/scala/explore/model/itc/math.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

more cleanup
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label common PRs, Label explore PRs

address pr comments
  hasura/user-prefs/migrations/default/1725303654076_itc_graph_rename/down.sql
  hasura/user-prefs/migrations/default/1725303654076_itc_graph_rename/up.sql
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label model PRs, Label workers PRs

Add support to set educational status
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

Support to set the thesis flag
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

substitute cache reusability with key
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

scalafix
  common/src/main/scala/explore/cache/CacheControllerComponent.scala
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label common PRs, Label explore PRs

fix undo with effectful get
  common/src/main/scala/explore/undo/UndoContext.scala
Due: Label common PRs

Use toListOfViews
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
Due: Label explore PRs

fix worker stream acquisition
  common/src/main/scala/workers/WebWorkerF.scala
  common/src/main/scala/workers/WorkerClient.scala
  explore/src/main/scala/explore/itc/ItcPanelBody.scala
Due: Label common PRs, Label explore PRs

Make obsTime readonly and hide obs duration for multiple observations
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  model/shared/src/main/scala/explore/model/ObsIdSet.scala
Due: Label explore PRs, Label model PRs

Add editing of observation duration
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorBody.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObservation.scala
  model/shared/src/main/scala/explore/model/Observation.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Add gender editor
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

deglitch
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

remove comment
  common/src/main/scala/explore/model/RootModelViews.scala
Due: Label common PRs

program details
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Due: Label common PRs, Label explore PRs, Label model PRs

remove unnecesary program detail fields
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Due: Label explore PRs, Label model PRs

fix caches
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
Due: Label common PRs, Label explore PRs, Label model PRs

fix contact scientists
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
Due: Label common PRs, Label explore PRs

gap
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Disable investigator table controls if submitted
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

apply migrations on promotion
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none

clean observsation attachments on obs copy
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

bump lucuma-react
  project/Versions.scala
Due: none

Fix promotion scripts
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none

Also do a reload
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none
