Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

migrate single component
  explore/src/main/scala/explore/ObsReferenceResolver.scala
Due: Label explore PRs

hide acquisition on completed observations
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
Due: Label explore PRs

Improve user experience in the ConfigurationRequestEditorPopup
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
Due: Label explore PRs

Switch to ReactFnComponent
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
Due: Label explore PRs

Read the proprietary months from the odb
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label explore PRs, Label model PRs

Allow ProgramUser without a real user
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/RootModelViews.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/clue/scala/queries/common/ProposalQueriesGQL.scala
  explore/src/clue/scala/queries/common/UserInvitationSubquery.scala
  explore/src/clue/scala/queries/common/UserProfileSubquery.scala
  explore/src/clue/scala/queries/common/UserSubquery.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/InviteUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/ProgramUserInvitations.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/RedeemInvitationResult.scala
  model/shared/src/main/scala/explore/model/User.scala
  model/shared/src/main/scala/explore/model/UserInvitation.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

convert color, review comment
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label common PRs, Label explore PRs

Change terminology for CoIs
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  model/shared/src/main/scala/explore/model/display.scala
Due: Label explore PRs, Label model PRs

Remove AddProgramUserButton for support users
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/SupportUsers.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

prioritize current obs mode over table row
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
Due: Label explore PRs

fix cloning
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
Due: Label explore PRs

AsyncAction. Toast.showDuring.
  common/src/main/scala/explore/undo/AsyncAction.scala
  common/src/main/scala/explore/utils/ToastCtx.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  package-lock.json
  package.json
  project/Versions.scala
Due: Label common PRs, Label explore PRs

add documentation, ui version
  UNDO.md
  project/Versions.scala
Due: none

remove unnecessary code, showToastDuring clonings
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
Due: Label explore PRs, Label model PRs

migrate to AsyncAction
  explore/src/main/scala/explore/actions/ObservationPasteIntoAsterismAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoConstraintSetAction.scala
  explore/src/main/scala/explore/actions/ObservationPasteIntoSchedulingGroupAction.scala
  explore/src/main/scala/explore/actions/package.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
Due: Label explore PRs

Update applicable observations on configurationRequestEdit subscription
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ConfigurationRequestWithObsIds.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

Add justification to configuration request
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ConfigurationRequestSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestJustificationViewer.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/ConfigurationRequestWithObsIds.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

requery workflows on cfp change
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Gracefully handle errors in subscriptions.
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

drain all observations in updateObservationsWorkflows
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
Due: Label explore PRs

Use new subscribe method in clue.
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  project/Versions.scala
Due: Label explore PRs

Keep sequence tile at bottom of obs tab
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/UserPreferences.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  hasura/user-prefs/migrations/default/1736803643273_separate_sequence_layout/down.sql
  hasura/user-prefs/migrations/default/1736803643273_separate_sequence_layout/up.sql
  model/shared/src/main/scala/explore/model/enums/GridLayoutSection.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Focus newly created target and allow navigation to a target via URL
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

Filter out F2
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  model/shared/src/main/scala/explore/undo/UndoStacks.scala
Due: Label explore PRs, Label model PRs

Remove debug logging
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label explore PRs

Better way to select modes only for a few instruments
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
Due: Label explore PRs

Don't set read only bit for staff users
  common/src/main/scala/explore/model/RootModelViews.scala
Due: Label common PRs

finish rebase fixes
  explore/src/main/scala/explore/cache/ModesCacheController.scala
Due: Label explore PRs

clue error rework
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/cache/CfpCacheController.scala
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/common/GroupQueries.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/common/TargetQueries.scala
  explore/src/main/scala/explore/common/TimingWindowsQueries.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/TargetImportPopup.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
  explore/src/main/scala/explore/users/InviteUserPopup.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/package.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

casing, versions
  .scalafix.conf
  build.sbt
  project/Dependencies.scala
  project/Versions.scala
Due: none

more clue migration
  explore/src/main/scala/explore/observationtree/ObsActions.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/targets/TargetAddDeleteActions.scala
Due: Label explore PRs

new clue ready
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

more version bumps
  project/Versions.scala
Due: none

Lib updates
  project/Versions.scala
Due: none

Show Flamingos2 modes on explore's configuration tile
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/InstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Change CI workflows to look for `main` instead of `master`
  .github/workflows/ci.yml
  build.sbt
Due: none

Lost query
  explore/src/clue/scala/queries/common/ModesQueriesGQL.scala
Due: Label explore PRs

Show the percentages of how likely a given condition is to be observable
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Show the likelihood of condditions on the UI
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Use observation airmass rather than requested airmass
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label explore PRs, Label model PRs
