Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label explore-clue PRs:
  label:
    add:
    - explore-clue
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Improve ITC error message for target problems.
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/ImagingModesTable.scala
  explore/src/main/scala/explore/config/ModesTableCommon.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcTarget.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update itc lib with multimodes
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

Allow setting gmos imaging modes
  explore/src/main/scala/explore/config/AdvancedConfigButtons.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/modes/ConfigSelection.scala
  project/Versions.scala
  workers/src/main/scala/workers/CatalogServer.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Improve itc graph error handling and flow
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/itc/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/Constants.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Disable (again) submission button on errors
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs

adapt promote script to itc using docker
  promote.sh
Due: none

ensure container login for itc promotion
  promote.sh
Due: none

remove explore-only promotion scripts
  promoteDevToStaging.sh
  promoteStagingToProduction.sh
Due: none

reset semester plot when switching targets
  explore/src/main/scala/explore/plots/SemesterPlot.scala
Due: Label explore PRs

allow switching daily ranges in multi-obs plot
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
Due: Label explore PRs

Add support for angstroms for wavelength
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/main/scala/explore/config/package.scala
  hasura/user-prefs/migrations/default/1751840669144_insert_into_public_lucumaWavelengthUnits/down.sql
  hasura/user-prefs/migrations/default/1751840669144_insert_into_public_lucumaWavelengthUnits/up.sql
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/enums/WavelengthUnits.scala
Due: Label explore PRs, Label model PRs

Disable selection of bands not supported by ITC
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
Due: Label explore PRs

Also skip on local.gemini.edu installation of the service worker
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

prettier
  explore/src/main/webapp/main.jsx
Due: Label explore PRs

Fix `Now` button to only update once
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
Due: Label explore PRs

Enable the edit and new buttons only for staff
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/HelpBody.scala
Due: Label explore PRs

Change Add Investigator button tool tip for readonly COIs
  explore/src/main/scala/explore/users/AddProgramUserButton.scala
Due: Label explore PRs

Change summary table title buttons
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
Due: Label common PRs, Label explore PRs

Adjust documentation
  USERPREFS.md
Due: none

Adjust the layout of the finder charts table
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
Due: Label common PRs, Label explore PRs

Show correct value for workflow state in obs summary table
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
Due: Label explore PRs

Shorten "Add a target" button label in popup, shorten button column.
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
  explore/src/main/scala/explore/targets/TargetSelectionTable.scala
Due: Label common PRs, Label explore PRs

Automatically reload vite if environments change
  vite.config.mts
Due: none

Fix typo
  vite.config.mts
Due: none

Update lucuma-core 0.136.3 to add units to ImageQuality
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Add a custom time editor to ensure time is always on a 24h format
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/Time24HInputView.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Remove unused style
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Make a separate control for a DatePicker with a customtime editor
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/DatePicker24HTime.scala
  explore/src/main/scala/explore/components/Time24HInputView.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Prevent editing on constraints and scheduling tabs by execution status
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model/shared/src/main/scala/explore/model/ObsIdSetEditInfo.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

scalafix
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
Due: Label explore PRs

Prevent editing via drag/drop
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
Due: Label explore PRs

fix comment
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
Due: Label explore PRs

Don't allow editing of asterism of executed observations via drag/drop
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
Due: Label explore PRs

Make the time parser more resilient
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label model PRs

Prevent deleting of things by delete action button when they shouldn't
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
Due: Label explore PRs

Allow position angle to be edited by staff when ongoing.
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/ObsIdSetEditInfo.scala
Due: Label explore PRs, Label model PRs

Add Gmos Imaging Configuration editing tile - Phase 1
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/CustomizableEnumGroupedMultiSelect.scala
  explore/src/main/scala/explore/components/CustomizedGroupAddon.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/FiltersMultiSelect.scala
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Store user selection of line of sight motion in the preferences db
  common/src/main/scala/explore/model/UserPreferences.scala
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/clue/scala/queries/schemas/UserPreferencesDB.scala
  explore/src/main/scala/explore/cache/PreferencesCacheController.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaLineOfSight.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaLineOfSightMotion.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1752764748516_target_line_of_sight/down.sql
  hasura/user-prefs/migrations/default/1752764748516_target_line_of_sight/up.sql
  model/shared/src/main/scala/explore/model/enums/LineOfSightMotion.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add defaults for new px/rv/pm for new targets
  explore/src/main/scala/explore/targets/TargetSearchResult.scala
  explore/src/main/scala/explore/targets/TargetSource.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label explore PRs, Label model PRs

Default to Z if RV is over 1% of light speed
  explore/src/main/scala/explore/targeteditor/RVInput.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label explore PRs: any of: ^explore/
  Label explore-clue PRs: any of: ^explore-clue/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
