Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

fix
  build.sbt
Due: none

Stylelint fixes
  common/src/main/webapp/sass/aladin.scss
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

handle case where groupEdit value is now nullable
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

Try to config fortawesome registry
  .github/dependabot.yml
Due: none

lucuma-core to v0.88.2, pickler for ConstantTracking
  model/shared/src/main/scala/explore/model/boopickle/CatalogPickler.scala
  project/Versions.scala
Due: Label model PRs

migrate optics away to lucuma-ui
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

fix tests
  model-tests/shared/src/test/scala/explore/optics/ModelOpticsSuite.scala
  model-tests/shared/src/test/scala/explore/optics/OptionNonEmptyStringIsoSuite.scala
Due: Label model-tests PRs

handle case where groupEdit value is now nullable (#3406)
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
Due: Label explore PRs

remove commented code
  model/shared/src/main/scala/explore/optics/ModelOptics.scala
Due: Label model PRs

Revert `package.json` to 421360806f52f424c4893040457455b9fe098005
  package-lock.json
  package.json
Due: none

Revert "Try to config fortawesome registry"
  .github/dependabot.yml
Due: none

Point explore production to the postgres ODB
  common/src/main/public/environments.conf.json
Due: Label common PRs

Update lucuma-schema to 0.64.0
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Update lucuma-schema to 0.64.0 (#3443)
  explore/src/clue/scala/queries/common/GroupQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/config/sequence/GeneratedSequenceViewer.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Use bundlemon action
  .github/workflows/ci.yml
  build.sbt
  package-lock.json
  package.json
Due: none

Add execution time for observations
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Explicit IgnoreOnData errorPolicy for obs queries
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
Due: Label explore PRs

Fix overlay translate
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Add execution time for observations (#3435)
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/main/scala/explore/cache/ProgramCache.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbExecution.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Update config files sent to firebase
  .firebaserc
  common/src/main/public/README.txt
  common/src/main/public/conf.json
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
Due: Label common PRs, Label explore PRs

Fix partner splits layout
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/less/style.less
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label common PRs, Label explore PRs

Fix scss stylelint problem.
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Use bundlemon action (#3444)
  .github/workflows/ci.yml
  build.sbt
  package-lock.json
  package.json
Due: none

Fixes the `toHours` conversion from TimeSpan
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Program tab details tile
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label common PRs, Label explore PRs

use min and max execution time
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label explore PRs

Time accounting
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
Due: Label common PRs, Label explore PRs

move dynamic enum logic to lucuma-schemas
  common/src/main/scala/explore/DynamicEnums.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/clue/scala/queries/common/ObsAttachmentSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderCharts.scala
  model/shared/src/main/scala/explore/model/ObsAttachment.scala
  model/shared/src/main/scala/explore/model/enums/ObsAttachmentType.scala
  project/Versions.scala
  vite.config.mjs
Due: Label common PRs, Label explore PRs, Label model PRs

Update columns
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
Due: Label explore PRs

Program tab details tile (#3337)
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/programs/ProgramChangeRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
Due: Label common PRs, Label explore PRs

Add proposal attachments table and initial program users table
  common/src/main/scala/explore/utils/OdbRestClient.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/clue/scala/queries/common/ProgramUserWithRoleSubquery.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTable.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentUtils.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUserWithRole.scala
  model/shared/src/main/scala/explore/model/ProposalAttachment.scala
  model/shared/src/main/scala/explore/model/enums/ProgramUserRole.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update dependencies - change plannedTime to timeEstimate
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Fix SequenceDigestSubquery
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
Due: Label explore PRs

Revert "Bump react-resize-detector from 8.0.4 to 9.1.1 (#3496)"
  package-lock.json
  package.json
Due: none

Revert "Bump react-resize-detector from 8.0.4 to 9.1.1 (#3496)" (#3502)
  package-lock.json
  package.json
Due: none

Improve the way tile resizing is enabled/disabled
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/TileController.scala
Due: Label common PRs, Label explore PRs

Set the aladin properties per asterism rather than per target
  common/src/main/scala/explore/model/reusability.scala
  explore/src/clue/resources/UserPreferencesDB.graphql
  explore/src/clue/scala/queries/common/UserPreferencesQueriesGQL.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  fetchUserPreferencesSchema.sh
  hasura/user-prefs/metadata/databases/default/tables/public_exploreAsterismPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_exploreTargetPreferences.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_lucumaAsterism.yaml
  hasura/user-prefs/metadata/databases/default/tables/public_test.yaml
  hasura/user-prefs/metadata/databases/default/tables/tables.yaml
  hasura/user-prefs/migrations/default/1704744102801_asterism_preferences/down.sql
  hasura/user-prefs/migrations/default/1704744102801_asterism_preferences/up.sql
  model-testkit/shared/src/main/scala/explore/model/arb/ArbAsterismVisualOptions.scala
  model-testkit/shared/src/main/scala/explore/model/arb/package.scala
  model-tests/shared/src/test/scala/explore/model/ModelSuite.scala
  model/shared/src/main/scala/explore/model/AsterismVisualOptions.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs

migrate ExecutionEnvironment to core
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  common/src/main/scala/explore/model/AppConfig.scala
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/model/AppContext.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

scalafix
  common/src/main/scala/explore/utils/OdbRestClient.scala
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/model/AppContext.scala
Due: Label common PRs, Label explore PRs

restore vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none
