Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

When rv/parallx/pm are zero show them on a lighter color
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label common PRs, Label explore PRs

Update honeycomb keys to make use of environments
  common/src/main/public/environments.conf.json
Due: Label common PRs

Use microseconds instead of microarcseconds for RightAscension
  explore/src/clue/scala/queries/common/SiteCoordinatesLimitsSubquery.scala
  project/Versions.scala
Due: Label explore PRs

Add MultipleFiltersMode dropdown to imaging config UI
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

calculatedDigest -> digest in API
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/services/OdbObservationApi.scala
  explore/src/main/scala/explore/services/OdbObservationApiImpl.scala
  project/Versions.scala
Due: Label explore PRs

Change explore dev honeycomb service name
  common/src/main/public/environments.conf.json
Due: Label common PRs

small fix for promote
  promote.sh
Due: none

Update itc client
  project/Versions.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label workers PRs

calculatedWorkflow->workflow and top level sequence query
  explore/src/clue/scala/queries/common/ObsQueriesGQL.scala
  explore/src/clue/scala/queries/common/ObservationSubquery.scala
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/model/SequenceData.scala
  project/Versions.scala
Due: Label explore PRs

Make the pm, rv and parallax inputs non-optional
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/targeteditor/RVInput.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  model/shared/src/main/scala/explore/model/conversions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Update multiple libs and restore functionality
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

fix typo
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
Due: Label explore PRs

Improve readability of conditions likelihood
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Clarify layout of scheduling window
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
Due: Label common PRs, Label explore PRs

Remove double planets
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Improve how errors are displayed and remove the double spinner
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Add the concept of fatal errors, for example, when a field is not found.
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/model/AppContext.scala
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/services/OdbApiImpl.scala
Due: Label explore PRs

Don't pass id to all pot renders
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/ObsReferenceResolver.scala
  explore/src/main/scala/explore/ProgramReferenceResolver.scala
  explore/src/main/scala/explore/ProposalReferenceResolver.scala
  explore/src/main/scala/explore/RootComponent.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlot.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
Due: Label common PRs, Label explore PRs

General cleanup
  common/src/main/scala/explore/syntax/ui/package.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/services/OdbApiHelper.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
Due: Label common PRs, Label explore PRs, Label model PRs

scalafix
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Revert what progress is displayed
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/services/OdbApiHelper.scala
Due: Label explore PRs

Don't delay linting light mode until after merge to main
  .github/workflows/ci.yml
  build.sbt
Due: none

Some build updates
  .github/workflows/ci.yml
  .github/workflows/clubhouse.yml
  build.sbt
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

Don't show the time on the version
  common/src/main/scala/explore/utils/package.scala
Due: Label common PRs

Fix explore crash for negative elevations / update schema and deps
  build.sbt
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

Add UI to edit a user's affiliation
  explore/src/clue/scala/queries/common/ProgramUserSubquery.scala
  explore/src/main/scala/explore/services/OdbProgramApi.scala
  explore/src/main/scala/explore/services/OdbProgramApiImpl.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbProgramUser.scala
  model/shared/src/main/scala/explore/model/ProgramUser.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Add static page to manually uninstall the service worker
  common/src/main/public/uninstall.html
  firebase.json
  vite.config.mts
Due: Label common PRs

run prettier
  common/src/main/public/uninstall.html
Due: Label common PRs

Tiny formatting fix
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Improve time formating on duration tooltip
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
Due: Label explore PRs

Allow duplicating and changing workflow status of ongoing observations
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
Due: Label explore PRs

Improved promotion scripts
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

schema updates
  project/Versions.scala
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

script cleanup
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

Adjustments to dry-run
  promote.sh
Due: none

Offset editor for imaging
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  common/src/main/webapp/sass/offset-editor.scss
  explore/src/main/scala/explore/config/GmosImagingConfigPanel.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditor.scala
  explore/src/main/scala/explore/config/offsets/OffsetEditorStyles.scala
  explore/src/main/scala/explore/config/offsets/OffsetGridDisplay.scala
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Record git sha when doing firebase deployments
  .github/workflows/ci.yml
  build.sbt
Due: none

try to fix the action
  .github/workflows/ci.yml
  .gitignore
  build.sbt
Due: none

Another attempt
  .github/workflows/ci.yml
  build.sbt
Due: none

yet another attempt
  .github/workflows/ci.yml
  build.sbt
Due: none
