Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label common-graphql PRs, Label common-queries PRs, Label explore PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label common-graphql PRs
  conditions:
  - files~=^common-graphql/
  actions:
    label:
      add:
      - common-graphql
      remove: []
- name: Label common-queries PRs
  conditions:
  - files~=^common-queries/
  actions:
    label:
      add:
      - common-queries
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Fix logic issue in target clone selection
  model-tests/shared/src/test/scala/explore/model/TargetEditCloneInfoSuite.scala
  model/shared/src/main/scala/explore/model/TargetEditCloneInfo.scala
Due: Label model PRs, Label model-tests PRs

Improve sorting of Target and Duration columns
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Some simplifications suggested in the PR
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

More updates for PR comments
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
Due: Label explore PRs

Tiny fix on the email display
  explore/src/main/scala/explore/proposal/ProgramUsersTable.scala
Due: Label explore PRs

Cleaning up tile controls
  common/src/main/scala/explore/components/Tile.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore-common.scss
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/components/TileController.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/proposal/ProgramUsers.scala
  explore/src/main/scala/explore/tabs/FinderChartsTile.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/AsterismModifier.scala
Due: Label common PRs, Label explore PRs

time award table
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/syntax/ui/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/AllocationSubquery.scala
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/observationtree/ObsList.scala
  explore/src/main/scala/explore/programs/ProgramDetailsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/PartnerSplit.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramTime.scala
  model/shared/src/main/scala/explore/model/allocations.scala
  model/shared/src/main/scala/explore/model/display.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

format
  common/src/main/scala/explore/syntax/ui/package.scala
Due: Label common PRs

prettier
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Show the program id label if present
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/TopBar.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Show either the program reference or the proposal reference
  common/src/main/scala/explore/model/RootModel.scala
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/ExploreLayout.scala
  explore/src/main/scala/explore/TopBar.scala
Due: Label common PRs, Label explore PRs

Add editor for observation notes with markdown support
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/webapp/css/github-markdown.css
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ObservationSummarySubquery.scala
  explore/src/clue/scala/queries/common/ProgramSummaryQueriesGQL.scala
  explore/src/main/scala/explore/HelpBody.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  explore/src/main/webapp/main.jsx
  model-testkit/shared/src/main/scala/explore/model/arb/ArbObsSummary.scala
  model/shared/src/main/scala/explore/model/ObsSummary.scala
  package-lock.json
  package.json
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

fix tab logic
  explore/src/main/scala/explore/ExploreLayout.scala
Due: Label explore PRs

Improve detection of clone assignment.
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
Due: Label explore PRs

Fix problem of updating undostacks multiple times
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
Due: Label explore PRs

Undo/Redo for target cloning
  common/src/main/scala/explore/model/Focused.scala
  explore/src/clue/scala/queries/common/TargetQueriesGQL.scala
  explore/src/main/scala/explore/common/AsterismQueries.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  model/shared/src/main/scala/explore/model/OnCloneParameters.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Review comments
  common/src/main/scala/explore/undo/Action.scala
  explore/src/main/scala/explore/tabs/AsterismEditorTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditor.scala
  explore/src/main/scala/explore/targeteditor/SiderealTargetEditor.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneAction.scala
  model/shared/src/main/scala/explore/model/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

fix eternal disconnection issue
  build.sbt
  explore/src/main/scala/explore/model/GraphQLClients.scala
  project/Versions.scala
Due: Label explore PRs

Deactivate unavailable options on the spectroscopy configuration form
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Due: Label explore PRs

update lucuma-ui
  project/Versions.scala
Due: none

Increase preview FOV to 4 arcmin
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label model PRs

Add a help icon to aladin
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label common PRs, Label explore PRs

totals in meta
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
Due: Label explore PRs

scalafmt
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
Due: Label explore PRs

reinstate floatingui styles
  common/src/main/webapp/sass/tooltips.scss
  explore/src/main/webapp/main.jsx
Due: Label common PRs, Label explore PRs

Remove old styles.less
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Allow shrinking tiles
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/layout.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/sequence/SequenceEditorTile.scala
  explore/src/main/scala/explore/tabs/SiderealTargetEditorTile.scala
Due: Label common PRs, Label explore PRs

Update other fontawesome pkgs
  package-lock.json
  package.json
Due: none

Show the submission deadline for a proposal
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Use foldMap
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
Due: Label explore PRs

Fix typo
  explore/src/main/scala/explore/notes/NotesTile.scala
Due: Label explore PRs

Display the default deadline if there are no partners and dynamic deadline countdown
  explore/src/clue/scala/queries/common/CallsQueriesGQL.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbCallForProposal.scala
  model/shared/src/main/scala/explore/CallForProposal.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label explore PRs, Label model PRs, Label model-testkit PRs

Disable submit button if there is no call selected
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Reformat
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label model PRs

bump clue, reconnection strategy more fitting
  explore/src/main/scala/explore/Explore.scala
  explore/src/main/scala/explore/components/ConnectionsStatus.scala
  explore/src/main/scala/explore/model/GraphQLClients.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  project/Versions.scala
Due: Label explore PRs

Allow inviting a user without a partner
  explore/src/clue/scala/queries/common/InvitationQueriesGQL.scala
  explore/src/main/scala/explore/proposal/InviteUserPopup.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

Move the countdown timer to its own component
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs

decimal time format in award table
  explore/src/main/scala/explore/observationtree/ObsSummaryTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/tabs/GroupEditTile.scala
  project/Versions.scala
Due: Label explore PRs

Update explore/src/main/scala/explore/proposal/ProposalTabContents.scala
  explore/src/main/scala/explore/proposal/ProposalTabContents.scala
Due: Label explore PRs
