Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label common PRs
  conditions:
  - files~=^common/
  actions:
    label:
      add:
      - common
      remove: []
- name: Label explore PRs
  conditions:
  - files~=^explore/
  actions:
    label:
      add:
      - explore
      remove: []
- name: Label explore-clue PRs
  conditions:
  - files~=^explore-clue/
  actions:
    label:
      add:
      - explore-clue
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label model-testkit PRs
  conditions:
  - files~=^model-testkit/
  actions:
    label:
      add:
      - model-testkit
      remove: []
- name: Label model-tests PRs
  conditions:
  - files~=^model-tests/
  actions:
    label:
      add:
      - model-tests
      remove: []
- name: Label workers PRs
  conditions:
  - files~=^workers/
  actions:
    label:
      add:
      - workers
      remove: []

Don't allow decimal for exposure time on gmos
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Changes to the basic configuration panel from user feedback
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model/shared/src/main/scala/explore/model/Constants.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Improve filtering of rows based on the requested wavelength coverage
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Changes to Average Parallactic Angle calculation and obs duration
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/PAConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/Execution.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Fix prettier lint error
  common/src/main/webapp/sass/explore.scss
Due: Label common PRs

Enable F2 rows on the modes table. They show as unsupported
  explore/src/main/scala/explore/cache/ModesCacheController.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/ObservingModeSummary.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/modes/InstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Fix wavelength auditors that could allow 0 wavelengths
  explore/src/main/scala/explore/config/package.scala
Due: Label explore PRs

Adjust some labels
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
Due: Label explore PRs

Fix AsterismEditorTile title when tile is minimized.
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
Due: Label explore PRs

Update prefs endpoint
  common/src/main/public/environments.conf.json
Due: Label common PRs

migrate constraints to presets
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

newBoolean
  common/src/main/scala/explore/utils/package.scala
  explore/src/main/scala/explore/EditableLabel.scala
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ConfigurationRequestEditorPopup.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/proposal/ProposalSubmissionBar.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/users/RedeemInvitationsPopup.scala
  explore/src/main/scala/explore/users/UserPreferencesPopup.scala
  explore/src/main/scala/explore/visualization/package.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Transformation.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
  model/shared/src/main/scala/explore/model/itc/preferences.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/explore/modes/package.scala
Due: Label common PRs, Label explore PRs, Label model PRs

use NewBoolean new convenience methods
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/tabs/ObsTabContents.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  model/shared/src/main/scala/explore/model/GlobalPreferences.scala
  model/shared/src/main/scala/explore/model/Transformation.scala
  model/shared/src/main/scala/explore/model/enums/Visible.scala
  model/shared/src/main/scala/explore/model/newtypes.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

Invalid the cache and reload itc/sequence when custom seds are updated
  common/src/main/public/environments.conf.json
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Fix formats for exp time and s/n
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Use react-aladin from lucuma-ui
  build.sbt
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

Rework how the local and remote state of exposure time mode are kept in sync
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/enums/ExposureTimeModeType.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Revert environments.conf.json changes
  common/src/main/public/environments.conf.json
Due: Label common PRs

Use .orUnassign where needed
  explore/src/main/scala/explore/common/ScienceQueries.scala
Due: Label explore PRs

Fix position angle of slit overlay in AladinCell
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  project/Versions.scala
Due: Label explore PRs

Some touchups for the exposure time mode controls
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  model/shared/src/main/scala/explore/model/ExposureTimeModelInfo.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/enums/ExposureTimeModeType.scala
Due: Label explore PRs, Label model PRs

migrate core model
  explore/src/main/scala/explore/TopBar.scala
  explore/src/main/scala/explore/common/ConstraintsQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsPanel.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/programs/ProgramsPopup.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/targeteditor/AladinPreferencesMenu.scala
  explore/src/main/scala/explore/targeteditor/TargetCloneSelector.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/queries/schemas/odb/ObsQueries.scala
  model/shared/src/main/scala/explore/model/boopickle/CommonPicklers.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

bump schemas
  project/Versions.scala
Due: none

Perishable type - mark obs and group times as stale instead of pending
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/utils/package.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/cache/CacheModifierUpdaters.scala
  explore/src/main/scala/explore/cache/ProgramCacheController.scala
  explore/src/main/scala/explore/config/ObsTimeEditor.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/observationtree/ObsBadge.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryRow.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryTile.scala
  explore/src/main/scala/explore/observationtree/ObsTree.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
  explore/src/main/scala/explore/tabs/GroupEditBody.scala
  explore/src/main/scala/explore/tabs/ObsGroupTiles.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  explore/src/main/scala/explore/targeteditor/AsterismEditorTile.scala
  model/shared/src/main/scala/explore/model/Perishable.scala
  model/shared/src/main/scala/explore/model/PerishablePot.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Scalafix
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
Due: Label explore PRs

Port AladinContainer to monadic style
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/build.properties
Due: Label explore PRs

adapt to changes in core
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/plots/ElevationPlotTile.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/formats.scala
  project/Versions.scala
Due: Label explore PRs, Label model PRs

further bumps
  project/Versions.scala
Due: none

Revert sbt version change
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/build.properties
Due: Label explore PRs

Use visualization from lucuma-ui
  common/src/main/webapp/sass/visualization.scss
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/GmosGeometry.scala
  explore/src/main/scala/explore/visualization/CrossTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTarget.scala
  explore/src/main/scala/explore/visualization/GuideStarTooltip.scala
  explore/src/main/scala/explore/visualization/OffsetSVG.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs

Lint css
  common/src/main/webapp/sass/visualization.scss
Due: Label common PRs

fix sorting for ccc tables, bump ui
  explore/src/main/scala/explore/findercharts/package.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  project/Versions.scala
Due: Label explore PRs

fix transition emission lines -> custom sed
  common/src/main/scala/explore/model/enums/SEDType.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/IntegratedSpectralDefinitionEditor.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SpectralDefinitionEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/SurfaceSpectralDefinitionEditor.scala
Due: Label common PRs, Label explore PRs

enable sorting in unrequested CCC table
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
Due: Label explore PRs

Allow failure for bundlemon action
  .github/workflows/ci.yml
Due: none

PR suggestions
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ConstraintGroupObsList.scala
  explore/src/main/scala/explore/observationtree/SchedulingGroupObsList.scala
  explore/src/main/scala/explore/observationtree/ViewCommon.scala
Due: Label explore PRs

Add a tooltip with the slit width in pixels
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/InstrumentConfigAndItcResult.scala
  model/shared/src/main/scala/explore/model/Observation.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/modes/ItcInstrumentConfig.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
  model/shared/src/main/scala/queries/schemas/itc/syntax.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs
