Repository gemini-hlsw/explore: changes, and which Mergify rules are due for each by the changed paths.
All: Label common PRs, Label explore PRs, Label explore-clue PRs, Label model PRs, Label model-testkit PRs, Label model-tests PRs, Label workers PRs

Label common PRs:
  label:
    add:
    - common
    remove: []

Label explore PRs:
  label:
    add:
    - explore
    remove: []

Label explore-clue PRs:
  label:
    add:
    - explore-clue
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label model-testkit PRs:
  label:
    add:
    - model-testkit
    remove: []

Label model-tests PRs:
  label:
    add:
    - model-tests
    remove: []

Label workers PRs:
  label:
    add:
    - workers
    remove: []

Add promotion scripts
  promote.sh
  promoteDevAllToStaging.sh
  promoteStagingAllToProduction.sh
Due: none

Update endpoints
  common/src/main/public/environments.conf.json
  promoteStagingAllToProduction.sh
Due: Label common PRs

versions
  project/Versions.scala
Due: none

more table migration, working
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
Due: Label explore PRs

remove comments, update versions
  explore/src/main/scala/explore/targets/TargetColumns.scala
  project/Versions.scala
Due: Label explore PRs

table migration
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/common/UserPreferencesQueries.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/ProgramTable.scala
  explore/src/main/scala/explore/programs/ProgramUnrequestedConfigsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/PartnerSplitsEditor.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/targeteditor/TargetTable.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/brightnessesEditor/BrightnessesEditorBuilder.scala
  explore/src/main/scala/explore/targeteditor/spectralDefinition/emissionLineEditor/EmissionLineEditorBuilder.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  project/Versions.scala
Due: Label explore PRs

remove unused import
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

finish table migration
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/sequence/GmosSequenceTableBuilder.scala
  explore/src/main/scala/explore/constraints/ConstraintsSummaryTile.scala
  explore/src/main/scala/explore/findercharts/FinderChartLinker.scala
  explore/src/main/scala/explore/observationtree/ObsSummaryColumns.scala
  explore/src/main/scala/explore/programs/ConfigurationTableColumnBuilder.scala
  explore/src/main/scala/explore/programs/ProgramConfigRequestsTile.scala
  explore/src/main/scala/explore/programs/TimeAccountingTable.scala
  explore/src/main/scala/explore/programs/TimeAwardTable.scala
  explore/src/main/scala/explore/proposal/ProposalAttachmentsTable.scala
  explore/src/main/scala/explore/schedulingWindows/SchedulingWindowsTile.scala
  explore/src/main/scala/explore/targets/TargetColumns.scala
  explore/src/main/scala/explore/targets/TargetSummaryTile.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
Due: Label explore PRs

wip
  build.sbt
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinCell.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targeteditor/AladinToolbar.scala
  explore/src/main/scala/explore/targeteditor/package.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
  explore/src/main/scala/explore/visualization/TargetsOverlay.scala
  explore/src/main/scala/explore/visualization/VisualizationOverlay.scala
  explore/src/main/scala/explore/visualization/package.scala
  package-lock.json
  package.json
  project/Dependencies.scala
  project/Versions.scala
Due: Label explore PRs

wip
  explore/src/main/scala/explore/aladin.scala
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  explore/src/main/scala/explore/targets/TargetSelectionPopup.scala
Due: Label explore PRs

wup
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
Due: Label explore PRs

wp
  explore/src/main/scala/explore/targeteditor/AladinContainer.scala
  project/Versions.scala
Due: Label explore PRs

Read the full exposure time mode
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/ConfigurationTile.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Don't mark some fields as missing when the proposal is read only
  explore/src/main/scala/explore/proposal/ProposalDetailsTile.scala
  explore/src/main/scala/explore/proposal/ProposalEditor.scala
  explore/src/main/scala/explore/users/ProgramUsersTable.scala
Due: Label explore PRs

Improve how the ITC graph errors are displayed
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
Due: Label explore PRs

Remove debugging code
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
Due: Label explore PRs

Add Program Notes tile to Program tab
  common/src/main/scala/explore/Icons.scala
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/scala/explore/undo/AsyncAction.scala
  common/src/main/scala/explore/undo/UndoSetter.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/clue/scala/queries/common/ProgramDetailsSubquery.scala
  explore/src/clue/scala/queries/common/ProgramNoteSubquery.scala
  explore/src/clue/scala/queries/common/ProgramQueriesGQL.scala
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/common/ProgramQueries.scala
  explore/src/main/scala/explore/components/MarkdownEditor.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/observationtree/AsterismGroupObsList.scala
  explore/src/main/scala/explore/observationtree/package.scala
  explore/src/main/scala/explore/programs/ProgramNoteEditor.scala
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
  explore/src/main/scala/explore/tabs/ConstraintsTabContents.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  explore/src/main/scala/explore/tabs/ProgramTabContents.scala
  explore/src/main/scala/explore/tabs/SchedulingTabContents.scala
  explore/src/main/scala/explore/tabs/TargetTabContents.scala
  model/shared/src/main/scala/explore/model/ProgramDetails.scala
  model/shared/src/main/scala/explore/model/ProgramNote.scala
  project/Versions.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Revise Dec limit filter on modes table
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label model PRs

Simplify NotesTile
  explore/src/main/scala/explore/notes/NotesTile.scala
Due: Label explore PRs

Always show finder charts tile for non-science programs
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
Due: Label explore PRs

Use hidden flag instead of dummy tiles.
  explore/src/main/scala/explore/findercharts/FinderChartsTile.scala
  explore/src/main/scala/explore/notes/NotesTile.scala
Due: Label explore PRs

Add controls to select exp time mode
  common/src/main/scala/explore/model/reusability.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/BasicConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/package.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/enums/ExposureTimeModeType.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

Restore saving sn mode
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
Due: Label explore PRs

Add note count to the program notes tile title.
  explore/src/main/scala/explore/programs/ProgramNotesTile.scala
Due: Label explore PRs

Restore ITC for S/N mode
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/common/ScienceQueries.scala
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  model-testkit/shared/src/main/scala/explore/model/arb/ArbScienceRequirements.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-testkit PRs

A bunch of renaming, monadic hooks, and some refactoring
  common/src/main/scala/explore/model/ExploreGridLayouts.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/attachments/ObsAttachmentsTableBody.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/TileIds.scala
Due: Label common PRs, Label explore PRs, Label model PRs

Time And Count Editor
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/SignalToNoiseAtEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  explore/src/main/scala/explore/config/package.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/formats.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label explore PRs, Label model PRs, Label model-tests PRs

Make a common editor for both modes
  common/src/main/scala/explore/components/ui/ExploreStyles.scala
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyConfigurationPanel.scala
  explore/src/main/scala/explore/config/TimeAndCountEditor.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/ExploreModelValidators.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Use the exp time editor on the advanced configuration panel
  common/src/main/webapp/sass/explore.scss
  explore/src/main/scala/explore/config/AdvancedConfigurationPanel.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  model-tests/shared/src/test/scala/explore/model/ExploreModelValidatorsSuite.scala
  model-tests/shared/src/test/scala/explore/model/FormatsSuite.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/parsers.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label model-tests PRs

Display custom SEDs in attachment table
  explore/src/main/scala/explore/Routing.scala
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
  explore/src/main/scala/explore/attachments/package.scala
  explore/src/main/scala/explore/tabs/OverviewTabContents.scala
  model/shared/src/main/scala/explore/model/Attachment.scala
  model/shared/src/main/scala/explore/model/ProgramSummaries.scala
  model/shared/src/main/scala/explore/model/package.scala
  model/shared/src/main/scala/explore/model/syntax/package.scala
Due: Label explore PRs, Label model PRs

Library updates
  explore/src/clue/scala/queries/common/ExecutionSubquery.scala
  explore/src/main/scala/explore/validations/GroupWarningsTile.scala
  explore/src/main/scala/explore/validations/ObservationValidationsTable.scala
  project/Versions.scala
Due: Label explore PRs

Support sending time x count requests to ITC
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/config/ExposureTimeModeEditor.scala
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcSpectroscopyPlotDescription.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  model/shared/src/main/scala/explore/events/ItcMessage.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  model/shared/src/main/scala/explore/model/display.scala
  model/shared/src/main/scala/explore/model/itc/ItcRequestParams.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/ItcServer.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Scalafix
  common/src/main/scala/explore/model/reusability.scala
  explore/src/main/scala/explore/itc/ItcResultsCache.scala
  explore/src/main/scala/explore/itc/ItcTile.scala
  model/shared/src/main/scala/explore/model/boopickle/ItcPickler.scala
  workers/src/main/scala/workers/itc/ITCGraphRequests.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label common PRs, Label explore PRs, Label model PRs, Label workers PRs

Add attachment count to tile title
  explore/src/main/scala/explore/attachments/AttachmentsTile.scala
Due: Label explore PRs

Update libs
  common/src/main/scala/explore/model/WorkerClients.scala
  project/Dependencies.scala
  project/Versions.scala
Due: Label common PRs

Show signal to noise on the modes table in time x count mode
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/model/ScienceRequirements.scala
  model/shared/src/main/scala/explore/model/itc/package.scala
  workers/src/main/scala/workers/itc/ITCRequests.scala
Due: Label explore PRs, Label model PRs, Label workers PRs

Show all the models if not possible to filter them yet
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
  model/shared/src/main/scala/explore/modes/SpectroscopyModesMatrix.scala
Due: Label explore PRs, Label model PRs

Show single exposure S/N on the tooltip
  explore/src/main/scala/explore/config/SpectroscopyModesTable.scala
Due: Label explore PRs

Improve error messages on the itc graph title
  explore/src/main/scala/explore/itc/ItcGraphQuerier.scala
Due: Label explore PRs

Read sn from the odb and display single s/n on the row for each step
  explore/src/main/scala/explore/config/sequence/GmosSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/SequenceTile.scala
  explore/src/main/scala/explore/config/sequence/SequenceTileHelper.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosNorthSequenceTable.scala
  explore/src/main/scala/explore/config/sequence/byInstrument/GmosSouthSequenceTable.scala
  explore/src/main/scala/explore/tabs/ObsTabTiles.scala
  project/Versions.scala
Due: Label explore PRs

Path conditions:
  Label common PRs: any of: ^common/
  Label explore PRs: any of: ^explore/
  Label explore-clue PRs: any of: ^explore-clue/
  Label model PRs: any of: ^model/
  Label model-testkit PRs: any of: ^model-testkit/
  Label model-tests PRs: any of: ^model-tests/
  Label workers PRs: any of: ^workers/
